@charset "utf-8";
/* CSS Document */

.activity-nav {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.activity-nav span.current {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #7cb39b;
    color: #FFFFFF;
    padding-top: 8px;
    vertical-align: top;
}

.activity-nav a {
    display: inline-block !important;
    width: 40px;
    height: 40px;
    background: #e6e6e6;
    color: #2f2725;
    padding-top: 8px !important;
    vertical-align: top;
    border-top: none !important;
}


/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.activity-nav span.current {
		font-size: 11px;
	}
	.activity-nav span.current {
		display: inline-block;
		width: 40px;
		height: 40px;
		background: #7cb39b;
		color: #FFFFFF;
		padding-top: 11px;
		vertical-align: top;
	}
	
	.activity-nav a {
		display: inline-block !important;
		width: 40px;
		height: 40px;
		background: #e6e6e6;
		color: #2f2725;
		padding-top: 11px !important;
		vertical-align: top;
		border-top: none !important;
	}
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/