@charset "utf-8";
/* CSS Document */

.st1{
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  stroke-width: 1;
  -webkit-animation: hello 4s ease-in 0s;
  animation: hello 4s ease-in 0s;
}

  @-webkit-keyframes hello {
	0% {
		stroke-dashoffset: 2000;
		fill:transparent;
	}
	40% {
		stroke-dashoffset: 2000;
		fill:transparent;
	}
	50% {
		fill:transparent;
	}
	100% {
		stroke-dashoffset: 0;
		fill:#FFFFFF;
	}
}

.l-messageBlock{	
	width: 100%;	
}
.l-messageBlock01{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../images/top/bg_mv01_pc.png) center center no-repeat;
	background-size:cover;
	height:980px;
	position:relative;
}
.l-messageBlock01 .l-inner {
	
}
.l-messageBlock01 .l-messageBlock01-01{	
	width:100%;
}
.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title{
	padding-top:175px;
}
.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title img{
	max-width:785px;
	width:100%;
}
.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white{
	margin:55px auto 0;
	padding:60px 25px;
	max-width:785px;
	width:100%;
	background-color:rgba(255,255,255,0.9);	
}
.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white p{
	line-height:2;
}
.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-title{
	font-size:28px;
	color:#333;
	font-weight:bold;	
	padding-bottom:22px;
	line-height:1.5;
}
.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-message{
	font-size:16px;
	color:#333;
	font-weight:bold;
/*font-weight:500;*/
	line-height:1.8;
	padding-bottom:25px;	
}
.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-english{
	font-size:14px;
	color:#7cb39b;
	font-weight:bold;
/*font-weight:500;*/
	line-height:1.7;	
}

.l-sliderBlock{	
	width: 100%;	
}
.l-sliderBlock01{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	height:1000px;
	position:relative;
}
.l-sliderBlock .l-sliderBlock01 .bxslider{
	width:100%;
	height:1000px;
	overflow:hidden;
	line-height:0;
	position:relative;
	z-index:99;
}
.l-sliderBlock .l-sliderBlock01 .bx-viewport{
	height:1000px !important;
	overflow-y:hidden !important;
}
.l-sliderBlock .l-sliderBlock01 .bxslider img.p-backImage{
	width:100%;
	line-height:0;
	position:absolute;
}
.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(1){
	width:100%;
	height:1000px;
	background:url(../images/top/bg_mv01_pc.jpg) center top no-repeat;
	background-size:cover;
}
.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(2){
	width:100%;
	height:1000px;
	background:url(../images/top/bg_mv02_pc.jpg) center center no-repeat;
	background-size:cover;
}
.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(3){
	width:100%;
	height:1000px;
	background:url(../images/top/bg_mv03_pc.jpg) center center no-repeat;
	background-size:cover;
}
.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(4){
	width:100%;
	height:1000px;
	background:url(../images/top/bg_mv04_pc.jpg) center center no-repeat;
	background-size:cover;
}
.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(5){
	width:100%;
	height:1000px;
	background:url(../images/top/bg_mv05_pc.jpg) center center no-repeat;
	background-size:cover;
}

.l-sliderBlock .l-sliderBlock01 .l-inner {
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:100;
}
.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01{	
	width:100%;
}
.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_title{
	padding-top:175px;
}
.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_title img{
	max-width:785px;
	width:100%;
}
.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white{
	margin:55px auto 0;
	padding:60px 25px;
	max-width:785px;
	width:100%;
	background-color:rgba(255,255,255,0.9);	
}
.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white p{
	line-height:2;
}
.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white .p-title{
	font-size:28px;
	color:#333;
	font-weight:bold;	
	padding-bottom:22px;
	line-height:1.5;
	letter-spacing:0.03em;
}
.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white .p-message{
	font-size:16px;
	color:#333;
	font-weight:bold;
	/*font-weight:500;*/
	line-height:1.8;
	padding-bottom:25px;
}
.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white .p-english{
	font-size:14px;
	color:#269029;
	font-weight:bold;
	/*font-weight:500;*/
	line-height:1.7;	
}

.l-aboutBlock{	
	width:100%;
	margin:0 auto 0;
	text-align: center;
	background-color:#FFFFFF;
	padding:80px 0 80px;
}
.l-aboutBlock .l-aboutBlock-table{	
	width:100%;
	margin:0 auto 0;
	text-align: center;
	padding:0px 0 40px;
	
	background:url(../images/top/bg_about01_1_pc.png) bottom center no-repeat;
	background-size:contain;
}
.l-aboutBlock .l-aboutBlock-table h2{	
	padding:0px 0 30px;
}
.l-aboutBlock .l-aboutBlock-table h2 img{	
	max-width:142px;
	width:100%;
}
.l-aboutBlock .l-aboutBlock-table h2 span{	
	font-size:16px;
	font-weight:bold;
	color:#7cb39b;
}
.l-aboutBlock .l-aboutBlock-table .p-message{	
	font-size:16px;
	color:#333;
	line-height:1.8;
	padding-bottom:20px;
	font-weight:bold;
}

.l-aboutBlock .l-aboutBlock-table .p-list {
    display: block;
    width: 100%;
}
.l-aboutBlock .l-aboutBlock-table .p-list p {
    display: inline-block;
    font-weight: bold;
    padding-right: 18px;
    line-height: 2;
	font-size:14px;
}
.l-aboutBlock .l-aboutBlock-table .p-list p a {
    color:#0f616b;
	font-size:14px;
	line-height:1.7;
}
.l-aboutBlock .l-aboutBlock-table .p-list p a:before {
    content: ' ';
	background:url(../images/top/ico_about_arrow.png) 0 0 no-repeat transparent;
	position: relative;
	top: -2px;
    display: inline-block;
    width: 4px;
	height: 6px;
	background-size: 4px 6px;
	margin-right:5px;
}
.l-aboutBlock .l-aboutBlock-table .p-aboutButton {
	padding-top:25px;
}
.l-aboutBlock .l-aboutBlock-table .p-aboutButton a:before {
    content: ' ';
	background:url(../images/top/ico_arrow02_pc.png) 0 0 no-repeat transparent;
	position: relative;
	top: 1px;
    display: inline-block;
    width: 6px;
	height: 10px;
	background-size: 6px 10px;
	margin-right:5px;
}
.l-aboutBlock .l-aboutBlock-table .p-aboutButton a {
    background-color: #f0ff00;
    padding: 15px 50px;
    display: inline-block;
    text-align: center;
    color: #333;
    border-radius: 0;
	font-size:18px;
	font-weight:bold;
}
.l-aboutBlock .l-aboutBlock-table .p-aboutButton a:hover {
    background-color: #ff6;
}
.l-aboutBlock .l-aboutBlock-table .p-aboutButton a span {
    position:relative;
	top:3px;
	color:#333;
}

.l-aboutBlock .l-aboutBlock-table2{	
	width:100%;
	margin:0px auto 0;
	display:block;
	/*background:url(../images/top/img_about02_pc.png) left top no-repeat;
	padding-top:100px;*/
	z-index:99;
}
.l-aboutBlock .l-aboutBlock-table2 > div{	
	width:33.3%;
	display:inline-block;
	text-align:left;
	vertical-align:top;
}
.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(1){	
	padding-right:calc(16px * 0.666);
}
.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(2){	
	padding-left:calc(16px * 0.333);
	padding-right:calc(16px * 0.333);
}
.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(3){	
	padding-left:calc(16px * 0.666);
}
.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(4){	
	padding-right:calc(16px * 0.666);
	padding-top:16px;
}
.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(5){	
	padding-left:calc(16px * 0.333);
	padding-right:calc(16px * 0.333);
	padding-top:16px;
}
.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(6){	
	padding-left:calc(16px * 0.666);
	padding-top:16px;
}
.l-aboutBlock .l-aboutBlock-table2 > div a{	
	display:block;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
}
.l-aboutBlock .l-aboutBlock-table2 > div a:hover{	
	opacity:0.7;
}
.l-aboutBlock .l-aboutBlock-table2 > div .p-image{	
	line-height:0;
}
.l-aboutBlock .l-aboutBlock-table2 > div .p-image img{	
	max-width:305px;
	width:100%;
	line-height:0;
}
.l-aboutBlock .l-aboutBlock-table2 > div .p-message{	
	padding:20px 10px;
	background-color:#edf1f4;
}
.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-title{	
	font-size:20px;
	color:#000;
	line-height:1.2;
	font-weight:bold;
	padding-bottom:20px;
	text-align:center;
}
.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-title span{	
	font-size: 14px;
    color: #7cb39b;
    font-weight: bold;
    display: block;
	padding-bottom:3px;
}
.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-title:after {
    content: ' ';
    display: block;
    font-size: 100%;
	margin-right:5px;
	position:relative;
	border-bottom:5px solid #FFFFFF;
	width:80px;
	margin:0 auto;
}
.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-message01{	
	font-size:14px;
	text-align:center;
	letter-spacing: 0;
	line-height:1.7;
	color:#333;
	font-weight:bold;
}

.l-aboutBlock .l-aboutBlock-table2 > div .p-message span img{	
	max-width:233px;
	width:100%;
}

.l-newsBlock{	
	width: 100%;
	margin:0px auto 0;
	text-align:center;
	padding:40px 0px;
	background:url(../images/top/bg_news01_pc.png) center center no-repeat;
	background-size:cover;
	min-height:360px;
	/*min-height:500px;*/
	position:relative;
}
.l-newsBlock .l-newsBlock-table {
    margin: 0px auto 0;
    padding: 50px 80px 75px;
    max-width: 785px;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
}
.l-newsBlock .l-newsBlock-table .p-title {
    padding-top:0px;
	padding-bottom:8px;
	line-height: 1.0;
}
.l-newsBlock .l-newsBlock-table .p-title span {
    font-size: 16px;
    font-weight: bold;
    color: #7cb39b;
}
.l-newsBlock .l-newsBlock-table .p-title img {
    max-width:345px;
	width:100%;
}
.l-newsBlock .l-newsBlock-table > div a {
    display:inline-block;
	margin-top:25px;
}
.l-newsBlock .l-newsBlock-table > div a:hover {
    opacity:0.7;
}
.l-newsBlock .l-newsBlock-table > div a .p-date {
    color:#0f616b;
	font-size:20px;
	line-height:1.2;
	font-weight:bold;
}
.l-newsBlock .l-newsBlock-table > div a .p-message {
    font-size:16px;
	line-height:1.5;
	font-weight:bold;
}

.l-snsBlock{	
	width:100%;
	margin:0px auto 0;
	display:block;	
	padding:70px 0 0px;
}
.l-snsBlock > div > div{	
	width:33.3%;
	display:inline-block;
	text-align:left;
	vertical-align:top;
}
.l-snsBlock > div > div:nth-child(1){	
	padding-right:10px;
}
.l-snsBlock > div > div:nth-child(2){	
	padding-left:5px;
	padding-right:5px;
}
.l-snsBlock > div > div:nth-child(3){	
	padding-left:10px;
}
.l-snsBlock > div > div .p-title{	
	
}
.l-snsBlock > div > div .p-title img{	
	max-width:305px;
	width:100%;
}
.l-snsBlock > div > div .p-detail{	
	height:300px;
	overflow-x:hidden;
	overflow-y:hidden;
	border:1px solid #ede5da;
}
.l-snsBlock > div > div .p-detail.p-insta{	
	overflow-y:auto;
	border: 1px solid #CCC;
    -webkit-overflow-scrolling: touch;
}
.l-snsBlock > div > div .p-detail.p-insta iframe{	
	width:100% !important;
}


/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-messageBlock{	
		width: 100%;	
	}
	.l-messageBlock01{	
		width: 100%;
		margin:110px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../images/top/bg_mv01_pc.png) center center no-repeat;
		background-size:cover;
		height:980px;
		position:relative;
	}
	.l-messageBlock01 .l-inner {
		
	}
	.l-messageBlock01 .l-messageBlock01-01{	
		width:100%;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title{
		padding-top:175px;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title img{
		max-width:785px;
		width:100%;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white{
		margin:55px auto 0;
		padding:60px 30px;
		max-width:785px;
		width:100%;
		background-color:rgba(255,255,255,0.9);	
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white p{
		line-height:2;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-title{
		font-size:28px;
		color:#333;
		font-weight:bold;	
		padding-bottom:22px;
		line-height:1.5;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-message{
		font-size:16px;
		color:#333;
		font-weight:bold;
/*font-weight:500;*/
		line-height:1.8;
		padding-bottom:25px;	
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-english{
		font-size:14px;
		color:#7cb39b;
		font-weight:bold;
/*font-weight:500;*/
		line-height:1.7;	
	}
	
	.l-sliderBlock{	
		width: 100%;	
	}
	.l-sliderBlock01{	
		width: 100%;
		margin:110px auto 0;
		text-align:center;
		padding-bottom:0px;
		height:1000px;
		position:relative;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider{
		width:100%;
		height:700px;
		overflow:hidden;
		line-height:0;
		position:relative;
	}
	.l-sliderBlock .l-sliderBlock01 .bx-viewport{
		height:700px !important;
		overflow-y:hidden !important;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider img.p-backImage{
		width:100%;
		line-height:0;
		position:absolute;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(1){
		width:100%;
		/*height:1000px;*/
		background:url(../images/top/bg_mv01_pc.jpg) center top no-repeat;
		background-size:cover;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(2){
		width:100%;
		/*height:1000px;*/
		background:url(../images/top/bg_mv02_pc.jpg) center center no-repeat;
		background-size:cover;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(3){
		width:100%;
		/*height:1000px;*/
		background:url(../images/top/bg_mv03_pc.jpg) center center no-repeat;
		background-size:cover;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(4){
		width:100%;
		/*height:1000px;*/
		background:url(../images/top/bg_mv04_pc.jpg) center center no-repeat;
		background-size:cover;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(5){
		width:100%;
		/*height:1000px;*/
		background:url(../images/top/bg_mv05_pc.jpg) center center no-repeat;
		background-size:cover;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(6){
		width:100%;
		/*height:1000px;*/
		background:url(../images/top/bg_mv06_pc.jpg) center center no-repeat;
		background-size:cover;
	}
	
	.l-sliderBlock .l-sliderBlock01 .l-inner {
		position:absolute;
		top:0;
		left:0;
		right:0;
		padding-bottom:40px;
		margin-bottom:40px;
	
		position:static;
		background:#f5f7f9;
		z-index:200;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01{	
		width:100%;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_title{
		padding-top:175px;
		position:absolute;
		top:0;
		left:0;
		right:0;
		z-index:100;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_title img{
		max-width:785px;
		width:100%;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white{
		margin:-300px auto 0;
		padding:60px 30px 60px;
		max-width:785px;
		width:100%;
		background-color:rgba(255,255,255,0.9);
		
		position:relative;
		z-index:300;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white p{
		line-height:2;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white .p-title{
		font-size:28px;
		color:#333;
		font-weight:bold;	
		padding-bottom:22px;
		line-height:1.5;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white .p-message{
		font-size:16px;
		color:#333;
		font-weight:bold;
		/*font-weight:500;*/
		line-height:1.8;
		padding-bottom:25px;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white .p-english{
		font-size:14px;
		color:#269029;
		font-weight:bold;
/*font-weight:500;*/
		line-height:1.7;	
	}
	
	.l-aboutBlock{	
		width:100%;
		margin:0 auto 0;
		text-align: center;
		background-color:#FFFFFF;
		padding:120px 0 40px;
	}
	.l-aboutBlock .l-aboutBlock-table{	
		width:100%;
		margin:0 auto 0;
		text-align: center;
		padding:0px 0 40px;
		
		background:none;
		background-size:contain;
	}
	.l-aboutBlock .l-aboutBlock-table h2{	
		padding:0px 0 30px;
	}
	.l-aboutBlock .l-aboutBlock-table h2 img{	
		max-width:142px;
		width:100%;
	}
	.l-aboutBlock .l-aboutBlock-table h2 span{	
		font-size:16px;
		font-weight:bold;
		color:#7cb39b;
	}
	.l-aboutBlock .l-aboutBlock-table .p-message{	
		font-size:16px;
		color:#333;
		line-height:1.8;
		padding-bottom:20px;
	}
	
	.l-aboutBlock .l-aboutBlock-table .p-list {
		display: block;
		width: 100%;
	}
	.l-aboutBlock .l-aboutBlock-table .p-list p {
		display: inline-block;
		font-weight: bold;
		padding-right: 18px;
		line-height: 2;
		font-size:14px;
	}
	.l-aboutBlock .l-aboutBlock-table .p-list p a {
		color:#0f616b;
		font-size:14px;
		line-height:1.7;
	}
	.l-aboutBlock .l-aboutBlock-table .p-list p a:before {
		content: ' ';
		background:url(../images/top/ico_about_arrow.png) 0 0 no-repeat transparent;
		position: relative;
		top: -2px;
		display: inline-block;
		width: 4px;
		height: 6px;
		background-size: 4px 6px;
		margin-right:5px;
	}
	.l-aboutBlock .l-aboutBlock-table .p-aboutButton {
		padding-top:25px;
	}
	.l-aboutBlock .l-aboutBlock-table .p-aboutButton a:before {
		content: ' ';
		background:url(../images/top/ico_arrow02_pc.png) 0 0 no-repeat transparent;
		position: relative;
		top: 1px;
		display: inline-block;
		width: 6px;
		height: 10px;
		background-size: 6px 10px;
		margin-right:5px;
	}
	.l-aboutBlock .l-aboutBlock-table .p-aboutButton a {
		background-color: #f0ff00;
		padding: 15px 50px;
		display: inline-block;
		text-align: center;
		color: #333;
		border-radius: 0;
		font-size:18px;
	}
	.l-aboutBlock .l-aboutBlock-table .p-aboutButton a:hover {
		background-color: #ff6;
	}
	.l-aboutBlock .l-aboutBlock-table .p-aboutButton a span {
		position:relative;
		top:3px;
		color:#333;
	}
	
	.l-aboutBlock .l-aboutBlock-table2{	
		width:100%;
		margin:0px auto 0;
		display:block;
		/*background:url(../images/top/img_about02_pc.png) left top no-repeat;
		padding-top:100px;*/
		z-index:99;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div{	
		width:33.3%;
		display:inline-block;
		text-align:left;
		vertical-align:top;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(1){	
		padding-right:10px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(2){	
		padding-left:5px;
		padding-right:5px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(3){	
		padding-left:10px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(4){	
		padding-right:10px;
		padding-top:16px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(5){	
		padding-left:5px;
		padding-right:5px;
		padding-top:16px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(6){	
		padding-left:10px;
		padding-top:16px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div a{	
		display:block;
		-webkit-transition:.3s;
		-moz-transition:.3s;
		transition:.3s;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div a:hover{	
		opacity:0.7;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-image{	
		line-height:0;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-image img{	
		max-width:305px;
		width:100%;
		line-height:0;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message{	
		padding:20px 10px;
		background-color:#edf1f4;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-title{	
		font-size:20px;
		color:#000;
		line-height:1.2;
		font-weight:bold;
		padding-bottom:20px;
		text-align:center;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-title span{	
		font-size: 14px;
		color: #7cb39b;
		font-weight: bold;
		display: block;
		padding-bottom:3px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-title:after {
		content: ' ';
		display: block;
		font-size: 100%;
		margin-right:5px;
		position:relative;
		border-bottom:5px solid #FFFFFF;
		width:80px;
		margin:0 auto;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-message01{	
		font-size:14px;
		text-align:center;
		letter-spacing: 0;
		line-height:1.7;
		color:#333;
	}
	
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message span img{	
		max-width:233px;
		width:100%;
	}
	
	.l-newsBlock{	
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		padding:40px 0px;
		background:url(../images/top/bg_news01_pc.png) center center no-repeat;
		background-size:cover;
		min-height:360px;
		position:relative;
	}
	.l-newsBlock .l-newsBlock-table {
		margin: 0px auto 0;
		padding: 50px 80px 75px;
		max-width: 785px;
		width: 100%;
		background-color: rgba(255,255,255,0.9);
	}
	.l-newsBlock .l-newsBlock-table .p-title {
		padding-top:0px;
		padding-bottom:8px;
		line-height: 1.0;
	}
	.l-newsBlock .l-newsBlock-table .p-title span {
		font-size: 16px;
		font-weight: bold;
		color: #7cb39b;
	}
	.l-newsBlock .l-newsBlock-table .p-title img {
		max-width:345px;
		width:100%;
	}
	.l-newsBlock .l-newsBlock-table > div a {
		display:inline-block;
		margin-top:25px;
	}
	.l-newsBlock .l-newsBlock-table > div a:hover {
		opacity:0.7;
	}
	.l-newsBlock .l-newsBlock-table > div a .p-date {
		color:#0f616b;
		font-size:20px;
		line-height:1.2;
	}
	.l-newsBlock .l-newsBlock-table > div a .p-message {
		font-size:16px;
		line-height:1.5;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-messageBlock{	
		width: 100%;	
	}
	.l-messageBlock01{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:28px;
		background:url(../images/top/bg_mv01_pc.png) center center no-repeat;
		background-size:cover;
		height:auto;
		position:relative;
	}
	.l-messageBlock01 .l-inner {
		
	}
	.l-messageBlock01 .l-messageBlock01-01{	
		width:100%;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title{
		padding-top:122px;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title img{
		max-width:604px;
		width:100%;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white{
		margin:38px auto 0;
		padding:40px 20px;
		max-width:785px;
		width:100%;
		background-color:rgba(255,255,255,0.9);	
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white p{
		line-height:2;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-title{
		font-size:20px;
		color:#333;
		font-weight:bold;	
		padding-bottom:22px;
		line-height:1.5;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-message{
		font-size:16px;
		color:#333;
		font-weight:bold;
		/*font-weight:500;*/
		line-height:1.8;
		padding-bottom:18px;	
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-english{
		font-size:14px;
		color:#7cb39b;
		font-weight:bold;
		/*font-weight:500;*/
		line-height:1.7;	
	}
	
	.l-sliderBlock{	
		width: 100%;	
	}
	.l-sliderBlock01{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		height:auto;
		position:relative;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider{
		width:100%;
		height:500px;
		overflow:hidden;
		line-height:0;
		position:relative;
	}
	.l-sliderBlock .l-sliderBlock01 .bx-viewport{
		height:500px !important;
		overflow-y:hidden !important;
		position:absolute;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider img.p-backImage{
		width:100%;
		line-height:0;
		position:absolute;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider{
		height:500px !important;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li{
		height:500px !important;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(1){
		width:100%;
		
		background:url(../images/top/bg_mv01_sp.jpg) center center no-repeat;
		background-size:cover;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(2){
		width:100%;
		
		background:url(../images/top/bg_mv02_pc.jpg) center center no-repeat;
		background-size:cover;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(3){
		width:100%;
		
		background:url(../images/top/bg_mv03_pc.jpg) center center no-repeat;
		background-size:cover;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(4){
		width:100%;
		
		background:url(../images/top/bg_mv04_pc.jpg) center center no-repeat;
		background-size:cover;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(5){
		width:100%;
		
		background:url(../images/top/bg_mv05_pc.jpg) center center no-repeat;
		background-size:cover;
	}
	
	.l-sliderBlock .l-sliderBlock01 .l-inner {
		/*position:absolute;*/
		top:0;
		left:0;
		right:0;
		padding-bottom:30px;
		margin-bottom:0px;
	
		position:static;
		background:#f5f7f9;
		z-index:200;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01{	
		width:100%;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_title{
		padding-top:122px;
		position:absolute;
		top:0;
		left:0;
		right:0;
		z-index:100;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_title img{
		max-width:604px;
		width:100%;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white{
		margin:-150px auto 0;
		padding:40px 20px;
		max-width:785px;
		width:100%;
		background-color:rgba(255,255,255,0.9);	
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white p{
		line-height:2;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white .p-title{
		font-size:22px;
		color:#333;
		font-weight:bold;	
		padding-bottom:22px;
		line-height:1.5;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white .p-message{
		font-size:16px;
		color:#333;
		font-weight:bold;
		/*font-weight:500;*/
		line-height:1.8;
		padding-bottom:18px;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white .p-english{
		font-size:14px;
		color:#269029;
		font-weight:bold;
		/*font-weight:500;*/
		line-height:1.7;	
	}
	
	.l-aboutBlock{	
		width:100%;
		margin:0 auto 0;
		text-align: center;
		background-color:#FFFFFF;
		padding:56px 0 28px;
	}
	.l-aboutBlock .l-aboutBlock-table{	
		width:100%;
		margin:0 auto 0;
		text-align: center;
		padding:0px 0 28px;
		
		background:none;
		background-size:contain;
	}
	.l-aboutBlock .l-aboutBlock-table h2{	
		padding:0px 0 20px;
	}
	.l-aboutBlock .l-aboutBlock-table h2 img{	
		max-width:100px;
		width:100%;
	}
	.l-aboutBlock .l-aboutBlock-table h2 span{	
		font-size:14px;
		font-weight:bold;
		color:#7cb39b;
	}
	.l-aboutBlock .l-aboutBlock-table .p-message{	
		font-size:14px;
		color:#333;
		line-height:1.8;
		padding-bottom:15px;
	}
	
	.l-aboutBlock .l-aboutBlock-table .p-list {
		display: block;
		width: 100%;
	}
	.l-aboutBlock .l-aboutBlock-table .p-list p {
		display: inline-block;
		font-weight: bold;
		padding-right: 18px;
		line-height: 2;
		font-size:14px;
	}
	.l-aboutBlock .l-aboutBlock-table .p-list p a {
		color:#0f616b;
		font-size:14px;
		line-height:1.7;
	}
	.l-aboutBlock .l-aboutBlock-table .p-list p a:before {
		content: ' ';
		background:url(../images/top/ico_about_arrow.png) 0 0 no-repeat transparent;
		position: relative;
		top: -2px;
		display: inline-block;
		width: 4px;
		height: 6px;
		background-size: 4px 6px;
		margin-right:5px;
	}
	.l-aboutBlock .l-aboutBlock-table .p-aboutButton {
		padding-top:25px;
	}
	.l-aboutBlock .l-aboutBlock-table .p-aboutButton a:before {
		content: ' ';
		background:url(../images/top/ico_arrow02_pc.png) 0 0 no-repeat transparent;
		position: relative;
		top: 1px;
		display: inline-block;
		width: 5px;
		height: 8px;
		background-size: 5px 8px;
		margin-right:5px;
	}
	.l-aboutBlock .l-aboutBlock-table .p-aboutButton a {
		background-color: #f0ff00;
		padding: 10px 35px;
		display: inline-block;
		text-align: center;
		color: #333;
		border-radius: 0;
		font-size:16px;
	}
	.l-aboutBlock .l-aboutBlock-table .p-aboutButton a:hover {
		background-color: #ff6;
	}
	.l-aboutBlock .l-aboutBlock-table .p-aboutButton a span {
		position:relative;
		top:3px;
		color:#333;
	}
	
	.l-aboutBlock .l-aboutBlock-table2{	
		width:100%;
		margin:0px auto 0;
		display:block;
		/*background:url(../images/top/img_about02_pc.png) left top no-repeat;
		padding-top:100px;*/
		z-index:99;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div{	
		width:50%;
		display:inline-block;
		text-align:left;
		vertical-align:top;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(1){	
		padding-right:8px;
		padding-left:0px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(2){	
		padding-left:8px;
		padding-right:0px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(3){
		padding-right:8px;
		padding-left:0px;
		padding-top:16px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(4){	
		padding-left:8px;
		padding-right:0px;
		padding-top:16px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(5){	
		padding-right:8px;
		padding-left:0px;
		padding-top:16px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(6){	
		padding-left:8px;
		padding-right:0px;
		padding-top:16px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div a{	
		display:block;
		-webkit-transition:.3s;
		-moz-transition:.3s;
		transition:.3s;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div a:hover{	
		opacity:0.7;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-image{	
		line-height:0;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-image img{	
		max-width:100%;
		width:100%;
		line-height:0;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message{	
		padding:20px 10px;
		background-color:#edf1f4;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-title{	
		font-size:18px;
		color:#000;
		line-height:1.2;
		font-weight:bold;
		padding-bottom:20px;
		text-align:center;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-title span{	
		font-size: 12px;
		color: #7cb39b;
		font-weight: bold;
		display: block;
		padding-bottom:3px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-title:after {
		content: ' ';
		display: block;
		font-size: 100%;
		margin-right:5px;
		position:relative;
		border-bottom:4px solid #FFFFFF;
		width:80px;
		margin:0 auto;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-message01{	
		font-size:14px;
		text-align:center;
		letter-spacing: 0;
		line-height:1.7;
		color:#333;
	}
	
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message span img{	
		max-width:233px;
		width:100%;
	}	
	
	.l-newsBlock{	
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		padding:30px 0px;
		background:url(../images/top/bg_news01_pc.png) center center no-repeat;
		background-size:cover;
		min-height:100%;
		position:relative;
	}
	.l-newsBlock .l-newsBlock-table {
		margin: 0px auto 0;
		padding: 45px 30px 52px;
		max-width: 785px;
		width: 100%;
		background-color: rgba(255,255,255,0.9);
	}
	.l-newsBlock .l-newsBlock-table .p-title {
		padding-top:0px;
		padding-bottom:8px;
		line-height: 1.0;
	}
	.l-newsBlock .l-newsBlock-table .p-title span {
		font-size: 14px;
		font-weight: bold;
		color: #7cb39b;
	}
	.l-newsBlock .l-newsBlock-table .p-title img {
		max-width:241px;
		width:100%;
	}
	.l-newsBlock .l-newsBlock-table > div a {
		display:inline-block;
		margin-top:17px;
	}
	.l-newsBlock .l-newsBlock-table > div a:hover {
		opacity:0.7;
	}
	.l-newsBlock .l-newsBlock-table > div a .p-date {
		color:#0f616b;
		font-size:18px;
		line-height:1.2;
	}
	.l-newsBlock .l-newsBlock-table > div a .p-message {
		font-size:14px;
		line-height:1.5;
	}
		
	.l-snsBlock{	
		text-align:left;
		padding:50px 0 0;
	}
	.l-snsBlock > div > div{	
		width:50%;
		display:inline-block;
		text-align:left;
		vertical-align:top;
	}
	.l-snsBlock > div > div:nth-child(1){	
		padding-right:8px;
	}
	.l-snsBlock > div > div:nth-child(2){	
		padding-left:8px;
		padding-right:0px;
	}
	.l-snsBlock > div > div:nth-child(3){	
		padding-left:0px;
		padding-right:8px;
		padding-top:30px;
	}
	.l-snsBlock > div > div .p-title{	
		
	}
	.l-snsBlock > div > div .p-title img{	
		max-width:305px;
		width:100%;
	}
	.l-snsBlock > div > div .p-detail{	
		height:300px;
		overflow-x:hidden;
		overflow-y:hidden;
		border:1px solid #ede5da;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-messageBlock{	
		width: 100%;	
	}
	.l-messageBlock01{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:20px;
		background:url(../images/top/bg_mv01_pc.png) center center no-repeat;
		background-size:cover;
		height:auto;
		position:relative;
	}
	.l-messageBlock01 .l-inner {
		
	}
	.l-messageBlock01 .l-messageBlock01-01{	
		width:100%;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title{
		padding-top:85px;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title img{
		max-width:392px;
		width:100%;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white{
		margin:28px auto 0;
		padding:30px 15px;
		max-width:785px;
		width:100%;
		background-color:rgba(255,255,255,0.9);	
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white p{
		line-height:2;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-title{
		font-size:16px;
		color:#333;
		font-weight:bold;	
		padding-bottom:10px;
		line-height:1.7;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-message{
		font-size:14px;
		color:#333;
		font-weight:bold;
		/*font-weight:500;*/
		line-height:1.8;
		padding-bottom:12px;	
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-english{
		font-size:12px;
		color:#7cb39b;
		font-weight:bold;
		/*font-weight:500;*/
		line-height:1.7;	
	}
	
	.l-sliderBlock{	
		width: 100%;	
	}
	.l-sliderBlock01{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		height:auto;
		position:relative;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider{
		width:100%;
		height:300px;
		overflow:hidden;
		line-height:0;
		position:relative;
	}
	.l-sliderBlock .l-sliderBlock01 .bx-viewport{
		height:300px !important;
		overflow-y:hidden !important;
		position:absolute;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider img.p-backImage{
		width:100%;
		line-height:0;
		position:absolute;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider{
		height:300px !important;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li{
		height:300px !important;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(1){
		width:100%;
		/*height:976px;*/
		background:url(../images/top/bg_mv01_sp.jpg) center top no-repeat;
		background-size:cover;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(2){
		width:100%;
		/*height:976px;*/
		background:url(../images/top/bg_mv02_pc.jpg) center center no-repeat;
		background-size:cover;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(3){
		width:100%;
		/*height:976px;*/
		background:url(../images/top/bg_mv03_pc.jpg) center center no-repeat;
		background-size:cover;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(4){
		width:100%;
		/*height:976px;*/
		background:url(../images/top/bg_mv04_pc.jpg) center center no-repeat;
		background-size:cover;
	}
	.l-sliderBlock .l-sliderBlock01 .bxslider li:nth-of-type(5){
		width:100%;
		/*height:976px;*/
		background:url(../images/top/bg_mv05_pc.jpg) center center no-repeat;
		background-size:cover;
	}
	
	.l-sliderBlock .l-sliderBlock01 .l-inner {
		/*position:absolute;
		top:0;
		left:0;
		right:0;*/
		padding-bottom:30px;
		margin-bottom:0px;
	
		position:static;
		background:#f5f7f9;
		z-index:200;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01{	
		width:100%;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_title{
		padding-top:85px;
		position:absolute;
		top:0;
		left:0;
		right:0;
		z-index:100;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_title img{
		max-width:392px;
		width:100%;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white{
		margin:-60px auto 0;
		padding:30px 15px;
		max-width:785px;
		width:100%;
		background-color:rgba(255,255,255,0.9);
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white p{
		line-height:2;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white .p-title{
		font-size:20px;
		color:#333;
		font-weight:bold;	
		padding-bottom:10px;
		line-height:1.5;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white .p-message{
		font-size:14px;
		color:#333;
		font-weight:bold;
		/*font-weight:500;*/
		line-height:1.8;
		padding-bottom:12px;
	}
	.l-sliderBlock .l-sliderBlock01 .l-sliderBlock01-01 .l-sliderBlock_white .p-english{
		font-size:12px;
		color:#269029;
		font-weight:bold;
/*font-weight:500;*/
		line-height:1.7;	
	}
	
	.l-aboutBlock{	
		width:100%;
		margin:0 auto 0;
		text-align: center;
		background-color:#FFFFFF;
		padding:40px 0 20px;
	}
	.l-aboutBlock .l-aboutBlock-table{	
		width:100%;
		margin:0 auto 0;
		text-align: center;
		padding:0px 0 20px;
		
		background:none;
		background-size:contain;
	}
	.l-aboutBlock .l-aboutBlock-table h2{	
		padding:0px 0 15px;
	}
	.l-aboutBlock .l-aboutBlock-table h2 img{	
		max-width:80px;
		width:100%;
	}
	.l-aboutBlock .l-aboutBlock-table h2 span{	
		font-size:12px;
		font-weight:bold;
		color:#7cb39b;
	}
	.l-aboutBlock .l-aboutBlock-table .p-message{	
		font-size:14px;
		color:#333;
		line-height:1.8;
		padding-bottom:10px;
	}
	
	.l-aboutBlock .l-aboutBlock-table .p-list {
		display: block;
		width: 100%;
	}
	.l-aboutBlock .l-aboutBlock-table .p-list p {
		display: inline-block;
		font-weight: bold;
		padding-right: 10px;
		line-height: 2;
		font-size:12px;
	}
	.l-aboutBlock .l-aboutBlock-table .p-list p a {
		color:#0f616b;
		font-size:14px;
		line-height:1.7;
	}
	.l-aboutBlock .l-aboutBlock-table .p-list p a:before {
		content: ' ';
		background:url(../images/top/ico_about_arrow.png) 0 0 no-repeat transparent;
		position: relative;
		top: -2px;
		display: inline-block;
		width: 3px;
		height: 5px;
		background-size: 3px 5px;
		margin-right:5px;
	}
	.l-aboutBlock .l-aboutBlock-table .p-aboutButton {
		padding-top:12px;
	}
	.l-aboutBlock .l-aboutBlock-table .p-aboutButton a:before {
		content: ' ';
		background:url(../images/top/ico_arrow02_pc.png) 0 0 no-repeat transparent;
		position: relative;
		top: 2px;
		display: inline-block;
		width: 4px;
		height: 8px;
		background-size: 4px 8px;
		margin-right:5px;
	}
	.l-aboutBlock .l-aboutBlock-table .p-aboutButton a {
		background-color: #f0ff00;
		padding: 8px 25px;
		display: inline-block;
		text-align: center;
		color: #333;
		border-radius: 0;
		font-size:14px;
	}
	.l-aboutBlock .l-aboutBlock-table .p-aboutButton a:hover {
		background-color: #ff6;
	}
	.l-aboutBlock .l-aboutBlock-table .p-aboutButton a span {
		position:relative;
		top:2px;
		color:#333;
		font-size:14px;
	}
	
	.l-aboutBlock .l-aboutBlock-table2{	
		width:100%;
		margin:0px auto 0;
		display:block;
		/*background:url(../images/top/img_about02_pc.png) left top no-repeat;
		padding-top:100px;*/
		z-index:99;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div{	
		width:100%;
		display:block;
		text-align:left;
		vertical-align:top;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(1){	
		padding-right:0px;
		padding-left:0px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(2){	
		padding-left:0px;
		padding-right:0px;
		padding-top:10px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(3){
		padding-right:0px;
		padding-left:0px;
		padding-top:10px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(4){	
		padding-left:0px;
		padding-right:0px;
		padding-top:10px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(5){	
		padding-right:0px;
		padding-left:0px;
		padding-top:10px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div:nth-child(6){	
		padding-left:0px;
		padding-right:0px;
		padding-top:10px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div a{	
		display:block;
		-webkit-transition:.3s;
		-moz-transition:.3s;
		transition:.3s;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div a:hover{	
		opacity:0.7;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-image{	
		line-height:0;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-image img{	
		max-width:100%;
		width:100%;
		line-height:0;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message{	
		padding:15px 10px;
		background-color:#edf1f4;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-title{	
		font-size:16px;
		color:#000;
		line-height:1.2;
		font-weight:bold;
		padding-bottom:10px;
		text-align:center;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-title span{	
		font-size: 12px;
		color: #7cb39b;
		font-weight: bold;
		display: block;
		padding-bottom:3px;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-title:after {
		content: ' ';
		display: block;
		font-size: 100%;
		margin-right:5px;
		position:relative;
		border-bottom:3px solid #FFFFFF;
		width:80px;
		margin:0 auto;
	}
	.l-aboutBlock .l-aboutBlock-table2 > div .p-message .p-message01{	
		font-size:14px;
		text-align:center;
		letter-spacing: 0;
		line-height:1.7;
		color:#333;
	}
	
	.l-newsBlock{	
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		padding:20px 0px;
		background:url(../images/top/bg_news01_pc.png) center center no-repeat;
		background-size:cover;
		min-height:100%;
		position:relative;
	}
	.l-newsBlock .l-newsBlock-table {
		margin: 0px auto 0;
		padding: 25px 15px 30px;
		max-width: 785px;
		width: 100%;
		background-color: rgba(255,255,255,0.9);
	}
	.l-newsBlock .l-newsBlock-table .p-title {
		padding-top:0px;
		padding-bottom:6px;
		line-height: 1.0;
	}
	.l-newsBlock .l-newsBlock-table .p-title span {
		font-size: 12px;
		font-weight: bold;
		color: #7cb39b;
	}
	.l-newsBlock .l-newsBlock-table .p-title img {
		max-width:172px;
		width:100%;
	}
	.l-newsBlock .l-newsBlock-table > div a {
		display:inline-block;
		margin-top:12px;
	}
	.l-newsBlock .l-newsBlock-table > div a:hover {
		opacity:0.7;
	}
	.l-newsBlock .l-newsBlock-table > div a .p-date {
		color:#0f616b;
		font-size:16px;
		line-height:1.2;
	}
	.l-newsBlock .l-newsBlock-table > div a .p-message {
		font-size:14px;
		line-height:1.5;
	}
	
	.l-snsBlock{	
		text-align:left;
		padding: 35px 0 0px;
	}
	.l-snsBlock > div > div{
		width:100%;
		display:block;
		text-align:left;
		vertical-align:top;
	}
	.l-snsBlock > div > div:nth-child(1){	
		padding-right:0px;
	}
	.l-snsBlock > div > div:nth-child(2){	
		padding-left:0px;
		padding-right:0px;
		padding-top:30px;
	}
	.l-snsBlock > div > div:nth-child(3){	
		padding-left:0px;
		padding-right:0px;
		padding-top:30px;
	}
	.l-snsBlock > div > div .p-title{	
		
	}
	.l-snsBlock > div > div .p-title img{	
		max-width:210px;
		width:100%;
	}
	.l-snsBlock > div > div .p-detail{	
		height:300px;
		overflow-x:hidden;
		overflow-y:hidden;
		border:1px solid #ede5da;
	}
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/