@charset "utf-8";
/* CSS Document */

/*.l-farmBlock01{
	width:100%;
	margin:0 auto;
	padding:0 0 80px;	
}
.l-farmBlock01 .l-farmBlock01-01{
	width:100%;
	border:1px solid #7cb39b;
}
.l-farmBlock01 .l-farmBlock01-01 .p-title{
	width:100%;
	border-bottom:1px solid #7cb39b;
	padding:30px;
	text-align:center;
}
.l-farmBlock01 .l-farmBlock01-01 .p-title p{
	font-size:20px;
	color:#7cb39b;
	font-weight:bold;
}
.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table{
	width:100%;
	border-top:1px solid #7cb39b;
	margin-top:2px;
	display:table;
}
.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div{
	display:table-cell;
	vertical-align:top;
}
.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-image{
	width:51%;	
	padding:15px;
	line-height:0;
}
.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-image p{
	text-align:center;
}
.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-image p img{
	max-width:367px;
	width:100%;
}
.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-message{
	width:auto;	
	padding:30px 15px 15px 0;
}
.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-message p{
	font-size:14px;
	line-height:1.7;
}
.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-message p.p-link{
	padding-top:10px;
}
.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-message p.p-link a{
	color:#0f616b;
}
.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-message p.p-link a:before {
    content: ' ';
	background:url(../../images/farm/ico_farm_arrow.png) 0 0 no-repeat transparent;
	position: relative;
	top: -2px;
    display: inline-block;
    width: 4px;
	height: 6px;
	background-size: 4px 6px;
	margin-right:5px;
}*/



/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	/*.l-farmBlock01{
		width:100%;
		margin:0 auto;
		padding:0 0 56px;	
	}
	.l-farmBlock01 .l-farmBlock01-01{
		width:100%;
		border:1px solid #7cb39b;
	}
	.l-farmBlock01 .l-farmBlock01-01 .p-title{
		width:100%;
		border-bottom:1px solid #7cb39b;
		padding:20px;
		text-align:center;
	}
	.l-farmBlock01 .l-farmBlock01-01 .p-title p{
		font-size:18px;
		color:#7cb39b;
		font-weight:bold;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table{
		width:100%;
		border-top:1px solid #7cb39b;
		margin-top:2px;
		display:block;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div{
		display:block;
		vertical-align:top;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-image{
		width:100%;	
		padding:15px;
		line-height:0;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-image p{
		text-align:center;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-image p img{
		max-width:367px;
		width:100%;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-message{
		width:100%;	
		padding:0px 15px 15px 15px;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-message p{
		font-size:14px;
		line-height:1.7;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-message p.p-link{
		padding-top:10px;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-message p.p-link a{
		color:#0f616b;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-message p.p-link a:before {
		content: ' ';
		background:url(../../images/farm/ico_farm_arrow.png) 0 0 no-repeat transparent;
		position: relative;
		top: -2px;
		display: inline-block;
		width: 4px;
		height: 6px;
		background-size: 4px 6px;
		margin-right:5px;
	}*/
	
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	/*.l-farmBlock01{
		width:100%;
		margin:0 auto;
		padding:0 0 40px;	
	}
	.l-farmBlock01 .l-farmBlock01-01{
		width:100%;
		border:1px solid #7cb39b;
	}
	.l-farmBlock01 .l-farmBlock01-01 .p-title{
		width:100%;
		border-bottom:1px solid #7cb39b;
		padding:15px;
		text-align:center;
	}
	.l-farmBlock01 .l-farmBlock01-01 .p-title p{
		font-size:16px;
		color:#7cb39b;
		font-weight:bold;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table{
		width:100%;
		border-top:1px solid #7cb39b;
		margin-top:2px;
		display:block;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div{
		display:block;
		vertical-align:top;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-image{
		width:100%;	
		padding:10px;
		line-height:0;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-image p{
		text-align:center;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-image p img{
		max-width:367px;
		width:100%;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-message{
		width:100%;	
		padding:0px 10px 10px 10px;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-message p{
		font-size:12px;
		line-height:1.7;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-message p.p-link{
		padding-top:10px;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-message p.p-link a{
		color:#0f616b;
	}
	.l-farmBlock01 .l-farmBlock01-01 .l-farmBlock01-table > div.p-message p.p-link a:before {
		content: ' ';
		background:url(../../images/farm/ico_farm_arrow.png) 0 0 no-repeat transparent;
		position: relative;
		top: -2px;
		display: inline-block;
		width: 3px;
		height: 5px;
		background-size: 3px auto;
		margin-right:3px;
	}*/	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/