@charset "utf-8";
/* CSS Document */

/*.l-valueBlock01{	
	width: 100%;
	margin:0px auto;
	text-align:center;
	padding:10px 0 0;
}
.l-valueBlock01 .p-title{	
	background:url(../../images/farm/value/bg_value01_pc.jpg) center top no-repeat;
	background-size:100% auto;
	padding-top:8.27%;
	margin:0 auto;
}
.l-valueBlock01 .p-title p{	
	text-align:left;
	font-size:27px;
	position:relative;
	top:-30px;
}
.l-valueBlock01 .p-title2{	
	line-height:2;
	font-size:18px;
	color:#155c70;
	padding-top:40px;
	padding-bottom:5px;
	text-align:left;
}
.l-valueBlock01 .p-message{	
	line-height:2;
	font-size:14px;
	padding-top:25px;
	text-align:left;
	letter-spacing:0;
}
.l-valueBlock01 .p-image{	
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
	margin:0 auto;
	display:table;
	max-width:621px;
	width:100%;
}
.l-valueBlock01 .p-image p{	
	display:table-cell;
	vertical-align:top;
}
.l-valueBlock01 .p-image p:nth-child(1){	
	text-align:right;
	padding-right:6px;
}
.l-valueBlock01 .p-image p:nth-child(2){	
	text-align:center;
	padding-left:3px;
	padding-right:3px;
}
.l-valueBlock01 .p-image p:nth-child(3){	
	text-align:left;
	padding-left:6px;
}
.l-valueBlock01 .p-image p img{	
	max-width:201px;
	width:100%;
}

.l-valueBlock02{	
	width: 100%;
	margin:0px auto;
	text-align:center;
	padding:10px 0 0;
}
.l-valueBlock02 .p-title{	
	background:url(../../images/farm/value/bg_value02_pc.jpg) center top no-repeat;
	background-size:100% auto;
	padding-top:8.27%;
	margin:0 auto;
}
.l-valueBlock02 .p-title p{	
	text-align:left;
	font-size:27px;
	position:relative;
	top:-30px;
}
.l-valueBlock02 .l-valueBlock02_table{	
	width:100%;
	margin:0 auto;
	text-align:center;
	display:table;
}
.l-valueBlock02 .l-valueBlock02_table > div{	
	display:table-cell;
	vertical-align:top;
}
.l-valueBlock02 .l-valueBlock02_table > div.l-left{	
	width:50.8%;
}
.l-valueBlock02 .l-valueBlock02_table > div.l-right{	
	width:auto;
}
.l-valueBlock02 .l-valueBlock02_table .l-valueBlock02_white{	
	margin:0px auto 0;
	padding:0px 16px 20px 0;
	width:100%;
}
.l-valueBlock02 .p-title2{	
	line-height:2;
	font-size:18px;
	color:#155c70;
	padding-top:30px;
	padding-bottom:5px;
	text-align:left;
}
.l-valueBlock02 .p-message{	
	line-height:2;
	font-size:14px;
	padding-top:25px;
	text-align:left;
	letter-spacing:0;
}
.l-valueBlock02 .p-image01{	
	padding-top:30px;
	padding-bottom:0px;
	text-align:left;
}
.l-valueBlock02 .p-image01 img{	
	max-width:464px;
	width:100%;
}
.l-valueBlock02 .p-image02{	
	padding-top:2px;
	padding-bottom:0px;
	padding-right:30px;
	text-align:left;
}
.l-valueBlock02 .p-image02 img{	
	max-width:303px;
	width:100%;
}

.l-valueBlock03{	
	width: 100%;
	margin:0px auto;
	text-align:center;
	padding:10px 0 0;
}
.l-valueBlock03 .p-title{	
	background:url(../../images/farm/value/bg_value03_pc.jpg) center top no-repeat;
	background-size:100% auto;
	padding-top:8.27%;
	margin:0 auto;
}
.l-valueBlock03 .p-title p{	
	text-align:left;
	font-size:27px;
	position:relative;
	top: -30px;
}
.l-valueBlock03 .l-valueBlock03_table{	
	width:100%;
	margin:0 auto;
	text-align:center;
	padding-bottom:80px;
}
.l-valueBlock03 .l-valueBlock03_table > div{	
	width:50%;
	display:inline-block;
	vertical-align:top;
}
.l-valueBlock03 .l-valueBlock03_table > div.l-left{
	width:calc(100% - 50.8%);
	float:left;
}
.l-valueBlock03 .l-valueBlock03_table > div.l-right{
	width:50.8%;
	float:right;
}
.l-valueBlock03 .l-valueBlock03_table .l-valueBlock03_white{	
	margin:0px auto 0;
	padding:0px 0px 20px 16px;
	width:100%;
}
.l-valueBlock03 .p-title2{	
	line-height:2;
	font-size:18px;
	color:#155c70;
	padding-top:30px;
	padding-bottom:5px;
	text-align:left;
}
.l-valueBlock03 .p-message{	
	line-height:2;
	font-size:14px;
	padding-top:25px;
	text-align:left;
	letter-spacing:0;
}
.l-valueBlock03 .p-image01{	
	padding-top:30px;
	padding-bottom:0px;
	text-align:right;
}
.l-valueBlock03 .p-image01 img{	
	max-width:465px;
	width:100%;
}
.l-valueBlock03 .p-image02{	
	padding-top:2px;
	padding-bottom:0px;
	text-align:right;
}
.l-valueBlock03 .p-image02 img{	
	max-width:306px;
	width:100%;
}*/

/*.l-buttonBlock{	
	width: 100%;
	margin:0px auto;
	text-align:center;
	padding:0px 0 80px;
}
.l-buttonBlock .l-buttonBlock-table{	
	display:table;
	margin:0px auto;
	text-align:center;
}
.l-buttonBlock .l-buttonBlock-table p{	
	display:table-cell;
	vertical-align:top;
}
.l-buttonBlock .l-buttonBlock-table p.p-left{	
	text-align:right;
	padding-right:8px;
}
.l-buttonBlock .l-buttonBlock-table p.p-right{	
	text-align:left;
	padding-left:8px;
}
.l-buttonBlock .l-buttonBlock-table p img{	
	max-width:384px;
	width:100%;
}*/

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	/*.l-valueBlock01{	
		width: 100%;
		margin:0px auto;
		text-align:center;
		padding:20px 0 0;
	}
	.l-valueBlock01 .p-title p{	
		text-align:left;
		font-size:20px;
		position:relative;
		top:-25px;
	}
	.l-valueBlock01 .p-title2{	
		line-height:2;
		font-size:18px;
		color:#155c70;
		padding-top:30px;
		padding-bottom:5px;
		text-align:left;
	}
	.l-valueBlock01 .p-image{	
		padding-top:30px;
		padding-bottom:30px;
		text-align:left;
		margin:0 auto;
		display:block;
		max-width:100%;
		width:100%;
	}
	.l-valueBlock01 .p-image p{	
		display:inline-block;
		vertical-align:top;
		width:50%;
	}
	.l-valueBlock01 .p-image p:nth-child(1){	
		text-align:center;
		padding-right:5px;
	}
	.l-valueBlock01 .p-image p:nth-child(2){	
		text-align:center;
		padding-left:5px;
		padding-right:0px;
	}
	.l-valueBlock01 .p-image p:nth-child(3){	
		text-align:center;
		padding-top: 7px;
		padding-left:0px;
		padding-right:5px;
	}
	.l-valueBlock01 .p-image p img{	
		max-width:201px;
		width:100%;
	}
	
	.l-valueBlock02{	
		width: 100%;
		margin:0px auto;
		text-align:center;
		padding:10px 0 30px;
	}
	.l-valueBlock02 .p-title{	
		background:url(../../images/farm/value/bg_value02_pc.jpg) center top no-repeat;
		background-size:100% auto;
		padding-top:8.27%;
		margin:0 auto;
	}
	.l-valueBlock02 .p-title p{	
		text-align:left;
		font-size:27px;
		position:relative;
		top:-30px;
	}
	.l-valueBlock02 .l-valueBlock02_table{	
		width:100%;
		margin:0 auto;
		text-align:center;
		display:block;
	}
	.l-valueBlock02 .l-valueBlock02_table > div{	
		display:block;
		vertical-align:top;
	}
	.l-valueBlock02 .l-valueBlock02_table > div.l-left{	
		width:100%;
	}
	.l-valueBlock02 .l-valueBlock02_table > div.l-right{	
		width:100%;
		display:table;
	}
	.l-valueBlock02 .l-valueBlock02_table .l-valueBlock02_white{	
		margin:0px auto 0;
		padding:0px 0 20px 0;
		width:100%;
	}
	.l-valueBlock02 .p-title2{	
		line-height:2;
		font-size:18px;
		color:#155c70;
		padding-top:10px;
		padding-bottom:5px;
		text-align:left;
	}
	.l-valueBlock02 .p-message{	
		line-height:2;
		font-size:14px;
		padding-top:20px;
		text-align:left;
		letter-spacing:0;
	}
	.l-valueBlock02 .p-image01{	
		padding-top:5px;
		padding-bottom:0px;
		padding-right:5px;
		text-align:center;
		display:table-cell;
		vertical-align:top;
	}
	.l-valueBlock02 .p-image01 img{	
		max-width:303px;
		width:100%;
	}
	.l-valueBlock02 .p-image02{	
		padding-top:5px;
		padding-bottom:0px;
		padding-left:5px;
		padding-right:0px;
		text-align:center;
		display:table-cell;
		vertical-align:top;
	}
	.l-valueBlock02 .p-image02 img{	
		max-width:303px;
		width:100%;
	}
	.l-valueBlock03{	
		width: 100%;
		margin:0px auto;
		text-align:center;
		padding:10px 0 30px;
	}
	.l-valueBlock03 .p-title{	
		background:url(../../images/farm/value/bg_value03_pc.jpg) center top no-repeat;
		background-size:100% auto;
		padding-top:8.27%;
		margin:0 auto;
	}
	.l-valueBlock03 .p-title p{	
		text-align:left;
		font-size:27px;
		position:relative;
		top: -30px;
	}
	.l-valueBlock03 .l-valueBlock03_table{	
		width:100%;
		margin:0 auto;
		text-align:center;
		display:block;
		padding-bottom:30px;
	}
	.l-valueBlock03 .l-valueBlock03_table > div{	
		display:block;
		vertical-align:top;
	}
	.l-valueBlock03 .l-valueBlock03_table > div.l-left{
		width:100%;
		float:none;
		text-align:center;
		margin:0 auto;
		display:table;
	}
	.l-valueBlock03 .l-valueBlock03_table > div.l-right{
		width:100%;
		float:none;
		display:table;
	}
	.l-valueBlock03 .l-valueBlock03_table .l-valueBlock03_white{	
		margin:0px auto 0;
		padding:0px 0px 20px 0;
		width:100%;
	}
	.l-valueBlock03 .p-title2{	
		line-height:2;
		font-size:18px;
		color:#155c70;
		padding-top:10px;
		padding-bottom:5px;
		text-align:left;
	}
	.l-valueBlock03 .p-message{	
		line-height:2;
		font-size:14px;
		padding-top:20px;
		text-align:left;
		letter-spacing:0;
	}
	.l-valueBlock03 .p-image01{	
		padding-top:5px;
		padding-bottom:0px;
		padding-right:5px;
		text-align:center;
		display:table-cell;
		vertical-align:top;
		width:50%;
	}
	.l-valueBlock03 .p-image01 img{	
		max-width:306px;
		width:100%;
	}
	.l-valueBlock03 .p-image02{	
		padding-top:5px;
		padding-bottom:0px;
		padding-left:5px;
		padding-right:0px;
		text-align:center;
		display:table-cell;
		vertical-align:top;
		width:50%;
	}
	.l-valueBlock03 .p-image02 img{	
		max-width:306px;
		width:100%;
	}*/
	
	/*.l-buttonBlock .l-buttonBlock-table p.p-left{	
		text-align:right;
		padding-right:5px;
	}
	.l-buttonBlock .l-buttonBlock-table p.p-right{	
		text-align:left;
		padding-left:5px;
	}*/
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	/*.l-valueBlock01{	
		width: 100%;
		margin:0px auto;
		text-align:center;
		padding:30px 0 0;
	}
	.l-valueBlock01 .p-title p{	
		text-align:left;
		font-size:18px;
		position:relative;
		top:-20px;
	}
	.l-valueBlock01 .p-title2{	
		line-height:2;
		font-size:16px;
		color:#155c70;
		padding-top:10px;
		padding-bottom:0px;
		text-align:left;
	}
	.l-valueBlock01 .p-message {
		line-height: 2;
		font-size: 14px;
		padding-top: 20px;
		text-align: left;
		letter-spacing: 0;
	}*/
	
	/*.l-valueBlock02{	
		width: 100%;
		margin:0px auto;
		text-align:center;
		padding:10px 0 0;
	}
	.l-valueBlock02 .p-title{	
		background:url(../../images/farm/value/bg_value02_pc.jpg) center top no-repeat;
		background-size:100% auto;
		padding-top:8.27%;
		margin:0 auto;
	}
	.l-valueBlock02 .p-title p{	
		text-align:left;
		font-size:27px;
		position:relative;
		top:-30px;
	}
	.l-valueBlock02 .l-valueBlock02_table{
		width:100%;
		margin:0 auto;
		text-align:center;
		position:relative;
	}
	.l-valueBlock02 .l-valueBlock02_table > div{	
		width:100%;
		display:block;
		vertical-align:top;
	}
	.l-valueBlock02 .l-valueBlock02_table > div.l-right{	
		z-index:1;
		display:block;
	}
	.l-valueBlock02 .l-valueBlock02_table .l-valueBlock02_white{	
		margin:0px auto 0;
		padding:0px 0px 20px;
		max-width:100%;
		width:100%;
	}
	.l-valueBlock02 .p-title2{	
		line-height:2;
		font-size:18px;
		color:#155c70;
		padding-top:10px;
		padding-bottom:0px;
		text-align:left;
	}
	.l-valueBlock02 .p-message{	
		line-height:2;
		font-size:14px;
		padding-top:25px;
		text-align:left;
		letter-spacing:0;
	}
	.l-valueBlock02 .p-image01{	
		padding-top:0px;
		padding-bottom:0px;
		padding-right:5px;
		text-align:center;
		display:block;
		vertical-align:top;
	}
	.l-valueBlock02 .p-image01 img{	
		max-width:303px;
		width:100%;
	}
	.l-valueBlock02 .p-image02{	
		padding-top:10px;
		padding-bottom:0px;
		padding-left:5px;
		padding-right:0px;
		text-align:center;
		display:block;
		vertical-align:top;
	}
	.l-valueBlock02 .p-image02 img{	
		max-width:303px;
		width:100%;
		position:static;
		right:130px;
	}*/
	
	/*.l-valueBlock02{	
		width: 100%;
		margin:0px auto;
		text-align:center;
		padding:10px 0 0;
	}
	.l-valueBlock02 .p-title{	
		background:url(../../images/farm/value/bg_value02_pc.jpg) center top no-repeat;
		background-size:100% auto;
		padding-top:8.27%;
		margin:0 auto;
	}
	.l-valueBlock02 .p-title p{	
		text-align:left;
		font-size:18px;
		position:relative;
		top:-45px;
		line-height:1.5;
	}
	.l-valueBlock02 .l-valueBlock02_table{	
		width:100%;
		margin:0 auto;
		text-align:center;
		position:relative;
	}
	.l-valueBlock02 .l-valueBlock02_table > div{	
		width:100%;
		display:block;
		vertical-align:top;
	}
	.l-valueBlock02 .l-valueBlock02_table > div.l-right{	
		z-index:1;
		display:block;
	}
	.l-valueBlock02 .l-valueBlock02_table .l-valueBlock02_white{	
		margin:0px auto 0;
		padding:0px 0px 0px;
		max-width:100%;
		width:100%;
		background-color:rgba(255,255,255,1.0);	
		position:static;
		top:0;
		left:0;
		z-index:2;
	}
	.l-valueBlock02 .p-title2{	
		line-height:2;
		font-size:16px;
		color:#155c70;
		padding-top:0px;
		padding-bottom:0px;
		text-align:left;
		margin-top: -15px;
	}
	.l-valueBlock02 .p-message{	
		line-height:2;
		font-size:14px;
		padding-top:20px;
		text-align:left;
		letter-spacing:0;
	}
	.l-valueBlock02 .p-image01{	
		padding-top:20px;
		padding-bottom:0px;
		padding-right:0px;
		text-align:center;
		display:block;
		vertical-align:top;
	}
	.l-valueBlock02 .p-image01 img{	
		max-width:303px;
		width:100%;
	}
	.l-valueBlock02 .p-image02{	
		padding-top:5px;
		padding-bottom:20px;
		padding-left:0px;
		padding-right:0px;
		text-align:center;
		display:block;
		vertical-align:top;
	}
	.l-valueBlock02 .p-image02 img{	
		max-width:303px;
		width:100%;
		position:static;
		right:130px;
	}
	
	.l-valueBlock03{	
		width: 100%;
		margin:0px auto;
		text-align:center;
		padding:10px 0 20px;
	}
	.l-valueBlock03 .p-title{	
		background:url(../../images/farm/value/bg_value03_pc.jpg) center top no-repeat;
		background-size:100% auto;
		padding-top:8.27%;
		margin:0 auto;
	}
	.l-valueBlock03 .p-title p{	
		text-align:left;
		font-size:18px;
		position:relative;
		top:-20px;
	}
	.l-valueBlock03 .l-valueBlock03_table{	
		width:100%;
		margin:0 auto;
		text-align:center;
		position:relative;
		padding-bottom:0px;
	}
	.l-valueBlock03 .l-valueBlock03_table > div{	
		width:100%;
		display:block;
		vertical-align:top;
	}
	.l-valueBlock03 .l-valueBlock03_table > div.l-left{
		float:none;
		position:relaive;	
		z-index:1;
		display:block;
	}
	.l-valueBlock03 .l-valueBlock03_table > div.l-right{
		float:none;
	}
	.l-valueBlock03 .l-valueBlock03_table .l-valueBlock03_white{	
		margin:0px auto 0;
		padding:0px 0px 0px 0px;
		max-width:100%;
		width:100%;
	}
	.l-valueBlock03 .p-title2{	
		line-height:2;
		font-size:16px;
		color:#155c70;
		padding-top:5px;
		padding-bottom:0px;
		text-align:left;
	}
	.l-valueBlock03 .p-message{	
		line-height:2;
		font-size:14px;
		padding-top:20px;
		text-align:left;
		letter-spacing:0;
	}
	.l-valueBlock03 .p-image01{	
		padding-top:30px;
		padding-bottom:0px;
		padding-right:0px;
		display:block;
		vertical-align:top;
		width:100%;
		text-align:center;
	}
	.l-valueBlock03 .p-image01 img{	
		max-width:303px;
		width:100%;
	}
	.l-valueBlock03 .p-image02{	
		padding-top:5px;
		padding-bottom:20px;
		padding-left:0px;
		display:block;
		vertical-align:top;
		width:100%;
		text-align:center;
	}
	.l-valueBlock03 .p-image02 img{	
		max-width:303px;
		width:100%;
	}*/
	
	/*.l-buttonBlock{	
		width: 100%;
		margin:0px auto;
		text-align:center;
		padding:0px 0 40px;
	}
	.l-buttonBlock .l-buttonBlock-table{	
		display:block;
		margin:0px auto;
		text-align:center;
	}
	.l-buttonBlock .l-buttonBlock-table p{	
		display:block;
		vertical-align:top;
	}
	.l-buttonBlock .l-buttonBlock-table p.p-left{	
		text-align:center;
		padding-right:0px;
	}
	.l-buttonBlock .l-buttonBlock-table p.p-right{	
		text-align:center;
		padding-left:0px;
	}
	.l-buttonBlock .l-buttonBlock-table p img{	
		max-width:306px;
		width:100%;
	}*/
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/