@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
/* CSS Document */

/*
カラーコード

オレンジ：#e39b33
グレーライン：#dcdcdc
シャドウ：rgba(58,58,58,.4)
ボタンカラー：#de7928


*/
/*-------------------- ▼共通CSS▼ ------------------------*/
html{
	
}
body{	
	color:#353432;
	font-family:'Noto Sans JP',"游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:16px;
	line-height:1.5;
	font-weight:normal;
	/*letter-spacing:0.05em;*/
}

.Mincho{
	/*font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";
	font-weight:500;*/
	font-weight:bold;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
a{
	color:#333;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	text-decoration:none;
}
a:hover{
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	/*filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity:.7;*/
}

.p-button:hover{
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity:.7;	
}

.p-fw500{
	font-weight:500;	
}

.border{
	border:1px solid #000000;	
}

header{
	width:100%;
	margin:0 auto;	
	padding:0;
	/*position:fixed;
	top:0;
	z-index:15000;*/
	position:fixed;
	top:0;
	z-index:10000;
	/*background-color:rgba(255,255,255,0.95);*/
	background-color:rgba(255,255,255,1);
}

.l-header{
	width: 100%;
	padding:0px 0;
	height:110px;
}
.l-header-table{
	max-width: 964px;
	width:100%;
	margin: 0 auto 0;
	display:table;
	padding:0 10px;
}
.l-header-left{
	display:table-cell;		
	width:114px;
	vertical-align:top;
	padding:12px 0 14px 35px;
}
.l-header-left h1{
	margin:0 !important;
	font-weight:normal;
	display:inline;
}
.l-header-left h1 a{
	display:inline-block;
	padding:0px;
	line-height:0;
}
.l-header-left img{
	max-width:225px;
	width:100%;
}
/*.l-header-left img{
	max-width:206px;
	width:100%;
}*/
.l-header-right{
	display:table-cell;
	width:auto;
	text-align:right;
	vertical-align:top;
	position:relative;
	padding-top:8px;
}
.l-header-right > div.l-header-right01{
	/*padding-bottom:10px;*/
}
.l-header-right > div.l-header-right01 > p{
	display:inline-block;
	vertical-align:middle;
}
.l-header-right > div.l-header-right01 > p:nth-of-type(1){
	padding-left:25px;
}
.l-header-right > div.l-header-right01 > p:nth-of-type(2){
	padding-left:13px;
}
.l-header-right > div.l-header-right01 > p:nth-of-type(3){
	padding-left:14px;
}
.l-header-right > div.l-header-right01 > div{
	display:inline-block;
	vertical-align:top;
	color:#624d3c;
	font-size:12px;
	font-weight:bold;
	padding-top:8px;
}
.l-header-right > div.l-header-right01 > div a{
	padding:0 12px 0px;
	display:inline-block;
	vertical-align:top;
	color:#666;
	font-size:12px;
	font-weight:bold;
}
.l-header-right > div.l-header-right01 > div a:hover{
	color:#999;
}
.l-header-right > div.l-header-right02 > div{
	display:inline-block;
	font-weight:bold;
	color:#624d3c;
	padding-top:0px;
	/*width:120px;*/
	text-align:center;
	vertical-align:top;
}
.l-header-right > div.l-header-right02 > div:last-of-type{
	/*width:100px;*/
}
.l-header-right > div.l-header-right02 > div a{
	padding:10px 23px 0px;
	display:inline-block;
	vertical-align:top;
	color:#000;
	font-size:14px;
	font-weight:bold;
	width:100%;
	line-height:1.2;
}
.l-header-right > div.l-header-right02 > div:last-of-type a{
	padding:10px 14px 0 20px;
}
.l-header-right > div.l-header-right02 > div a:hover{
	color:#999;
}
.l-header-right > div.l-header-right02 > div a span{
	font-size:11px;
	color:#7cb39b;
	font-weight:bold;
	display:block;
}
.l-header-right > div.l-header-right02 > div a:hover span{
	color:#8bcfb1;
}
.header_courses_menu{
	/*border:1px solid #dddddd;*/
}
.l-header-right .header_courses_menu table{
	width:100%;
}
.l-header-right .header_courses_menu table tr td{
	height:30px;
}
.l-header-right .header_courses_menu table tr td a{
	color: #FFFFFF;
    width: 100%;
    text-align: left;
    padding: 15px 15px 15px;
    border-bottom: 1px dotted #FFFFFF;
	font-size:106.6%;
}
.l-header-right .header_courses_menu table tr:last-child td a {
    border-bottom: none;
}
.header_courses_menu{
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	/*width:100%;*/
	height:auto;
	/*background-color:#cccecf;*/
	position:absolute;
	left:0;
	/*top:65px;*/
	z-index:9998;
	margin-top:6px;
}

.courses_menu.current .header_courses_menu{
	/*margin-top:-4px;*/
}

.header_courses_menu.on_hover{
	visibility: visible;
	opacity: 1;
	transition: 0.2s;
}
.header_courses_list{
	max-width:1080px;
	width:100%;
	padding:0px 0 0px 0;
	margin:0 auto;
	display:table;
	table-layout:fixed;
	font-weight:normal;
}
.courses_menu.current .header_courses_list{
	max-width:1080px;
	width:100%;
	padding:1px 0 11px 0;
	margin:0 auto;
	display:table;
	table-layout:fixed;
	font-weight:normal;
}
.header_courses_list01 {
	display:block;
	width:260px;
	/*padding:0px 15px 10px;*/	
	
	background-color: #FFFFFF;
	opacity:0.95;
	position: relative;
	/*border: 1px solid #dddddd;*/
	z-index:9999;
}
.header_courses_list01.p-long {
	width:320px;
}

footer{
	width:100%;
	display:block;
	margin:0 auto;
	text-align:center;
}
.l-footer{
	width:100%;
	display:block;
	margin:80px auto 0;
	text-align:center;
	background-color:#edf1f3;
	background-size:cover;
	position:relative;
}
.l-footer01{
	margin:0 auto;
	text-align:center;
	padding:30px 0 27px;
	display:table;
	width:100%;
}
.l-footer01 > div{
	display:table-cell;
	vertical-align:top;
	text-align:left;
	padding-left:0px;
	padding-right:0px;
	
	font-size:12px;
	color:#000000;
}
.l-footer01 > div.p-column01{
	width:163px;
	padding-left:23px;
	padding-right:37px;
}
.l-footer01 > div.p-column03{
	width:162px;
}
.l-footer01 > div.p-column04{
	width:162px;
}
.l-footer01 > div.p-column05{
	width:152px;
}
.l-footer01 > div .p-name{
	font-size:18px;
	font-weight:bold;
	line-height:1.7;
}
.l-footer01 > div .p-message{
	font-size:12px;
	line-height:1.4;
	font-weight:bold;
}
.l-footer01 > div .p-button{
	display:inline-block;
	background-color:#FFFFFF;
	text-align:center;
	margin-top:5px;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
}
.l-footer01 > div .p-button:hover{
	background-color:#f0ff00;
}
.l-footer01 > div .p-button a{
	color:#186545;
	font-size:12px;
	font-weight:bold;
	padding:6px 25px;
}
.l-footer01 > div .p-main a:before{
	content: '>';
	font-size:10px;
	margin-right:5px;
	font-weight: bold;
}
.l-footer01 > div .p-main a{
	display:block;	
	font-size:12px;
	color:#000000;
	line-height:1.5;
	font-weight:bold;
}
.l-footer01 > div .p-main a:hover{
	color:#666;
}
.l-footer01 > div .p-sub a:before{
	content: '・';
	font-size:10px;
	margin-right:0px;
}
.l-footer01 > div .p-sub a{
	display:block;	
	font-size:11px;
	color:#000000;
	line-height:1.5;
	margin-left:1em;
	font-weight:bold;
}
.l-footer01 > div .p-sub a:hover{
	color:#999;
}
.l-footer01-02{
	text-align:right;
	padding-bottom:10px;
}
.l-footer01-02 > div{
	display:inline-block;
	vertical-align:top;
	color:#624d3c;
	font-size:13px;
	font-weight:bold;
	padding-top:10px;
}
.l-footer01-02 > div a{
	padding:0 12px 0px;
	display:inline-block;
	vertical-align:top;
	color:#666;
	font-size:11px;
	font-weight:bold;
}
.l-footer01-02 > div a:hover{
	color:#999;
}

#wrapper{
	width:100%;
	margin:0 auto;
	padding:0;
	/*letter-spacing:0.1em;*/
}

#toggle {
	display: block;
	position: relative;
	padding: 15px 10px 15px;
	font-weight: 700;
	vertical-align: middle;
	cursor:pointer;
	height: 100px;
	width: 100px;
	float: right;
	background-color:#FFFFFF;
}
#toggle-btn {
	display: block;
	position: relative;
	top:35px;
}
#toggle-btn-icon {
	display: block;
	position: absolute;
	top: 30%;
	left: 0;
	right: 0px;
	width: 43px;
	height: 2px;
	margin: auto;
	background: #000000;
	transition: .2s;
}
#toggle-btn-icon:before, #toggle-btn-icon:after {
	display: block;
	content: "";
	position: absolute;
	top: 20%;
	left: 0;
	width: 43px;
	height: 2px;
	background: #000000;
	transition: .3s;
}
#toggle-btn-icon:before {
	margin-top: -10px;
}
#toggle-btn-icon:after {
	margin-top: 10px;
}
#toggle-btn .close {
	background: transparent !important;
	/*top: 7px;*/
}
#toggle-btn .close:before, #toggle-btn .close:after {
	margin-top: 0;
}
#toggle-btn .close:before {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
#toggle-btn .close:after {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.p-toggle_menu{
	color:#000000;
	position:absolute;
	right:3.5%;	
	width:100px;
}
.p-toggle_menu span{
	position:relative;
	right:-17px;
	top:40px;
	font-size:16px !important;
}

/* --- nav ---*/
#global-nav-area {
	display:none;
	max-width: 1020px;
    width: 100%;
	margin:0 auto;
	position: absolute;
	z-index:10000;
	/*top: 76px;*/
	right:0;
	/*background-color:#000000;*/
	/*background-color:#e4e4e4;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	text-align:left;
	height:auto;
	/*box-shadow:0px 5px 6px -2px #919191;
	-moz-box-shadow:0px 5px 6px -2px #919191;
	-webkit-box-shadow:0px 5px 6px -2px #919191;*/
	/*border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;*/
	overflow:auto !important;
	-webkit-overflow-scrolling: touch;
}
#global-nav {
	padding:0 0;
	border-bottom:1px solid #009944;
}

#global-nav > li {
	text-align:left;
	
	/*opacity:0.95;*/
	/*font-size:133%;*/
}
#global-nav > li.title {
	border-top:2px solid #009944;
	display:table;
	width:100%;
	background-color: #FFFFFF;
	/*cursor:pointer;*/
}
#global-nav > li.title.p-sub {
	border-top:1px solid #009944;
}
#global-nav > li.p-close {
	border-top:2px solid #009944;
	background-color: #FFFFFF;
	
	font-size:125%;
	font-weight:bold;
	color:#009944;
}
#global-nav > li.p-close p {
	text-align:center !important;
	cursor:pointer;
	padding: 15px 0 15px 0;
}
#global-nav > li.p-close p img {
	max-width:90px;
	width:100%;
}
#global-nav > li.titleLink {
	padding:22px 0px;
}
#global-nav > li > p {
	width:100%;
	text-align:left;
	display:block;
	/*color:#FFFFFF;*/
}
#global-nav > li.js-underlayer > p {
	padding:15px 3%;
	font-size:125%;
}
/*#global-nav > li > p a:after {
	content: ' ';
	background:url(../../images/common/ico_munu_arrow.svg) no-repeat;
	position: absolute;
	top: 20px;
	right: 3%;
	background-size: 20px 20px;
	width:25px;
	height:25px;
}*/
#global-nav > li > p a {
	color:#222222;
	text-align:left;
	display:block;
	padding:26px 3% 26px 7.5%;
	/*border-bottom:1px solid #797979;*/
	/*border-bottom: 1px solid #FFFFFF;*/
	/*box-shadow: 0 1px 0 rgba(255,255,255,1);*/
	background-color: #FFFFFF;
	position:relative;
}
#global-nav > li > p a.p-entry {
	color:#FFFFFF;
	text-align:left;
	display:block;
	padding:26px 3% 26px 7.5%;
	/*border-bottom:1px solid #797979;*/
	/*border-bottom: 1px solid #FFFFFF;*/
	/*box-shadow: 0 1px 0 rgba(255,255,255,1);*/
	background-color: #1f4069;
	position:relative;
}
#global-nav > li:last-of-type > p a {
	border-bottom: none;
}
#global-nav > li.title > p + p {
	display:table-cell;
	width:30px;
	/*font-size:150%;*/		
	font-size: 183%;
	/* padding-top: 4px; */
	position: relative;
	top: 5px;
	padding: 0 10px;
}
#global-nav > li.js-underlayer > p.p-stair {
	padding:0px;
	/*font-size:87.5%;*/
}
#global-nav > li.title > p {	
	text-align:center;
	
}
#global-nav > li.title > p img {
	max-width:197px;
	width:100%;
}
#global-nav > li.title > p > img {
	display:inline-block;
	margin:25px 3% 22px;
}
#global-nav > li.title > p a {
	display:block;
	width:100%;
	padding:15px 3% 12px 20px;
	font-size:125%;
	font-weight:bold;
	background:url(../../images/common/ico_menu_sp.png) right 20px center no-repeat transparent;
	background-size: 8px auto;
	text-align:left;
}
/*#global-nav > li.title > p a:after {
	content:"";
	background:url(../../images/common/img_arrow01_sp.png) right 3% center no-repeat transparent;	
	position: absolute;
	top: 20px;
	right: 3%;
	width:8px;
	height:12px;
	background-size: 8px 12px;
}
#global-nav > li.title > p a.p-entry:after {
	content:"";
	background:url(../../images/common/img_arrow02_sp.png) right 3% center no-repeat transparent;	
	position: absolute;
	top: 20px;
	right: 3%;
	width:8px;
	height:12px;
	background-size: 8px 12px;
}*/
#global-nav > li:nth-last-child(2) a {
	border-bottom:none;
}
#global-nav > li.title > p a.global-nav-co {
	color:#a0a0a0;
	
}
#global-nav > li.title > p a.global-nav-co:after{
	content: '';
	background:url(../../images/common/ico_corporate.png) 5px 5px no-repeat transparent;
	position: absolute;
	width:20px;
	height:20px;
	background-size: 13px 14px;
}

#global-nav > li.title > .p-table{
	display:block;
	width:100%;
	padding:0 0;
}
#global-nav > li.title > .p-table.p-last{
	border-bottom:10px solid #009944;
}
#global-nav > li.title > .p-table > div{
	display:inline-block;
	width:50%;
	border-top:1px solid #009944;
	padding:0px 0;
}
#global-nav > li.title > .p-table > div.p-bottom-line{
	border-bottom:1px solid #009944;
	margin-bottom:-1px;
}
#global-nav > li.title > .p-table > div > p.p-left{
	border-right:1px solid #009944;
}
#global-nav > li.title > .p-table > div > p > a{
	padding:15px 5% 15px 20px;
	display:block;
	background:url(../../images/common/ico_menu_sp.png) right 20px center no-repeat transparent;
	background-size: 8px auto;
	text-align:left;
}
#global-nav > li.title > .p-table > div > p.p-category > a{
	font-size:125%;
	font-weight:bold;
}
#global-nav > li.title > .p-table > div > p.p-blank{
	padding:15px 5% 15px 20px;
	display:block;
	text-align:left;
}
#global-nav > li.title > .p-table > div > p.p-category.p-blank{
	padding:19px 5% 15px 20px;
	display:block;
	text-align:left;
}
#global-nav > li.title > .p-table > div > p > a > span{
	display:block;
	background:url(../../images/common/ico_menu_sp.png) right 20px center no-repeat transparent;
	background-size: 8px auto;
	line-height:0;
}
#global-nav > li.title > .p-table > div > p > a > span img{
	max-width:197px;
	width:100%;
	line-height:0;
}

#global-nav > li ul {
	display: block;
}
#global-nav ul li {
	border-bottom:1px dotted #dddddd;
	background-color: #FFFFFF;
	opacity:1;
	width:100%;
}
#global-nav ul li a {
	display:block;
	padding:15px 3%;
	color:#FFFFFF;
	background:url(../../images/common/ico_arrow2.png) left 3% center no-repeat transparent;
	text-indent:1em;
	background-size: 6px auto;
	position:relative;
	/*font-size:87.5%;*/
}
#global-nav ul li a:after {
	content:">";
	position:absolute;
	right:10px;
}
#global-nav ul li a:hover{
	/*color:#0048A8;*/
}	
#global-nav-area p.p-image {
	padding:0 3%;
	display:block;
	margin:0 auto;
	text-align:center;
}
#global-nav-area p.p-image img {
	max-width:100px;
	width:100%;
}

#global-nav > p {
	padding:0 0 4%;
}
#global-nav > p:last-child {
	padding:0 0 2%;
}

.l-wrapper{
	width:100%;
	margin:0px auto;
}

.l-container{
	width:100%;
	margin:0px auto;
}

/**ページトップ**/
#page-top{
	/*position: relative;*/
	position: fixed;
	/*top: 1px;*/
	right: 5%;
	bottom: 75px;
	z-index:9000;
	height:50px;
	margin:0 auto;
	text-align:right;
	margin-bottom:10px;
}

#page-top a {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	opacity:1;
}
#page-top a:hover{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	opacity:.7;
}
#page-top a img {
	opacity:1;
}

.button-link{
	color:#00f;
	text-decoration:underline;
}
 
.button-link:hover{
	cursor:pointer;
	color:#f00;
}

/*------------------
本体
------------------*/
#modal-content {
    background: #FFFFFF;       /* モーダルウィンドウのbackground */
    width: 50%;             /* モーダルウィンドウの幅 */
    z-index: 20000;             /* オーバーレイより高い数値に設定 */
}

/*------------------
背景(オーバーレイ)
------------------*/
#modal-overlay {
    background-color:
        rgba(0, 0, 0, 0.75); /* 背景のbackground */
    top: 0;                  /* 背景の固定位置 */
    left: 0;                 /* 背景の固定位置 */
    height: 120%;            /* 背景の高さ */
    width: 100%;             /* 背景の幅 */
    z-index: 15000;              /* モーダルウィンドウより低い数値に設定 */
}

/*------------------
共通パーツ
------------------*/
#modal-content,
#modal-overlay {
    display: none;   /* 通常時は非表示 */
    position: fixed; /* ウィンドウの固定 */
}

.l-modalBlock{
	width:100%;
	margin:0 auto;
	padding:0;
	text-align:center;
	position:relative;
	padding:90px;
}
.l-modalBlock .p-title{
	padding-bottom:15px;
}
.l-modalBlock .p-title img{
	max-width:329px;
	width:100%;
}
.l-modalBlock .l-modalButtonBlock{
	width:100%;
	margin:0 auto;
	padding:0;
	text-align:center;	
}
.l-modalBlock .l-modalButtonBlock > p{
	display:inline-block;
	width:50%;
	padding-top:25px;
}
.l-modalBlock .l-modalButtonBlock > p a{
	display:inline-block;
}
.l-modalBlock .l-modalButtonBlock > p a img{
	max-width:245px;
	width:100%;
}
.l-modalBlock .l-modalButtonBlock > p.p-left{
	padding-right:20px;
	text-align:right;
}
.l-modalBlock .l-modalButtonBlock > p.p-right{
	padding-left:20px;
	text-align:left;
}
.l-modalBlock .p-close{
	position:absolute;
	top:0;
	right:0;
}

.l-inner784{
	max-width:804px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner787{
	max-width:807px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner864{
	max-width:884px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner{
	max-width:967px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner945{
	max-width:965px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner996{
	max-width:1016px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner1000{
	max-width:1020px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}

.pconly{
	display:block !important;
}

.sponly0{
	display:none !important;
}

.sponly{
	display:none !important;	
}

.sponly1{
	display:block !important;
}

.sponly1_5{
	display:none !important;
}

.sponly2{
	display:none !important;
}

.di_b_from1000{
	display:none !important;
}
.di_b_from768{
	display:none !important;
}
.di_b_from480{
	display:none !important;
}
.di_n_from1000{
	display:block !important;
}
.di_n_from768{
	display:block !important;
}
.di_n_from480{
	display:block !important;
}
@media screen and (max-width:1000px){

	.di_b_from1000{
		display:block !important;
	}
	.di_b_from768{
		display:none !important;
	}
	.di_b_from480{
		display:none !important;
	}	
	
	.di_n_from1000{
		display:none !important;
	}
	.di_n_from768{
		display:block !important;
	}
	.di_n_from480{
		display:block !important;
	}	
}
@media screen and (max-width:768px){

	.di_b_from1000{
		display:block !important;
	}
	.di_b_from768{
		display:block !important;
	}
	.di_b_from480{
		display:none !important;
	}	
	
	.di_n_from1000{
		display:none !important;
	}
	.di_n_from768{
		display:none !important;
	}
	.di_n_from480{
		display:block !important;
	}
}
@media screen and (max-width:480px){

	.di_b_from1000{
		display:block !important;
	}
	.di_b_from768{
		display:block !important;
	}
	.di_b_from480{
		display:block !important;
	}
	
	.di_n_from1000{
		display:none !important;
	}
	.di_n_from768{
		display:none !important;
	}
	.di_n_from480{
		display:none !important;
	}	
}

.pb20{
	padding-bottom:20px;	
}

.w100{
	width:100%;	
}

.disnone{
	display:none !important;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1000px){	
	
	body{	
		font-size:14px;
	}
	
	.l-header {
		width: 100%;
		padding: 0;
		height:110px;
	}
	.l-header-table {
		max-width: 1000px;
		width: 100%;
		margin: 0 auto 0;
		display: table;
		padding: 0 0px 0 10px;
	}
	.l-header-left {
		display: table-cell;
		width: 99px;
		vertical-align: middle;
		padding: 13px 0 13px 20px;
	}
	.l-header-left img{
		max-width:79px;
		width:100%;
	}
	
	.l-header-right {
		display: table-cell;
		width: auto;
		text-align: right;
		vertical-align: top;
		position: relative;
		padding-top: 0px;
	}
	
	footer{
		width:100%;
		display:block;
		margin:0 auto;
		text-align:center;
	}
	.l-footer{
		width:100%;
		display:block;
		margin:56px auto 0;
		text-align:center;
		background-color:#edf1f4;
		background-size:cover;
		position:relative;
	}
	.l-footer01{
		margin:0 auto;
		text-align:center;
		padding:47px 0 40px;
		display:table;
		width:100%;
	}
	.l-footer01 > div{
		display:table-cell;
		vertical-align:top;
		text-align:left;
		padding-left:0px;
		padding-right:0px;
		
		font-size:12px;
		color:#000000;
	}
	.l-footer01 > div:nth-child(1){
		width:150px;
		padding-left:20px;
		padding-right:20px;
	}
	.l-footer01 > div .p-name{
		font-size:18px;
		font-weight:bold;
	}
	.l-footer01 > div .p-message{
		font-size:12px;
	}
	.l-footer01 > div .p-button{
		display:inline-block;
		background-color:#FFFFFF;
		/*border-radius:20px;*/
		text-align:center;
		margin-top:5px;
	}
	.l-footer01 > div .p-button a{
		color:#1d7952;
		font-size:14px;
		font-weight:bold;
		padding:5px 20px;
	}
	.l-footer01 > div p.p-arrow a:before{
		content: '>';
		font-size:10px;
		margin-right:5px;
	}
	.l-footer01 > div a{
		display:block;	
		font-size:12px;
		color:#000000;
	}
	
	#toggle_block .p-sp_entry{
		width:210px;
	}
	#toggle_block .p-sp_entry a{
		padding:0;
	}
	#toggle_block .p-sp_entry:hover{
		cursor:pointer;
	}
	#toggle_block .p-sp_entry img{
		max-width:210px;
		width:100%;
	}
	
	#modal-content {
		background: #FFFFFF;       /* モーダルウィンドウのbackground */
		width: 80%;             /* モーダルウィンドウの幅 */
		z-index: 20000;             /* オーバーレイより高い数値に設定 */
	}
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:block !important;
	}
	
	.sponly1{
		display:block !important;
	}
	
	.sponly1_5{
		display:none !important;
	}
	
	.sponly2{
		display:none !important;
	}
	
}
@media screen and (min-width:769px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:768px){
	body{	
		font-size:14px;
	}
	
	.l-inner784{
		padding:0 3%;
	}
	.l-inner787{
		padding:0 3%;
	}
	.l-inner864{
		padding:0 3%;
	}
	.l-inner{
		padding:0 3%;
	}
	.l-inner945{
		padding:0 3%;
	}
	.l-inner996{
		padding:0 3%;
	}
	.l-inner1000{
		padding:0 3%;
	}
	
	.l-header {
		width: 100%;
		padding: 0;
		height:70px;
	}
	.l-header-table {
		max-width: 1040px;
		width: 100%;
		margin: 0 auto 0;
		display: table;
		padding: 0 0px 0 10px;
	}
	.l-header-left {
		display: table-cell;
		width: 195px;
		vertical-align: middle;
		padding: 6px 0 6px 0px;
	}
	.l-header-left img {
		max-width:100%;
		width: auto;
		height: 58px;
	}
	
	footer{
		background:none;
	}
	.l-footer{
		width:100%;
		display:block;
		margin:40px auto 0;
		text-align:center;
		background-color:#edf1f4;
		background-size:cover;
		position:relative;
	}
	.l-footer01{
		display:none;
	}
	.l-footer01-02{
		display:none;
	}
	.l-footer02 p{
		text-align:center;
		color:#000000;
		padding:10px 0 0px;
		display:inline-block;
		vertical-align:middle;
		font-weight:bold;
	}
	.l-footer02 p img{
		width:46px;
	}
	
	#toggle_block .p-sp_entry{
		width:163px;
	}
	#toggle_block .p-sp_entry:hover{
		cursor:pointer;
	}
	#toggle_block .p-sp_entry img{
		max-width:163px;
		width:100%;
	}	
	#toggle {
		display: block;
		position: relative;
		padding: 13px 0;
		font-weight: 700;
		vertical-align: middle;
		cursor: pointer;
		height:70px;
		width: 70px;
		float: right;
	}
	#toggle-btn {		
		display: block;
		position: relative;
		top:20px;
	}
	#toggle-btn-icon {
		display: block;
		position: absolute;
		top: 30%;
		left: 0;
		right: 0px;
		width: 43px;
		height: 2px;
		margin: auto;
		background: #000000;
		transition: .2s;
	}
	#toggle-btn-icon:before, #toggle-btn-icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 20%;
		right: 0;
		width: 43px;
		height: 2px;
		background: #000000;
		transition: .3s;
	}
	#toggle-btn-icon:before {
	}
	#toggle-btn-icon:after {
		margin-top: 10px;
	}
	
	#global-nav > li.title {
		border-top: 2px solid #009944;
		display: table;
		width: 100%;
		background-color: #FFFFFF;
		/* cursor: pointer; */
	}	
	#global-nav > li.title.p-sub {
		border-top:1px solid #009944;
	}
	#global-nav > li.p-close p {
		text-align:right;
		cursor:pointer;
	}
	#global-nav > li.p-close p img {
		max-width:63px;
		width:100%;
	}
	#global-nav > li.title > p {	
		text-align:center;
	}
	#global-nav > li.title > p img {
		max-width:138px;
		width:100%;
	}
	#global-nav > li.title > p > img {
		display:inline-block;
		margin:18px 3% 15px;
	}
	#global-nav > li.title > p a {
		display:block;
		width:100%;
		padding:18px 3% 15px 20px;
		font-size:125%;
		font-weight:bold;
		background:url(../../images/common/ico_menu_sp.png) right 10px center no-repeat transparent;
		background-size: 6px auto;
		text-align: left;
	}
	#global-nav > li.title > .p-table{
		display:block;
		width:100%;
		padding:0 0;
	}
	#global-nav > li.title > .p-table.p-last{
		border-bottom:7px solid #009944;
	}
	#global-nav > li.title > .p-table > div{
		display:inline-block;
		width:50%;
		border-top:1px solid #009944;
		padding:0px 0;
	}
	#global-nav > li.title > .p-table > div > p.p-left{
		border-right:1px solid #009944;
	}
	#global-nav > li.title > .p-table > div > p > a{
		padding:15px 3% 15px 20px;
		display:block;
		background:url(../../images/common/ico_menu_sp.png) right 10px center no-repeat transparent;
		background-size: 6px auto;
	}
	#global-nav > li.title > .p-table > div > p > a > span{
		display:block;
		background:url(../../images/common/ico_menu_sp.png) right 10px center no-repeat transparent;
		background-size: 6px auto;
		line-height:0;
	}
	#global-nav > li.title > .p-table > div > p > a > span img{
		max-width:138px;
		width:100%;
		line-height:0;
	}
	
	#page-top{
		bottom: 7%;
		height:50px;
	}		
	#page-top img {
		width: 56px;
		height:auto;	
	}
	
	/*------------------
	本体
	------------------*/
	#modal-content {
		background: #FFFFFF;       /* モーダルウィンドウのbackground */
		width: 94%;             /* モーダルウィンドウの幅 */
		z-index: 20000;             /* オーバーレイより高い数値に設定 */
	}
	
	/*------------------
	背景(オーバーレイ)
	------------------*/
	#modal-overlay {
		background-color:
			rgba(0, 0, 0, 0.75); /* 背景のbackground */
		top: 0;                  /* 背景の固定位置 */
		left: 0;                 /* 背景の固定位置 */
		height: 120%;            /* 背景の高さ */
		width: 100%;             /* 背景の幅 */
		z-index: 15000;              /* モーダルウィンドウより低い数値に設定 */
	}
	
	/*------------------
	共通パーツ
	------------------*/
	#modal-content,
	#modal-overlay {
		display: none;   /* 通常時は非表示 */
		position: fixed; /* ウィンドウの固定 */
	}
	
	.l-modalBlock{
		width:94%;
		margin:0 auto;
		padding:0;
		text-align:center;
		position:fixed;
		top:0;
		border-top:10px solid #009944;
		padding:70px 30px;
		background: #FFFFFF;
	}
	.l-modalBlock .p-title{
		padding-bottom:15px;
	}
	.l-modalBlock .p-title img{
		max-width:416px;
		width:100%;
	}
	.l-modalBlock .l-modalButtonBlock{
		width:100%;
		margin:0 auto;
		padding:0;
		text-align:center;	
	}
	.l-modalBlock .l-modalButtonBlock > p{
		display:block;
		width:100%;
		padding-top:25px;
	}
	.l-modalBlock .l-modalButtonBlock > p a{
		display:block;
	}
	.l-modalBlock .l-modalButtonBlock > p a img{
		max-width:530px;
		width:100%;
	}
	.l-modalBlock .l-modalButtonBlock > p.p-left{
		padding-right:0;
		text-align:center;
	}
	.l-modalBlock .l-modalButtonBlock > p.p-right{
		padding-left:0;
		text-align:center;
	}
	.l-modalBlock .p-close{
		position:static;
		top:0;
		right:0;
		padding-top:40px;
	}
	.l-modalBlock .p-close img{
		max-width:158px;
		width:100%;
	}
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:block !important;
	}
	
	.sponly1{
		display:block !important;
	}
	
	.sponly1_5{
		display:block !important;
	}
	
	.sponly2{
		display:none !important;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:768px) and (min-width:320px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	body{	
		font-size:12px;
	}
	
	.l-header{
		width: 100%;
		padding:0;
		height:50px;
	}
	.l-header-table {
		max-width: 1040px;
		width: 100%;
		margin: 0 auto 0;
		display: table;
		padding: 0 0px 0 10px;
	}
	.l-header-left {
		display: table-cell;
		width: 195px;
		vertical-align: middle;
		padding-left: 0px;
	}
	.l-header-left img {
		max-width:100%;
		width: auto;
		height: 44px;
	}
	
	.l-header-left {
		display: table-cell;
		width: 138px;
		vertical-align: middle;
		padding: 3px 0 3px 0px;
	}
	
	#toggle_block .p-sp_entry{
		width:105px;
	}
	#toggle_block .p-sp_entry:hover{
		cursor:pointer;
	}
	#toggle_block .p-sp_entry img{
		max-width:105px;
		width:100%;
	}
	#toggle {
		display: block;
		position: relative;
		padding: 7px 0;
		font-weight: 700;
		vertical-align: middle;
		cursor: pointer;
		height: 50px;
		width: 50px;
		float: right;
	}
	#toggle-btn {
		height: 38px;
		display: block;
		position: relative;
		top:5px;
	}
	#toggle-btn-icon {
		display: block;
		position: absolute;
		top: 30%;
		left: 0;
		right: 0px;
		width: 30px;
		height: 2px;
		margin: auto;
		background: #000000;
		transition: .2s;
	}
	#toggle-btn-icon:before, #toggle-btn-icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 20%;
		right: 0;
		width: 30px;
		height: 2px;
		background: #000000;
		transition: .3s;
	}
	#toggle-btn-icon:before {
		margin-top: -8px;
	}
	#toggle-btn-icon:after {
		margin-top: 8px;
	}
	
	#global-nav > li.title {
		border-top: 2px solid #009944;
		display: table;
		width: 100%;
		background-color: #FFFFFF;
		/* cursor: pointer; */
	}	
	#global-nav > li.title.p-sub {
		border-top:1px solid #009944;
	}
	#global-nav > li.p-close p {
		text-align:right;
		cursor:pointer;
	}
	#global-nav > li.p-close p img {
		max-width:45px;
		width:100%;
	}
	#global-nav > li.title > p {	
		text-align:center;
	}
	#global-nav > li.title > p img {
		max-width:98px;
		width:100%;
	}
	#global-nav > li.title > p > img {
		display:inline-block;
		margin:12px 3% 11px;
	}
	#global-nav > li.title > p a {
		display:block;
		width:100%;
		padding:12px 10px 11px;
		font-size:14px;
		font-weight:bold;
		background:url(../../images/common/ico_menu_sp.png) right 5px center no-repeat transparent;
		background-size: 7px auto;
		text-align:left;
	}
	#global-nav > li.title > .p-table{
		display:block;
		width:100%;
		padding:0 0;
	}
	#global-nav > li.title > .p-table.p-last{
		border-bottom:7px solid #009944;
	}
	#global-nav > li.title > .p-table > div{
		display:inline-block;
		width:50%;
		border-top:1px solid #009944;
		padding:0px 0;
	}
	#global-nav > li.title > .p-table > div > p.p-left{
		border-right:1px solid #009944;
	}
	#global-nav > li.title > .p-table > div > p > a{
		padding:15px 10px 15px 10px;
		display:block;
		background:url(../../images/common/ico_menu_sp.png) right 5px center no-repeat transparent;
		background-size: 7px auto;
		font-size:12px;
	}
	#global-nav > li.title > .p-table > div > p.p-category > a{
		font-size:14px;
		font-weight:bold;
	}
	#global-nav > li.title > .p-table > div > p.p-category.p-blank {
		padding: 18px 5% 15px 20px;
		display: block;
		text-align: left;
	}
	#global-nav > li.title > .p-table > div > p > a > span{
		display:block;
		background:url(../../images/common/ico_menu_sp.png) right center no-repeat transparent;
		background-size: 7px auto;
		line-height:0;
	}
	#global-nav > li.title > .p-table > div > p > a > span img{
		max-width:98px;
		width:100%;
		line-height:0;
	}
	
	#wrapper{
		width:100%;
		margin:0 auto;
		padding:0;
		letter-spacing:0.7px;
	}
	
	#page-top{
		bottom: 10%;
		height:25px;
	}	
	#page-top a:hover{
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		-ms-transition: 0.5s;
		transition: 0.5s;
		opacity:1;
	}	
	#page-top img {
		width: 40px;
		height:auto;	
	}
	#page-top a img {
		opacity:0.8;
	}
	
	.l-modalBlock{
		width:94%;
		margin:0 auto;
		padding:0;
		text-align:center;
		position:fixed;
		top:0;
		border-top:10px solid #009944;
		padding:30px 20px 20px;
		background: #FFFFFF;
	}
	.l-modalBlock .p-title{
		padding-bottom:0;
	}
	.l-modalBlock .p-title img{
		max-width:208px;
		width:100%;
	}
	.l-modalBlock .l-modalButtonBlock{
		width:100%;
		margin:0 auto;
		padding:0;
		text-align:center;	
	}
	.l-modalBlock .l-modalButtonBlock > p{
		display:block;
		width:100%;
		padding-top:15px;
	}
	.l-modalBlock .l-modalButtonBlock > p a{
		display:block;
	}
	.l-modalBlock .l-modalButtonBlock > p a img{
		max-width:530px;
		width:100%;
	}
	.l-modalBlock .l-modalButtonBlock > p.p-left{
		padding-right:0;
		text-align:center;
	}
	.l-modalBlock .l-modalButtonBlock > p.p-right{
		padding-left:0;
		text-align:center;
	}
	.l-modalBlock .p-close{
		position:static;
		top:0;
		right:0;
		padding-top:20px;
	}
	.l-modalBlock .p-close img{
		max-width:79px;
		width:100%;
	}
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:none !important;
	}
	
	.sponly1{
		display:none !important;
	}
	
	.sponly1_5{
		display:block !important;
	}
	
	.sponly2{
		display:block !important;
	}
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/
