@charset "utf-8";
/* CSS Document */

/*農園のこと*/
#farm .l-mvBlock{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/farm/bg_mv_pc.png) center center no-repeat;
	background-size:cover;
	height:396px;
	display:table;
}
/*大切にしていること*/
#value .l-mvBlock{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/farm/value/bg_mv_pc.png) center center no-repeat;
	background-size:cover;
	height:396px;
	display:table;
}
/*スタッフ*/
#staff .l-mvBlock{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/farm/staff/bg_mv_pc.png) center center no-repeat;
	background-size:cover;
	height:396px;
	display:table;
}
/*野菜のこと*/
#vegetable .l-mvBlock{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/vegetable/bg_mv_pc.png) center center no-repeat;
	background-size:cover;
	height:396px;
	display:table;
}
/*収穫カレンダー*/
#lineup .l-mvBlock{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/vegetable/lineup/bg_mv_pc.png) center center no-repeat;
	background-size:cover;
	height:396px;
	display:table;
}
/*野菜づくり*/
#work .l-mvBlock{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/vegetable/work/bg_mv_pc.png) center center no-repeat;
	background-size:cover;
	height:396px;
	display:table;
}
/*ミライの農業*/
#vision .l-mvBlock{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/vision/bg_mv_pc.png) center center no-repeat;
	background-size:cover;
	height:396px;
	display:table;
}
/*畑とつながる体験*/
#academy .l-mvBlock{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/academy/bg_mv_pc.png) center center no-repeat;
	background-size:cover;
	height:396px;
	display:table;
}
/*商品*/
#marche .l-mvBlock{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/marche/bg_mv_pc.png) center center no-repeat;
	background-size:cover;
	height:396px;
	display:table;
}
/*契約販売・受託栽培*/
#request .l-mvBlock{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/request/bg_mv_pc.png) center center no-repeat;
	background-size:cover;
	height:396px;
	display:table;
}
/*キッズファーム*/
#kids .l-mvBlock{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/kids/bg_mv_pc.png) center center no-repeat;
	background-size:cover;
	height:396px;
	display:table;
}
/*新着情報*/
#news .l-mvBlock{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/news/bg_mv_pc.png) center center no-repeat;
	background-size:cover;
	height:396px;
	display:table;
}
/*お客様の声*/
#voice .l-mvBlock{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/voice/bg_mv_pc.png) center center no-repeat;
	background-size:cover;
	height:396px;
	display:table;
}
/*お問い合わせ*/
#contact .l-mvBlock{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/contact/bg_mv_pc.png) center center no-repeat;
	background-size:cover;
	height:396px;
	display:table;
}
/*農園概要・アクセス*/
#access .l-mvBlock{	
	width: 100%;
	margin:110px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/access/bg_mv_pc.png) center center no-repeat;
	background-size:cover;
	height:396px;
	display:table;
}
.l-mvBlock h1{
	display:table-cell;
	vertical-align:middle;
	color:#FFF;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.1em;
}
.l-mvBlock h1 img{
	/*max-width:184px;
	width:100%;*/
	max-width:100%;
	width:100%;
	height:59px;
}
.l-mvBlock h1 img.p-sizeM{
	/*max-width:184px;
	width:100%;*/
	max-width:100%;
	width:100%;
	height:75px;
}

.l-messageBlock{	
	width: 100%;	
	background-color:#f5f7f9;
}
.l-messageBlock01{	
	width: 100%;
	margin:0px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/parts/bg_message_pc.png) center top 50px no-repeat;
	background-size:100% auto;
	min-height:411px;
	position:relative;
}
#kids .l-messageBlock01{	
	width: 100%;
	margin:0px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/parts/bg_message_pc.png) center top 50px no-repeat;
	background-size:100% auto;
	min-height:381px;
	position:relative;
}
#work .l-messageBlock01{	
	width: 100%;
	margin:0px auto 0;
	text-align:center;
	padding-bottom:0px;
	background:url(../../images/parts/bg_message_pc.png) center top 50px no-repeat;
	background-size:100% auto;
	min-height:355px;
	position:relative;
}
.l-messageBlock01.p-ver2{	
	/*background:url(../../images/parts/bg_message2_pc.png) center top 50px no-repeat;*/
	background:#f5f7f9;
}
.l-messageBlock01.p-ver3{
	background:#f5f7f9;
	min-height:100%;
}
.l-messageBlock01.h2only{	
	min-height:175px;
}
.l-messageBlock01 .l-messageBlock01-01{	
	width:100%;
}
.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title{
	padding-top:0px;
}
.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title img{
	max-width:785px;
	width:100%;
}
.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white{
	margin:0px auto 0;
	padding:60px 20px 60px;
	max-width:785px;
	width:100%;
	background-color:rgba(255,255,255,0.9);	
	position:relative;
	top:-40px;
}
.l-messageBlock01.p-ver3 .l-messageBlock01-01 .l-messageBlock_white{
	padding:60px 20px 20px;
}
.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white p{
	line-height:2;
}
.l-messageBlock01.h2only .l-messageBlock01-01 .l-messageBlock_white .p-title{
	padding:0px 0 0px;
}
.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-title{
	font-size:28px;
	color:#333;
	font-weight:bold;
	line-height:1.5;	
	padding:0px 0 22px;
	letter-spacing:0.03em;
}
#contact .l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-title{
	letter-spacing:0;
}
.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-message{
	font-size:16px;
	color:#333;
	font-weight:bold;
	font-weight:bold;
/*font-weight:500;*/
	line-height:1.8;
	padding-bottom:25px;
}
.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-english{
	font-size:14px;
	color:#269029;
	font-weight:bold;
/*font-weight:500;*/
	line-height:1.7;	
}

.l-partsBlock01{	
	width:100%;
	margin:0 auto 0;
	text-align: center;
	background-color:#FFFFFF;
	padding:0px 0 0px;
}
.l-partsBlock01.pt40{	
	padding:40px 0 0px;
}
.l-partsBlock01 .l-partsBlock01-table{	
	width:100%;
	margin:0px auto 0;
	display:block;
	/*background:url(../images/top/img_about02_pc.png) left top no-repeat;
	padding-top:100px;*/
	position:static;
	z-index:99;
	text-align:left;
}
/*2列用*/
.l-partsBlock01 .l-partsBlock01-table.l-column2 > div{	
	width:50%;
	display:inline-block;
	text-align:left;
	vertical-align:top;
}
.l-partsBlock01 .l-partsBlock01-table.l-column2 > div:nth-child(2n+1){	
	padding-right:8px;
}
.l-partsBlock01 .l-partsBlock01-table.l-column2 > div:nth-child(2n){	
	padding-left:8px;
}
.l-partsBlock01 .l-partsBlock01-table.l-column2 > div:nth-child(n+3){	
	padding-top:16px;
}
/*3列用*/
.l-partsBlock01 .l-partsBlock01-table.l-column3 > div{	
	width:33.3%;
	display:inline-block;
	text-align:left;
	vertical-align:top;
}
.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(3n+1){	
	padding-right:10px;
}
.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(3n+2){	
	padding-left:5px;
	padding-right:5px;
}
.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(3n){	
	padding-left:10px;
}
.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(n+4){	
	padding-top:16px;
}
.l-partsBlock01 .l-partsBlock01-table > div a{	
	display:block;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
}
.l-partsBlock01 .l-partsBlock01-table > div a:hover{	
	opacity:0.7;
}
.l-partsBlock01 .l-partsBlock01-table > div .p-image{	
	line-height:0;
}
.l-partsBlock01 .l-partsBlock01-table.l-column2 > div .p-image img{	
	max-width:100%;
	width:100%;
	line-height:0;
}
.l-partsBlock01 .l-partsBlock01-table.l-column2 > div .p-image.p-newslist{	
	max-height:291px;
	overflow-y:hidden;
}
.l-partsBlock01 .l-partsBlock01-table.l-column2 > div .p-image.p-newslist img{	
	max-width:466px !important;
	width:100% !important;
	line-height:0;
	height:auto !important;
}
.l-partsBlock01 .l-partsBlock01-table.l-column3 > div .p-image img{	
	max-width:305px;
	width:100%;
	line-height:0;
}
.l-partsBlock01 .l-partsBlock01-table > div .p-message{	
	padding:20px 10px;
	background-color:#edf1f4;
}
#news .l-partsBlock01 .l-partsBlock01-table > div .p-message h3:after {
    content: ' ';
    display: block;
    font-size: 100%;
	margin-right:5px;
	position:relative;
	border-bottom:5px solid #FFFFFF;
	width:80px;
	margin:0 auto;
}
.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title{	
	font-size:20px;
	color:#000;
	line-height:1.2;
	font-weight:bold;
	padding-bottom:20px;
	text-align:center;
}
#news .l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title{	
	max-height: 4em;
    overflow: hidden;
	margin-bottom:10px;
	padding-bottom:0px;
	vertical-align:middle;
}
.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title span{	
	font-size: 14px;
    color: #7cb39b;
    font-weight: bold;
    display: block;
	padding-bottom:3px;
}
#news .l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title span{	
	font-size: 14px;
    color: #7cb39b;
    font-weight: bold;
    display: block;
	padding-bottom:15px;
}
.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title:after {
    content: ' ';
    display: block;
    font-size: 100%;
	margin-right:5px;
	position:relative;
	border-bottom:5px solid #FFFFFF;
	width:80px;
	margin:0 auto;
}
#contact .l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title:after {
    margin:10px auto 0;
}
#news .l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title:after {
    content: ' ';
    display: block;
    font-size: 100%;
	margin-right:5px;
	position:relative;
	border-bottom:none;
	width:80px;
	margin:10px auto 0;
}
.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-message01{	
	font-size:14px;
	text-align:center;
	letter-spacing: 0;
	line-height:1.7;
	color:#333;
}
#contact .l-partsBlock01 .l-partsBlock01-table > div .p-message .p-message01{	
	font-size:24px;
	text-align:center;
	letter-spacing: 0;
	line-height:1.7;
	color:#333;
}
.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-message01.p-left{	
	text-align:left;
}
#news .l-partsBlock01 .l-partsBlock01-table > div .p-message .p-message01.p-left{	
	text-align:left;
	height: 5.7em;
    overflow: hidden;
	padding-top:1em;
}
#news .l-partsBlock01 .l-partsBlock01-table > div .p-message .p-message01.p-newsdetailimage img{	
	display:none;
}

.l-partsBlock01 .l-partsBlock01-table > div .p-message span img{	
	max-width:233px;
	width:100%;
}

.l-partsBlock02{
	width:100%;
	margin:0 auto;
	padding:0px 0 0px;	
}
.l-partsBlock02 .l-partsBlock02-01{
	width:100%;
	border:1px solid #7cb39b;
}
.l-partsBlock02 .l-partsBlock02-01 .p-title{
	width:100%;
	border-bottom:1px solid #7cb39b;
	padding:30px;
	text-align:center;
}
.l-partsBlock02 .l-partsBlock02-01 .p-title p{
	font-size:20px;
	color:#7cb39b;
	font-weight:bold;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table{
	width:100%;
	border-top:1px solid #7cb39b;
	margin-top:2px;
	display:table;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div{
	display:table-cell;
	vertical-align:top;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-image{
	width:51%;	
	padding:15px;
	line-height:0;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-image p{
	text-align:center;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-image p.p-detail{
	line-height:1.7;
	text-align:left;
	padding-top:10px;
	font-size: 14px;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-image p img{
	max-width:367px;
	width:100%;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message{
	width:auto;	
	padding:30px 15px 15px 0;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message.p-p30{
	padding:30px;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message p{
	font-size:14px;
	line-height:1.7;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message p.p-link{
	padding-top:10px;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message p.p-link a{
	color:#0f616b;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message p.p-link a:before {
    content: ' ';
	background:url(../../images/parts/ico_parts02_arrow.png) 0 0 no-repeat transparent;
	position: relative;
	top: -2px;
    display: inline-block;
    width: 4px;
	height: 6px;
	background-size: 4px 6px;
	margin-right:5px;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-02{
	width:100%;
	padding:0 15px 40px;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-02 p.p-message{
	font-size:14px;
	line-height:1.7;
	padding-top:0px;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-02 .l-partsBlock02-02-table{
	border: 1px solid #009885;
	padding:15px;
	margin-top:20px;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-02 .l-partsBlock02-02-table p{
	font-size:14px;
	line-height:1.7;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-02 .l-partsBlock02-02-table p.p-fax{
	padding-top:10px;
	color:#009885;
	font-size:16px;
	line-height:1.7;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-02 p.p-caution{
	padding-top:5px;
	font-size:12px;
	line-height:1.5;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-02 .l-button{
	width:100%;
	text-align:center;
	margin:0 auto;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-02 .l-button p{
	padding-top:40px;
	text-align:center;
	display:inline-block;
	margin:0 auto;
}
.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-02 .l-button p a{
	background: #009C89;
    color: #fff;
	padding:1em 1.5em;
	border-radius: 6px;
	font-size:16px;
	line-height:1.7;
}

.l-partsBlock03{
	width:100%;
	margin:0 auto;
	padding:0px 0 0px;	
}
.l-partsBlock03 .p-title.p-normal{	
	background:url(../../images/parts/bg_h3_pc.jpg) center bottom no-repeat;
	background-size:100% auto;
	padding-top:6.76%;
	margin:0 auto;
}
.l-partsBlock03 .p-title.p-val01{	
	background:url(../../images/parts/bg_value01_pc.jpg) center bottom no-repeat;
	background-size:100% auto;
	padding-top:6.76%;
	margin:0 auto;
}
.l-partsBlock03 .p-title.p-val02{	
	background:url(../../images/parts/bg_value02_pc.jpg) center bottom no-repeat;
	background-size:100% auto;
	padding-top:6.76%;
	margin:0 auto;
}
.l-partsBlock03 .p-title.p-val03{	
	background:url(../../images/parts/bg_value03_pc.jpg) center bottom no-repeat;
	background-size:100% auto;
	padding-top:6.76%;
	margin:0 auto;
}
.l-partsBlock03 .p-title.p-vis01{	
	background:url(../../images/parts/bg_vision01_pc.jpg) center bottom no-repeat;
	background-size:100% auto;
	padding-top:6.76%;
	margin:0 auto;
}
.l-partsBlock03 .p-title.p-vis02{	
	background:url(../../images/parts/bg_vision02_pc.jpg) center bottom no-repeat;
	background-size:100% auto;
	padding-top:6.76%;
	margin:0 auto;
}
.l-partsBlock03 .p-title.p-vis03{	
	background:url(../../images/parts/bg_vision03_pc.jpg) center bottom no-repeat;
	background-size:100% auto;
	padding-top:6.76%;
	margin:0 auto;
}
.l-partsBlock03 .p-title p{	
	text-align:left;
	font-size:26px;
	position:relative;
	top:-30px;
}
#news .l-partsBlock03 .p-title p span{	
	font-size: 16px;
    color: #7cb39b;
    font-weight: bold;
    display: block;
    padding-bottom: 15px;
}
.l-partsBlock03 .p-title p.p-col2{	
	text-align:left;
	font-size:26px;
	position:relative;
	top:-30px;
}
.l-partsBlock03 h4:before{	
	content: '●';
	color:#7cb39b;
	font-size:21px;
	margin-right:0px;
}
.l-partsBlock03 h4{	
	font-size:21px;
	text-align:left;
	padding-top:40px;
}
.l-partsBlock03 .l-valueBlock01{	
	width: 100%;
	margin:0px auto;
	text-align:center;
	padding:0px 0 0;
}
.l-partsBlock03 .l-valueBlock01 .p-title2{	
	line-height:2;
	font-size:18px;
	/*color:#155c70;*/
	padding-top:40px;
	padding-bottom:5px;
	text-align:left;
}
.l-partsBlock03 .l-valueBlock01 .p-message{	
	line-height:2;
	font-size:14px;
	padding-top:25px;
	text-align:left;
	letter-spacing:0;
}
.l-partsBlock03 .l-valueBlock01 .p-news p{	
	line-height:2;
	font-size:14px;
	padding-top:25px;
	text-align:left;
	letter-spacing:0;
}
.l-partsBlock03 .l-valueBlock01 .p-news p.p-image{	
	text-align:center;
}
.l-partsBlock03 .l-valueBlock01 .p-news p.p-image.p-newsdetail img{	
	max-width:947px;
	height:auto !important;
}
.l-partsBlock03 .l-valueBlock01 .p-message.p-green{	
	color:#155c70;
}
.l-partsBlock03 .l-valueBlock01 .p-message.pt00{	
	padding-top:0px;
}
.l-partsBlock03 .l-valueBlock01 .p-message:last-of-type{	
	padding-bottom:25px;
}
.l-partsBlock03 .l-valueBlock01 .p-news p:last-of-type{	
	padding-bottom:25px;
}
.l-partsBlock03 .l-valueBlock01 .p-message.pt00:last-of-type{	
	padding-bottom:0;
}
.l-partsBlock03 .l-valueBlock01 .p-image01{	
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
	margin:0 auto;
	display:table;
	max-width:621px;
	width:100%;
}
.l-partsBlock03 .l-valueBlock01 .p-image02{	
	padding-top:30px;
	padding-bottom:0px;
	text-align:center;
	margin:0 auto;
	display:table;
	max-width:784px;
	width:100%;
}
.l-partsBlock03 .l-valueBlock01 .p-image03{	
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
	margin:0 auto;
	display:table;
	max-width:621px;
	width:100%;
}
.l-partsBlock03 .l-valueBlock01 .p-image01 p{	
	display:table-cell;
	vertical-align:top;
}
.l-partsBlock03 .l-valueBlock01 .p-image01 p img{	
	max-width:100%;
	width:100%;
}
.l-partsBlock03 .l-valueBlock01 .p-image02 p{	
	display:table-cell;
	vertical-align:top;
}
.l-partsBlock03 .l-valueBlock01 .p-image02 p:nth-child(1){	
	text-align:right;
	padding-right:8px;
}
.l-partsBlock03 .l-valueBlock01 .p-image02 p:nth-child(2){	
	text-align:left;
	padding-left:8px;
}
.l-partsBlock03 .l-valueBlock01 .p-image02 p img{	
	max-width:392px;
	width:100%;
}
.l-partsBlock03 .l-valueBlock01 .p-image03 p{	
	display:table-cell;
	vertical-align:top;
}
.l-partsBlock03 .l-valueBlock01 .p-image03 p:nth-child(1){	
	text-align:right;
	padding-right:6px;
}
.l-partsBlock03 .l-valueBlock01 .p-image03 p:nth-child(2){	
	text-align:center;
	padding-left:3px;
	padding-right:3px;
}
.l-partsBlock03 .l-valueBlock01 .p-image03 p:nth-child(3){	
	text-align:left;
	padding-left:6px;
}
.l-partsBlock03 .l-valueBlock01 .p-image03 p img{	
	max-width:201px;
	width:100%;
}
.l-partsBlock03 .l-valueBlock01 .p-image03 p:nth-child(2) img{	
	max-width:100px;
	width:100%;
}

.l-partsBlock03 .l-valueBlock02{	
	width: 100%;
	margin:0px auto;
	text-align:center;
	padding:0px 0 0;
}
.l-partsBlock03 .l-valueBlock02 .l-valueBlock02_table{	
	width:100%;
	margin:0 auto;
	text-align:center;
	display:table;
}
.l-partsBlock03 .l-valueBlock02 .l-valueBlock02_table > div{	
	display:table-cell;
	vertical-align:top;
}
.l-partsBlock03 .l-valueBlock02 .l-valueBlock02_table > div.l-left{	
	width:50.8%;
}
.l-partsBlock03 .l-valueBlock02 .l-valueBlock02_table > div.l-right{	
	width:auto;
}
.l-partsBlock03 .l-valueBlock02 .l-valueBlock02_table .l-valueBlock02_white{	
	margin:0px auto 0;
	padding:0px 16px 20px 0;
	width:100%;
}
.l-partsBlock03 .l-valueBlock02 .p-title2{	
	line-height:2;
	font-size:18px;
	color:#155c70;
	padding-top:30px;
	padding-bottom:5px;
	text-align:left;
}
.l-partsBlock03 .l-valueBlock02 .p-message{	
	line-height:2;
	font-size:14px;
	padding-top:25px;
	text-align:left;
	letter-spacing:0;
}
.l-partsBlock03 .l-valueBlock02 .p-image01{	
	padding-top:30px;
	padding-bottom:0px;
	text-align:left;
}
.l-partsBlock03 .l-valueBlock02 .p-image01 img{	
	max-width:464px;
	width:100%;
}
.l-partsBlock03 .l-valueBlock02 .p-image02{	
	padding-top:2px;
	padding-bottom:0px;
	padding-right:30px;
	text-align:left;
}
.l-partsBlock03 .l-valueBlock02 .p-image02 img{	
	max-width:303px;
	width:100%;
}

.l-partsBlock03 .l-valueBlock03{	
	width: 100%;
	margin:0px auto;
	text-align:center;
	padding:0px 0 0;
}
.l-partsBlock03 .l-valueBlock03 .l-valueBlock03_table{	
	width:100%;
	margin:0 auto;
	text-align:center;
	padding-bottom:0px;
}
.l-partsBlock03 .l-valueBlock03 .l-valueBlock03_table > div{	
	width:50%;
	display:inline-block;
	vertical-align:top;
}
.l-partsBlock03 .l-valueBlock03 .l-valueBlock03_table > div.l-left{
	width:calc(100% - 50.8%);
	float:left;
}
.l-partsBlock03 .l-valueBlock03 .l-valueBlock03_table > div.l-right{
	width:50.8%;
	float:right;
}
.l-partsBlock03 .l-valueBlock03 .l-valueBlock03_table .l-valueBlock03_white{	
	margin:0px auto 0;
	padding:0px 0px 20px 16px;
	width:100%;
}
.l-partsBlock03 .l-valueBlock03 .p-title2{	
	line-height:2;
	font-size:18px;
	color:#155c70;
	padding-top:30px;
	padding-bottom:5px;
	text-align:left;
}
.l-partsBlock03 .l-valueBlock03 .p-message{	
	line-height:2;
	font-size:14px;
	padding-top:25px;
	text-align:left;
	letter-spacing:0;
}
.l-partsBlock03 .l-valueBlock03 .p-image01{	
	padding-top:30px;
	padding-bottom:0px;
	text-align:right;
}
.l-partsBlock03 .l-valueBlock03 .p-image01 img{	
	max-width:465px;
	width:100%;
}
.l-partsBlock03 .l-valueBlock03 .p-image02{	
	padding-top:2px;
	padding-bottom:0px;
	text-align:right;
}
.l-partsBlock03 .l-valueBlock03 .p-image02 img{	
	max-width:306px;
	width:100%;
}

.l-partsBlock03 .l-valueBlock04_table{	
	width:100%;
	margin:0 auto;
	text-align:left;
	display:block;
}
.l-partsBlock03 .l-valueBlock04_table > div{	
	width:50%;
	text-align:left;
	display:inline-block;
	vertical-align:top;
}
.l-partsBlock03 .l-valueBlock04_table > div:nth-of-type(2n+1){	
	padding-right:8px;
}
.l-partsBlock03 .l-valueBlock04_table > div:nth-of-type(2n){	
	padding-left:8px;
}
.l-partsBlock03 .l-valueBlock04_table > div > .l-table{	
	width:100%;
	text-align:left;
	display:table;
	margin-top:30px;
}
/*.l-partsBlock03 .l-valueBlock04_table > div > .l-table:nth-of-type(n+3){	
	margin-top:16px;
}*/
.l-partsBlock03 .l-valueBlock04_table > div > .l-table > .p-image{	
	width:64px;
	text-align:left;
	display:table-cell;
	vertical-align:top;
}
.l-partsBlock03 .l-valueBlock04_table > div > .l-table > .p-image img{	
	max-width:64px;
	width:100%;
}
.l-partsBlock03 .l-valueBlock04_table > div > .l-table > .p-message{	
	width:auto;
	text-align:left;
	display:table-cell;
	padding:0 0 0 16px;
	vertical-align:top;
}

.l-partsBlock04{
	width:100%;
	margin:0 auto;
	padding:80px 0 0px;
	text-align:center;
}
.l-partsBlock04 h2{
	
}
.l-partsBlock04 h2 p{
	font-size: 28px;
    color: #333;
    font-weight: bold;
    padding-bottom: 0;
    line-height: 1.5;	
}

.l-buttonBlock{	
	width: 100%;
	margin:0px auto;
	text-align:center;
	padding:0px 0 0px;
}
.l-buttonBlock .l-buttonBlock-table{	
	display:table;
	margin:0px auto;
	text-align:center;
}
.l-buttonBlock .l-buttonBlock-table p{	
	display:table-cell;
	vertical-align:top;
}
.l-buttonBlock .l-buttonBlock-table p.p-left{	
	text-align:right;
	padding-right:8px;
}
.l-buttonBlock .l-buttonBlock-table p.p-right{	
	text-align:left;
	padding-left:8px;
}
.l-buttonBlock .l-buttonBlock-table p img{	
	max-width:384px;
	width:100%;
}
.l-buttonBlock .l-buttonBlock-table .p-aboutButton {
	padding-top:0;
}
.l-buttonBlock .l-buttonBlock-table .p-aboutButton a:before {
    content: ' ';
	background:url(../../images/top/ico_arrow02_pc.png) 0 0 no-repeat transparent;
	position: relative;
	top: 1px;
    display: inline-block;
    width: 6px;
	height: 10px;
	background-size: 6px 10px;
	margin-right:5px;
}
.l-buttonBlock .l-buttonBlock-table .p-aboutButton a {
    background-color: #f0ff00;
    padding: 15px 50px;
    display: inline-block;
    text-align: center;
    color: #333;
    border-radius: 0;
	font-size:18px;
}
.l-buttonBlock .l-buttonBlock-table .p-aboutButton a:hover {
    background-color: #ff6;
}
.l-buttonBlock .l-buttonBlock-table .p-aboutButton a span {
    position:relative;
	top:3px;
	color:#333;
}
.l-buttonBlock .l-buttonBlock-table .p-aboutButton input[type="submit"]{
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f0ff00;
    padding: 15px 50px;
    display: inline-block;
    text-align: center;
    color: #333;
    border-radius: 0;
	font-size:18px;
	border:none;
	margin: 15px auto 0;
}
.l-buttonBlock .l-buttonBlock-table .p-aboutButton input[type="submit"]:hover {
    background-color: #ff6;
	cursor:pointer;
}
.l-buttonBlock .l-buttonBlock-table .p-aboutButton input[type="submit"]:active {
    border:none;
}
.l-buttonBlock .l-buttonBlock-table .p-aboutButton input[type="submit"] span {
    position:relative;
	top:3px;
	color:#333;
}

.l-buttonBlock .l-buttonBlock-table .p-arrowButton {
	padding-top:0;
	display: block;
    width: 100%;
}
.l-buttonBlock .l-buttonBlock-table .p-arrowButton p {
    display: inline-block;
    font-weight: bold;
    padding-right: 18px;
    line-height: 2;
    font-size: 14px;
}
.l-buttonBlock .l-buttonBlock-table .p-arrowButton p a {
    color: #0f616b;
    font-size: 14px;
    line-height: 1.7;
}
.l-buttonBlock .l-buttonBlock-table .p-arrowButton p a:before {
    content: ' ';
    background: url(../../images/parts/ico_about_arrow.png) 0 0 no-repeat transparent;
    position: relative;
    top: -2px;
    display: inline-block;
    width: 4px;
    height: 6px;
    background-size: 4px 6px;
    margin-right: 5px;
}

a.p-color_link{
	text-decoration:underline;
	color:#369;
	position:relative;
	top:-1px;
}
a.p-color_link:hover{
	color:#7f639f;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	/*農園のこと*/
	#farm .l-mvBlock{	
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/farm/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:381px;
		display:table;
	}
	/*大切にしていること*/
	#value .l-mvBlock{	
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/farm/value/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:381px;
		display:table;
	}
	/*スタッフ*/
	#staff .l-mvBlock{	
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/farm/staff/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:381px;
		display:table;
	}
	/*野菜のこと*/
	#vegetable .l-mvBlock{	
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/vegetable/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:381px;
		display:table;
	}
	/*収穫カレンダー*/
	#lineup .l-mvBlock{	
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/vegetable/lineup/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:381px;
		display:table;
	}
	/*野菜づくり*/
	#work .l-mvBlock{	
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/vegetable/work/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:381px;
		display:table;
	}
	/*ミライの農業*/
	#vision .l-mvBlock{	
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/vision/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:381px;
		display:table;
	}
	/*畑とつながる体験*/
	#academy .l-mvBlock{	
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/academy/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:381px;
		display:table;
	}
	/*商品*/
	#marche .l-mvBlock{	
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/marche/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:381px;
		display:table;
	}
	/*契約販売・受託栽培*/
	#request .l-mvBlock{	
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/request/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:381px;
		display:table;
	}
	/*キッズファーム*/
	#kids .l-mvBlock{	
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/kids/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:381px;
		display:table;
	}
	/*新着情報*/
	#news .l-mvBlock{	
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/news/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:381px;
		display:table;
	}
	/*お客様の声*/
	#voice .l-mvBlock{	
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/voice/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:381px;
		display:table;
	}
	/*お問い合わせ*/
	#contact .l-mvBlock{	
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/contact/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:381px;
		display:table;
	}
	/*農園概要・アクセス*/
	#access .l-mvBlock{	
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/access/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:381px;
		display:table;
	}
	.l-mvBlock h1{
		display:table-cell;
		vertical-align:middle;
		color:#FFF;
		font-size:18px;
		font-weight:bold;
		letter-spacing:0.1em;
	}
	.l-mvBlock h1 img{
		/*max-width:184px;
		width:100%;*/
		max-width:100%;
		width:100%;
		height:59px;
	}
	.l-mvBlock h1 img.p-sizeM{
		/*max-width:184px;
		width:100%;*/
		max-width:100%;
		width:100%;
		height:75px;
	}
	
	.l-messageBlock{	
		width: 100%;	
	}
	.l-messageBlock01{	
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		padding-bottom:0px;
		/*background:url(../../images/farm/bg_mv01_pc.png) center center no-repeat;
		background-size:cover;*/
		height:auto;
		position:relative;
	}
	.l-messageBlock01.h2only{	
		min-height:100%;
	}
	.l-messageBlock01 .l-inner {
		
	}
	.l-messageBlock01 .l-messageBlock01-01{	
		width:100%;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title{
		padding-top:0px;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title img{
		max-width:785px;
		width:100%;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white{
		margin:0px auto 0;
		padding:60px 25px 60px;
		max-width:785px;
		width:100%;
		background-color:rgba(255,255,255,0.9);	
		position:relative;
		top:-40px;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white p{
		line-height:2;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-title{
		font-size:28px;
		color:#333;
		font-weight:bold;
		line-height:1.5;	
		padding:0px 0 22px;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-message{
		font-size:16px;
		color:#333;
		font-weight:bold;
		font-weight:bold;
/*font-weight:500;*/
		line-height:1.8;
		padding-bottom:25px;	
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-english{
		font-size:14px;
		color:#269029;
		font-weight:bold;
/*font-weight:500;*/
		line-height:1.7;	
	}
	
	.l-partsBlock01{	
		width:100%;
		margin:0 auto 0;
		text-align: center;
		background-color:#FFFFFF;
		padding:0px 0 0px;
	}
	.l-partsBlock01.pt40{	
		padding:40px 0 0px;
	}
	.l-partsBlock01 .l-partsBlock01-table{	
		width:100%;
		margin:0px auto 0;
		display:block;
		/*background:url(../images/top/img_about02_pc.png) left top no-repeat;
		padding-top:100px;*/
		z-index:99;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column2 > div{	
		width:50%;
		display:inline-block;
		text-align:left;
		vertical-align:top;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column2 > div:nth-child(2n+1){	
		padding-right:8px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column2 > div:nth-child(2n){	
		padding-left:8px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column2 > div:nth-child(n+3){	
		padding-top:16px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div{	
		width:33.3%;
		display:inline-block;
		text-align:left;
		vertical-align:top;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(3n+1){	
		padding-right:10px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(3n+2){	
		padding-left:5px;
		padding-right:5px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(3n){	
		padding-left:10px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(n+4){	
		padding-top:16px;
	}
	.l-partsBlock01 .l-partsBlock01-table > div a{	
		display:block;
		-webkit-transition:.3s;
		-moz-transition:.3s;
		transition:.3s;
	}
	.l-partsBlock01 .l-partsBlock01-table > div a:hover{	
		opacity:0.7;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-image{	
		line-height:0;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column2 > div .p-image img{	
		max-width:100%;
		width:100%;
		line-height:0;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div .p-image img{	
		max-width:100%;
		width:100%;
		line-height:0;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message{	
		padding:20px 10px;
		background-color:#edf1f4;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title{	
		font-size:20px;
		color:#000;
		line-height:1.2;
		font-weight:bold;
		padding-bottom:20px;
		text-align:center;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title span{	
		font-size: 14px;
		color: #7cb39b;
		font-weight: bold;
		display: block;
		padding-bottom:3px;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title:after {
		content: ' ';
		display: block;
		font-size: 100%;
		margin-right:5px;
		position:relative;
		border-bottom:5px solid #FFFFFF;
		width:80px;
		margin:0 auto;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-message01{	
		font-size:14px;
		text-align:center;
		letter-spacing: 0;
		line-height:1.7;
		color:#333;
	}
	
	.l-partsBlock01 .l-partsBlock01-table > div .p-message span img{	
		max-width:233px;
		width:100%;
	}
	
	.l-partsBlock03 .l-valueBlock01 .p-news p.p-image.p-newsdetail img {
		max-width: 100%;
		width:100%;
		height: auto !important;
	}
	
	.l-partsBlock03 .l-valueBlock04_table{	
		width:100%;
		margin:0 auto;
		text-align:left;
		display:block;
	}
	.l-partsBlock03 .l-valueBlock04_table > div{	
		width:50%;
		text-align:left;
		display:inline-block;
		vertical-align:top;
	}
	.l-partsBlock03 .l-valueBlock04_table > div:nth-of-type(2n+1){	
		padding-right:8px;
	}
	.l-partsBlock03 .l-valueBlock04_table > div:nth-of-type(2n){	
		padding-left:8px;
	}
	.l-partsBlock03 .l-valueBlock04_table > div > .l-table{	
		width:100%;
		text-align:left;
		display:table;
		margin-top:30px;
	}
	/*.l-partsBlock03 .l-valueBlock04_table > div > .l-table:nth-of-type(n+3){	
		margin-top:16px;
	}*/
	.l-partsBlock03 .l-valueBlock04_table > div > .l-table > .p-image{	
		width:64px;
		text-align:left;
		display:table-cell;
		vertical-align:top;
	}
	.l-partsBlock03 .l-valueBlock04_table > div > .l-table > .p-image img{	
		max-width:64px;
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock04_table > div > .l-table > .p-message{	
		width:auto;
		text-align:left;
		display:table-cell;
		padding:0 0 0 16px;
		vertical-align:top;
	}
	
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton {
		padding-top:0;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton a:before {
		content: ' ';
		background:url(../../images/top/ico_arrow02_pc.png) 0 0 no-repeat transparent;
		position: relative;
		top: 1px;
		display: inline-block;
		width: 6px;
		height: 10px;
		background-size: 6px 10px;
		margin-right:5px;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton a {
		background-color: #f0ff00;
		padding: 15px 50px;
		display: inline-block;
		text-align: center;
		color: #333;
		border-radius: 0;
		font-size:18px;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton a:hover {
		background-color: #ff6;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton a span {
		position:relative;
		top:3px;
		color:#333;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton input[type="submit"]{
		background-color: #f0ff00;
		padding: 15px 50px;
		display: inline-block;
		text-align: center;
		color: #333;
		border-radius: 0;
		font-size:18px;
		border:none;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton input[type="submit"]:hover {
		background-color: #ff6;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton input[type="submit"] span {
		position:relative;
		top:3px;
		color:#333;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	/*農園のこと*/
	#farm .l-mvBlock{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/farm/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:266px;
		display:table;
	}
	/*大切にしていること*/
	#value .l-mvBlock{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/farm/value/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:266px;
		display:table;
	}
	/*スタッフ*/
	#staff .l-mvBlock{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/farm/staff/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:266px;
		display:table;
	}
	/*野菜のこと*/
	#vegetable .l-mvBlock{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/vegetable/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:266px;
		display:table;
	}
	/*収穫カレンダー*/
	#lineup .l-mvBlock{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/vegetable/lineup/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:266px;
		display:table;
	}
	/*野菜づくり*/
	#work .l-mvBlock{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/vegetable/work/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:266px;
		display:table;
	}
	/*ミライの農業*/
	#vision .l-mvBlock{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/vision/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:266px;
		display:table;
	}
	/*畑とつながる体験*/
	#academy .l-mvBlock{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/academy/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:266px;
		display:table;
	}
	/*商品*/
	#marche .l-mvBlock{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/marche/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:266px;
		display:table;
	}
	/*契約販売・受託栽培*/
	#request .l-mvBlock{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/request/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:266px;
		display:table;
	}
	/*キッズファーム*/
	#kids .l-mvBlock{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/kids/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:266px;
		display:table;
	}
	/*新着情報*/
	#news .l-mvBlock{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/news/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:266px;
		display:table;
	}
	/*お客様の声*/
	#voice .l-mvBlock{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/voice/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:266px;
		display:table;
	}
	/*お問い合わせ*/
	#contact .l-mvBlock{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/contact/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:266px;
		display:table;
	}
	/*農園概要・アクセス*/
	#access .l-mvBlock{	
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/access/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:266px;
		display:table;
	}
	.l-mvBlock h1{
		display:table-cell;
		vertical-align:middle;
		color:#FFF;
		font-size:16px;
		font-weight:bold;
		letter-spacing:0.1em;
	}
	.l-mvBlock h1 img{
		/*max-width:144px;
		width:100%;*/
		max-width:100%;
		width:100%;
		height:42px;
	}
	.l-mvBlock h1 img.p-sizeM{
		max-width:100%;
		width:100%;
		height:52px;
	}
	
	.l-messageBlock{	
		width: 100%;	
	}
	.l-messageBlock01{	
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		padding-bottom:0px;
		/*background:url(../../images/farm/bg_mv01_pc.png) center center no-repeat;
		background-size:cover;*/
		height:auto;
		position:relative;
	}	
	.l-messageBlock01.p-ver2 {
		/*background: url(../../images/parts/bg_message2_pc.png) no-repeat;*/
		background:#f5f7f9;
	}	
	.l-messageBlock01.p-ver3 {
		background:#f5f7f9;
	}
	.l-messageBlock01 .l-inner {
		
	}
	.l-messageBlock01 .l-messageBlock01-01{	
		width:100%;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title{
		padding-top:0px;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title img{
		max-width:785px;
		width:100%;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white{
		margin:0px auto 0;
		padding:40px 20px;
		max-width:785px;
		width:100%;
		background-color:rgba(255,255,255,0.9);	
		position:relative;
		top:-28px;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white p{
		line-height:2;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-title{
		font-size:20px;
		color:#333;
		font-weight:bold;
		line-height:1.5;	
		padding:0px 0 22px;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-message{
		font-size:16px;
		color:#333;
		font-weight:bold;
		font-weight:bold;
/*font-weight:500;*/
		line-height:1.8;
		padding-bottom:18px;	
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-english{
		font-size:14px;
		color:#269029;
		font-weight:bold;
/*font-weight:500;*/
		line-height:1.7;	
	}
	
	.l-partsBlock01{	
		width:100%;
		margin:0 auto 0;
		text-align: center;
		background-color:#FFFFFF;
		padding:0px 0 0px;
	}
	.l-partsBlock01.pt40{	
		padding:30px 0 0px;
	}
	.l-partsBlock01 .l-partsBlock01-table{	
		width:100%;
		margin:0px auto 0;
		display:block;
		/*background:url(../images/top/img_about02_pc.png) left top no-repeat;
		padding-top:100px;*/
		z-index:99;
		text-align:left;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column2 > div{	
		width:50%;
		display:inline-block;
		text-align:left;
		vertical-align:top;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column2 > div:nth-child(2n+1){	
		padding-right:8px;
		padding-left:0px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column2 > div:nth-child(2n){	
		padding-left:8px;
		padding-right:0px;
		padding-top:0px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column2 > div:nth-child(n+3){	
		padding-top:16px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div{	
		width:50%;
		display:inline-block;
		text-align:left;
		vertical-align:top;
	}
	/*↓3カラムの設定をクリア*/
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(3n+1){	


		padding-right:0px;
		padding-left:0px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(3n+2){	
		padding-right:0px;
		padding-left:0px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(3n){
		padding-right:0px;
		padding-left:0px;
	}
	/*↑3カラムの設定をクリア*/
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(2n+1){	
		padding-right:8px;
		padding-left:0px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(2n){	
		padding-left:8px;
		padding-right:0px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(n+3){
		padding-top:16px;
	}
	.l-partsBlock01 .l-partsBlock01-table > div a{	
		display:block;
		-webkit-transition:.3s;
		-moz-transition:.3s;
		transition:.3s;
	}
	.l-partsBlock01 .l-partsBlock01-table > div a:hover{	
		opacity:0.7;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-image{	
		line-height:0;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-image img{	
		max-width:100%;
		width:100%;
		line-height:0;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message{	
		padding:20px 10px;
		background-color:#edf1f4;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title{	
		font-size:18px;
		color:#000;
		line-height:1.2;
		font-weight:bold;
		padding-bottom:20px;
		text-align:center;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title span{	
		font-size: 12px;
		color: #7cb39b;
		font-weight: bold;
		display: block;
		padding-bottom:3px;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title:after {
		content: ' ';
		display: block;
		font-size: 100%;
		margin-right:5px;
		position:relative;
		border-bottom:4px solid #FFFFFF;
		width:80px;
		margin:0 auto;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-message01{	
		font-size:14px;
		text-align:center;
		letter-spacing: 0;
		line-height:1.7;
		color:#333;
	}
	#contact .l-partsBlock01 .l-partsBlock01-table > div .p-message .p-message01{	
		font-size:20px;
		text-align:center;
		letter-spacing: 0;
		line-height:1.7;
		color:#333;
	}
	
	.l-partsBlock01 .l-partsBlock01-table > div .p-message span img{	
		max-width:233px;
		width:100%;
	}
	
	.l-partsBlock02{
		width:100%;
		margin:0 auto;
		padding:0px 0 0px;	
	}
	.l-partsBlock02 .l-partsBlock02-01{
		width:100%;
		border:1px solid #7cb39b;
	}
	.l-partsBlock02 .l-partsBlock02-01 .p-title{
		width:100%;
		border-bottom:1px solid #7cb39b;
		padding:20px;
		text-align:center;
	}
	.l-partsBlock02 .l-partsBlock02-01 .p-title p{
		font-size:18px;
		color:#7cb39b;
		font-weight:bold;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table{
		width:100%;
		border-top:1px solid #7cb39b;
		margin-top:2px;
		display:block;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div{
		display:block;
		vertical-align:top;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-image{
		width:100%;	
		padding:15px;
		line-height:0;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-image p{
		text-align:center;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-image p img{
		max-width:367px;
		width:100%;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message{
		width:100%;	
		padding:0px 15px 15px 15px;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message.p-p30{
		padding:20px;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message p{
		font-size:14px;
		line-height:1.7;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message p.p-link{
		padding-top:10px;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message p.p-link a{
		color:#0f616b;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message p.p-link a:before {
		content: ' ';
		background:url(../../images/parts/ico_parts02_arrow.png) 0 0 no-repeat transparent;
		position: relative;
		top: -2px;
		display: inline-block;
		width: 4px;
		height: 6px;
		background-size: 4px 6px;
		margin-right:5px;

	}
	
	.l-partsBlock03{
		width:100%;
		margin:0 auto;
		padding:0px 0 0px;	
	}
	.l-partsBlock03 .p-title.p-normal{	
		background:url(../../images/parts/bg_h3_pc.jpg) center bottom no-repeat;
		background-size:100% auto;
		padding-top:6.76%;
		margin:0 auto;
	}
	.l-partsBlock03 .p-title.p-val01{	
		background:url(../../images/parts/bg_value01_pc.jpg) center bottom no-repeat;
		background-size:100% auto;
		padding-top:6.76%;
		margin:0 auto;
	}
	.l-partsBlock03 .p-title.p-val02{	
		background:url(../../images/parts/bg_value02_pc.jpg) center bottom no-repeat;
		background-size:100% auto;
		padding-top:6.76%;
		margin:0 auto;
	}
	.l-partsBlock03 .p-title.p-val03{	
		background:url(../../images/parts/bg_value03_pc.jpg) center bottom no-repeat;
		background-size:100% auto;
		padding-top:6.76%;
		margin:0 auto;
	}
	.l-partsBlock03 .p-title.p-vis01{	
		background:url(../../images/parts/bg_vision01_pc.jpg) center bottom no-repeat;
		background-size:100% auto;
		padding-top:6.76%;
		margin:0 auto;
	}
	.l-partsBlock03 .p-title.p-vis02{	
		background:url(../../images/parts/bg_vision02_pc.jpg) center bottom no-repeat;
		background-size:100% auto;
		padding-top:6.76%;
		margin:0 auto;
	}
	.l-partsBlock03 .p-title.p-vis03{	
		background:url(../../images/parts/bg_vision03_pc.jpg) center bottom no-repeat;
		background-size:100% auto;
		padding-top:6.76%;
		margin:0 auto;
	}
	.l-partsBlock03 .p-title p{	
		text-align:left;
		font-size:20px;
		position:relative;
		top:-15px;
	}
	.l-partsBlock03 .l-valueBlock01 .p-news p.p-image.p-newsdetail img {
		max-width: 100%;
		width:100%;
		height: auto !important;
	}
	#news .l-partsBlock03 .p-title p span{	
		font-size: 14px;
		color: #7cb39b;
		font-weight: bold;
		display: block;
		padding-bottom: 12px;
	}
	.l-partsBlock03 .p-title p.p-col2{	
		text-align:left;
		font-size:20px;
		position:relative;
		top:-15px;
	}
	.l-partsBlock03 .l-valueBlock01{	
		width: 100%;
		margin:0px auto;
		text-align:center;
		padding:0px 0 0;
	}
	.l-partsBlock03 .l-valueBlock01 .p-title2{	
		line-height:2;
		font-size:18px;
		/*color:#155c70;*/
		padding-top:30px;
		padding-bottom:5px;
		text-align:left;
	}
	.l-partsBlock03 .l-valueBlock01 .p-image01{	
		padding-top:15px;
		padding-bottom:15px;
		text-align:left;
		margin:0 auto;
		display:block;
		max-width:100%;
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock01 .p-image03{	
		padding-top:30px;
		padding-bottom:30px;
		text-align:left;
		margin:0 auto;
		display:block;
		max-width:100%;
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock01 .p-image01 p{	
		display:inline-block;
		vertical-align:top;
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock01 .p-image03{	
		padding-top:30px;
		padding-bottom:30px;
		text-align:left;
		margin:0 auto;
		display:block;
		max-width:100%;
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock01 .p-image03 p{	
		display:inline-block;
		vertical-align:top;
		width:33.3%;
	}
	.l-partsBlock03 .l-valueBlock01 .p-image03 p:nth-child(1){	
		text-align:center;
		padding-right:5px;
	}
	.l-partsBlock03 .l-valueBlock01 .p-image03 p:nth-child(2){	
		text-align:center;
		padding-left:0px;
		padding-right:0px;
	}
	.l-partsBlock03 .l-valueBlock01 .p-image03 p:nth-child(3){	
		text-align:center;
		padding-top: 0px;
		padding-left:5px;
		padding-right:0px;
	}
	.l-partsBlock03 .l-valueBlock01 .p-image03 p img{	
		max-width:201px !important;
		width:100%;
	}
	
	.l-partsBlock03 .l-valueBlock02{	
		width: 100%;
		margin:0px auto;
		text-align:center;
		padding:0px 0 0px;
	}
	.l-partsBlock03 .l-valueBlock02 .l-valueBlock02_table{	
		width:100%;
		margin:0 auto;
		text-align:center;
		display:block;
	}
	.l-partsBlock03 .l-valueBlock02 .l-valueBlock02_table > div{	
		display:block;
		vertical-align:top;
	}
	.l-partsBlock03 .l-valueBlock02 .l-valueBlock02_table > div.l-left{	
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock02 .l-valueBlock02_table > div.l-right{	
		width:100%;
		display:table;
	}
	.l-partsBlock03 .l-valueBlock02 .l-valueBlock02_table .l-valueBlock02_white{	
		margin:0px auto 0;
		padding:0px 0 20px 0;
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock02 .p-title2{	
		line-height:2;
		font-size:18px;
		color:#155c70;
		padding-top:30px;
		padding-bottom:5px;
		text-align:left;
	}
	.l-partsBlock03 .l-valueBlock02 .p-message{	
		line-height:2;
		font-size:14px;
		padding-top:20px;
		text-align:left;
		letter-spacing:0;
	}
	.l-partsBlock03 .l-valueBlock02 .p-image01{	
		padding-top:5px;
		padding-bottom:0px;
		padding-right:5px;
		text-align:center;
		display:table-cell;
		vertical-align:top;
	}
	.l-partsBlock03 .l-valueBlock02 .p-image01 img{	
		max-width:303px;
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock02 .p-image02{	
		padding-top:5px;
		padding-bottom:0px;
		padding-left:5px;
		padding-right:0px;
		text-align:center;
		display:table-cell;
		vertical-align:top;
	}
	.l-partsBlock03 .l-valueBlock02 .p-image02 img{	
		max-width:303px;
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock03{	
		width: 100%;
		margin:0px auto;
		text-align:center;
		padding:0px 0 30px;
	}
	.l-partsBlock03 .l-valueBlock03 .l-valueBlock03_table{	
		width:100%;
		margin:0 auto;
		text-align:center;
		display:block;
		padding-bottom:0px;
	}
	.l-partsBlock03 .l-valueBlock03 .l-valueBlock03_table > div{	
		display:block;
		vertical-align:top;
	}
	.l-partsBlock03 .l-valueBlock03 .l-valueBlock03_table > div.l-left{
		width:100%;
		float:none;
		text-align:center;
		margin:0 auto;
		display:table;
	}
	.l-partsBlock03 .l-valueBlock03 .l-valueBlock03_table > div.l-right{
		width:100%;
		float:none;
		display:table;
	}
	.l-partsBlock03 .l-valueBlock03 .l-valueBlock03_table .l-valueBlock03_white{	
		margin:0px auto 0;
		padding:0px 0px 20px 0;
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock03 .p-title2{	
		line-height:2;
		font-size:18px;
		color:#155c70;
		padding-top:30px;
		padding-bottom:5px;
		text-align:left;
	}
	.l-partsBlock03 .l-valueBlock03 .p-message{	
		line-height:2;
		font-size:14px;
		padding-top:20px;
		text-align:left;
		letter-spacing:0;
	}
	.l-partsBlock03 .l-valueBlock03 .p-image01{	
		padding-top:5px;
		padding-bottom:0px;
		padding-right:5px;
		text-align:center;
		display:table-cell;
		vertical-align:top;
		width:50%;
	}
	.l-partsBlock03 .l-valueBlock03 .p-image01 img{	
		max-width:306px;
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock03 .p-image02{	
		padding-top:5px;
		padding-bottom:0px;
		padding-left:5px;
		padding-right:0px;
		text-align:center;
		display:table-cell;
		vertical-align:top;
		width:50%;
	}
	.l-partsBlock03 .l-valueBlock03 .p-image02 img{	
		max-width:306px;
		width:100%;
	}
	
	.l-partsBlock03 .l-valueBlock04_table{	
		width:100%;
		margin:0 auto;
		text-align:left;
		display:block;
		padding-top:10px;
	}
	.l-partsBlock03 .l-valueBlock04_table > div{	
		width:100%;
		text-align:center;
		display:block;
		vertical-align:top;
	}
	.l-partsBlock03 .l-valueBlock04_table > div:nth-of-type(2n+1){	
		padding-right:0px;
	}
	.l-partsBlock03 .l-valueBlock04_table > div:nth-of-type(2n){	
		padding-left:0px;
	}
	.l-partsBlock03 .l-valueBlock04_table > div > .l-table{	
		width:100%;
		text-align:left;
		display:table;
		margin-top:20px;
	}
	.l-partsBlock03 .l-valueBlock04_table > div > .l-table > .p-image{	
		width:64px;
		text-align:left;
		display:table-cell;
		vertical-align:top;
	}
	.l-partsBlock03 .l-valueBlock04_table > div > .l-table > .p-image img{	
		max-width:64px;
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock04_table > div > .l-table > .p-message{	
		width:auto;
		text-align:left;
		display:table-cell;
		padding:0 0 0 16px;
		vertical-align:top;
	}
	
	.l-partsBlock04{
		width:100%;
		margin:0 auto;
		padding:0px 0 0px;
		text-align:center;
	}
	.l-partsBlock04 h2{
	}
	.l-partsBlock04 h2 p{
		font-size:22px;
		color:#333;
		font-weight:bold;	
		padding-bottom:0;
		line-height:1.5;
	}
	
	
	.l-buttonBlock .l-buttonBlock-table p.p-left{	
		text-align:right;
		padding-right:5px;
	}
	.l-buttonBlock .l-buttonBlock-table p.p-right{	
		text-align:left;
		padding-left:5px;
	}
	
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton {
		padding-top:0;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton a:before {
		content: ' ';
		background:url(../../images/top/ico_arrow02_pc.png) 0 0 no-repeat transparent;
		position: relative;
		top: 1px;
		display: inline-block;
		width: 5px;
		height: 8px;
		background-size: 5px 8px;
		margin-right:5px;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton a {
		background-color: #f0ff00;
		padding: 10px 35px;
		display: inline-block;
		text-align: center;
		color: #333;
		border-radius: 0;
		font-size:16px;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton a:hover {
		background-color: #ff6;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton a span {
		position:relative;
		top:3px;
		color:#333;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton input[type="submit"]{
		background-color: #f0ff00;
		padding: 10px 35px;
		display: inline-block;
		text-align: center;
		color: #333;
		border-radius: 0;
		font-size:16px;
		border:none;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton input[type="submit"]:hover {
		background-color: #ff6;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton input[type="submit"] span {
		position:relative;
		top:3px;
		color:#333;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	/*農園のこと*/
	#farm .l-mvBlock{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/farm/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:190px;
		display:table;
	}
	/*大切にしていること*/
	#value .l-mvBlock{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/farm/value/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:190px;
		display:table;
	}
	/*スタッフ*/
	#staff .l-mvBlock{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/farm/staff/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:190px;
		display:table;
	}
	/*野菜のこと*/
	#vegetable .l-mvBlock{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/vegetable/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:190px;
		display:table;
	}
	/*収穫カレンダー*/
	#lineup .l-mvBlock{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/vegetable/lineup/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:190px;
		display:table;
	}
	/*野菜づくり*/
	#work .l-mvBlock{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/vegetable/work/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:190px;
		display:table;
	}
	/*ミライの農業*/
	#vision .l-mvBlock{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/vision/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:190px;
		display:table;
	}
	/*畑とつながる体験*/
	#academy .l-mvBlock{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/academy/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:190px;
		display:table;
	}
	/*商品*/
	#marche .l-mvBlock{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/marche/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:190px;
		display:table;
	}
	/*契約販売・受託栽培*/
	#request .l-mvBlock{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/request/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:190px;
		display:table;
	}
	/*キッズファーム*/
	#kids .l-mvBlock{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/kids/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:190px;
		display:table;
	}
	/*新着情報*/
	#news .l-mvBlock{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/news/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:190px;
		display:table;
	}
	/*お客様の声*/
	#voice .l-mvBlock{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/voice/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:190px;
		display:table;
	}
	/*お問い合わせ*/
	#contact .l-mvBlock{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/contact/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:190px;
		display:table;
	}
	/*農園概要・アクセス*/
	#access .l-mvBlock{	
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding-bottom:0px;
		background:url(../../images/access/bg_mv_pc.png) center center no-repeat;
		background-size:cover;
		height:190px;
		display:table;
	}
	.l-mvBlock h1{
		display:table-cell;
		vertical-align:middle;
		color:#FFF;
		font-size:14px;
		font-weight:bold;
		letter-spacing:0.1em;
	}
	.l-mvBlock h1 img{
		/*max-width:103px;
		width:100%;*/
		max-width:100%;
		width:100%;
		height:30px;
	}
	.l-mvBlock h1 img.p-sizeM{
		max-width:100%;
		width:100%;
		height:36px;
	}
	/*農園のこと*/
	#farm .l-mvBlock h1 img{
		max-width:103px;
		width:100%;
	}
	/*大切にしていること*/
	#value .l-mvBlock h1 img{
		max-width:103px;
		width:100%;
	}
	/*収穫カレンダー*/
	#lineup .l-mvBlock h1 img{
		max-width:103px;
		width:100%;
	}
	
	.l-messageBlock{	
		width: 100%;	
	}
	.l-messageBlock01{	
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		padding-bottom:0px;
		/*background:url(../../images/farm/bg_mv01_pc.png) center center no-repeat;
		background-size:cover;*/
		height:auto;
		position:relative;
	}
	.l-messageBlock01.p-ver2 {
		/*background: url(../../images/parts/bg_message2_pc.png) no-repeat;*/
		background:#f5f7f9;
	}
	.l-messageBlock01.p-ver3 {
		background:#f5f7f9;
	}
	.l-messageBlock01 .l-inner {
		
	}
	.l-messageBlock01 .l-messageBlock01-01{	
		width:100%;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title{
		padding-top:0px;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_title img{
		max-width:785px;
		width:100%;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white{
		margin:0px auto 0;
		padding:30px 10px;
		max-width:785px;
		width:100%;
		background-color:rgba(255,255,255,0.9);	
		position:relative;
		top:-20px;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white p{
		line-height:2;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-title{
		font-size:16px;
		color:#333;
		font-weight:bold;
		line-height:1.7;	
		padding:0px 0 10px;
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-message{
		font-size:14px;
		color:#333;
		font-weight:bold;
		font-weight:bold;
/*font-weight:500;*/
		line-height:1.8;
		padding-bottom:12px;	
	}
	.l-messageBlock01 .l-messageBlock01-01 .l-messageBlock_white .p-english{
		font-size:12px;
		color:#269029;
		font-weight:bold;
/*font-weight:500;*/
		line-height:1.7;	
	}
	.l-partsBlock01{	
		width:100%;
		margin:0 auto 0;
		text-align: center;
		background-color:#FFFFFF;
		padding:0px 0 0px;
	}
	.l-partsBlock01.pt40{	
		padding:20px 0 0px;
	}
	.l-partsBlock01 .l-partsBlock01-table{	
		width:100%;
		margin:0px auto 0;
		display:block;
		/*background:url(../images/top/img_about02_pc.png) left top no-repeat;
		padding-top:100px;*/
		z-index:99;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column2 > div{	
		width:100%;
		display:block;
		text-align:left;
		vertical-align:top;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column2 > div:nth-child(2n+1){	
		padding-right:0px;
		padding-left:0px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column2 > div:nth-child(2n){	
		padding-left:0px;
		padding-right:0px;
		padding-top:10px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column2 > div:nth-child(n+3){	
		padding-top:10px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div{	
		width:100%;
		display:block;
		text-align:left;
		vertical-align:top;
	}
	/*↓3カラムの設定をクリア*/
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(3n+1){	
		padding-right:0px;
		padding-left:0px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(3n+2){	
		padding-right:0px;
		padding-left:0px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(3n){
		padding-right:0px;
		padding-left:0px;
	}
	/*↑3カラムの設定をクリア*/
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(2n+1){	
		padding-right:0px;
		padding-left:0px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(2n){	
		padding-left:0px;
		padding-right:0px;
		padding-top:10px;
	}
	.l-partsBlock01 .l-partsBlock01-table.l-column3 > div:nth-child(n+3){
		padding-top:10px;
	}
	.l-partsBlock01 .l-partsBlock01-table > div a{	
		display:block;
		-webkit-transition:.3s;
		-moz-transition:.3s;
		transition:.3s;
	}
	.l-partsBlock01 .l-partsBlock01-table > div a:hover{	
		opacity:0.7;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-image{	
		line-height:0;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-image img{	
		max-width:100%;
		width:100%;
		line-height:0;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message{	
		padding:15px 10px;
		background-color:#edf1f4;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title{	
		font-size:16px;
		color:#000;
		line-height:1.2;
		font-weight:bold;
		padding-bottom:10px;
		text-align:center;
	}
	#news .l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title {
		max-height: 4.3em;
		overflow: hidden;
		margin-bottom: 10px;
		padding-bottom: 0px;
		vertical-align: middle;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title span{	
		font-size: 12px;
		color: #7cb39b;
		font-weight: bold;
		display: block;
		padding-bottom:3px;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title:after {
		content: ' ';
		display: block;
		font-size: 100%;
		margin-right:5px;
		position:relative;
		border-bottom:3px solid #FFFFFF;
		width:80px;
		margin:0 auto;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-message01{	
		font-size:14px;
		text-align:center;
		letter-spacing: 0;
		line-height:1.7;
		color:#333;
	}
	#contact .l-partsBlock01 .l-partsBlock01-table > div .p-message .p-message01{	
		font-size:16px;
		display:block;
	}
	
	.l-partsBlock02{
		width:100%;
		margin:0 auto;
		padding:0px 0 0px;	
	}
	.l-partsBlock02 .l-partsBlock02-01{
		width:100%;
		border:1px solid #7cb39b;
	}
	.l-partsBlock02 .l-partsBlock02-01 .p-title{
		width:100%;
		border-bottom:1px solid #7cb39b;
		padding:15px;
		text-align:center;
	}
	.l-partsBlock02 .l-partsBlock02-01 .p-title p{
		font-size:16px;
		color:#7cb39b;
		font-weight:bold;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table{
		width:100%;
		border-top:1px solid #7cb39b;
		margin-top:2px;
		display:block;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div{
		display:block;
		vertical-align:top;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-image{
		width:100%;	
		padding:10px;
		line-height:0;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-image p{
		text-align:center;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-image p img{
		max-width:367px;
		width:100%;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message{
		width:100%;	
		padding:0px 10px 10px 10px;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message.p-p30{
		padding:15px;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message p{
		font-size:12px;
		line-height:1.7;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-image p.p-detail{
		line-height:1.7;
		text-align:left;
		padding-top:10px;
		font-size: 12px;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message p.p-link{
		padding-top:10px;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message p.p-link a{
		color:#0f616b;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-table > div.p-message p.p-link a:before {
		content: ' ';
		background:url(../../images/parts/ico_parts02_arrow.png) 0 0 no-repeat transparent;
		position: relative;
		top: -2px;
		display: inline-block;
		width: 3px;
		height: 5px;
		background-size: 3px auto;
		margin-right:3px;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-02{
		width:100%;
		padding:0 10px 40px;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-02 p.p-message{
		font-size:12px;
		line-height:1.7;
		padding-top:0px;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-02 .l-partsBlock02-02-table{
		border: 1px solid #009885;
		padding:10px;
		margin-top:10px;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-02 .l-partsBlock02-02-table p{
		font-size:12px;
		line-height:1.7;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-02 .l-partsBlock02-02-table p.p-fax{
		padding-top:10px;
		color:#009885;
		font-size:14px;
		line-height:1.7;
	}
	.l-partsBlock02 .l-partsBlock02-01 .l-partsBlock02-02 p.p-caution{
		padding-top:5px;
		font-size:12px;
		line-height:1.5;
	}
	
	.l-partsBlock03{
		width:100%;
		margin:0 auto;
		padding:0px 0 0px;	
	}
	.l-partsBlock03 .p-title.p-normal{	
		background:url(../../images/parts/bg_h3_pc.jpg) center bottom no-repeat;
		background-size:100% auto;
		padding-top:6.76%;
		margin:0 auto;
	}
	.l-partsBlock03 .p-title.p-val01{	
		background:url(../../images/parts/bg_value01_pc.jpg) center bottom no-repeat;
		background-size:100% auto;
		padding-top:6.76%;
		margin:0 auto;
	}
	.l-partsBlock03 .p-title.p-val02{	
		background:url(../../images/parts/bg_value02_pc.jpg) center bottom no-repeat;
		background-size:100% auto;
		padding-top:6.76%;
		margin:0 auto;
	}
	.l-partsBlock03 .p-title.p-val03{	
		background:url(../../images/parts/bg_value03_pc.jpg) center bottom no-repeat;
		background-size:100% auto;
		padding-top:6.76%;
		margin:0 auto;
	}
	.l-partsBlock03 .p-title.p-vis01{	
		background:url(../../images/parts/bg_vision01_pc.jpg) center bottom no-repeat;
		background-size:100% auto;
		padding-top:6.76%;
		margin:0 auto;
	}
	.l-partsBlock03 .p-title.p-vis02{	
		background:url(../../images/parts/bg_vision02_pc.jpg) center bottom no-repeat;
		background-size:100% auto;
		padding-top:6.76%;
		margin:0 auto;
	}
	.l-partsBlock03 .p-title.p-vis03{	
		background:url(../../images/parts/bg_vision03_pc.jpg) center bottom no-repeat;
		background-size:100% auto;
		padding-top:6.76%;
		margin:0 auto;
	}
	.l-partsBlock03 .p-title p{	
		text-align:left;
		font-size:18px;
		position:relative;
		top:-10px;
	}
	#news .l-partsBlock03 .p-title p span{	
		font-size: 12px;
		color: #7cb39b;
		font-weight: bold;
		display: block;
		padding-bottom: 10px;
	}
	.l-partsBlock03 .p-title p.p-col2{	
		text-align:left;
		font-size:18px;
		position:relative;
		top:-15px;
		line-height:1.5;
	}
	.l-partsBlock03 h4:before{	
		content: '●';
		color:#7cb39b;
		font-size:16px;
		margin-right:0px;
	}
	.l-partsBlock03 h4{	
		font-size:16px;
		text-align:left;
		padding-top:30px;
	}
	.l-partsBlock03 .l-valueBlock01{	
		width: 100%;
		margin:0px auto;
		text-align:center;
		padding:0px 0 0;
	}
	.l-partsBlock03 .l-valueBlock01 .p-title2{	
		line-height:2;
		font-size:16px;
		/*color:#155c70;*/
		padding-top:20px;
		padding-bottom:0px;
		text-align:left;
	}
	.l-partsBlock03 .l-valueBlock01 .p-message {
		line-height: 2;
		font-size: 14px;
		padding-top: 20px;
		text-align: left;
		letter-spacing: 0;
	}
	.l-partsBlock03 .l-valueBlock01 .p-news p {
		line-height: 2;
		font-size: 14px;
		padding-top: 20px;
		text-align: left;
		letter-spacing: 0;
	}
	.l-partsBlock03 .l-valueBlock02{	
		width: 100%;
		margin:0px auto;
		text-align:center;
		padding:0px 0 0px;
	}
	.l-partsBlock03 .l-valueBlock02 .l-valueBlock02_table{	
		width:100%;
		margin:0 auto;
		text-align:center;
		position:relative;
	}
	.l-partsBlock03 .l-valueBlock02 .l-valueBlock02_table > div{	
		width:100%;
		display:block;
		vertical-align:top;
	}
	.l-partsBlock03 .l-valueBlock02 .l-valueBlock02_table > div.l-right{	
		z-index:1;
		display:block;
	}
	.l-partsBlock03 .l-valueBlock02 .l-valueBlock02_table .l-valueBlock02_white{	
		margin:0px auto 0;
		padding:0px 0px 0px;
		max-width:100%;
		width:100%;
		background-color:rgba(255,255,255,1.0);	
		position:static;
		top:0;
		left:0;
		z-index:2;
	}
	.l-partsBlock03 .l-valueBlock02 .p-title2{	
		line-height:2;
		font-size:16px;
		color:#155c70;
		padding-top:20px;
		padding-bottom:0px;
		text-align:left;
		/*margin-top: -15px;*/
	}
	.l-partsBlock03 .l-valueBlock02 .p-message{	
		line-height:2;
		font-size:14px;
		padding-top:20px;
		text-align:left;
		letter-spacing:0;
	}
	.l-partsBlock03 .l-valueBlock02 .p-image01{	
		padding-top:20px;
		padding-bottom:0px;
		padding-right:0px;
		text-align:center;
		display:block;
		vertical-align:top;
	}
	.l-partsBlock03 .l-valueBlock02 .p-image01 img{	
		max-width:100%;
		/*max-width:303px;*/
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock02 .p-image02{	
		padding-top:5px;
		padding-bottom:20px;
		padding-left:0px;
		padding-right:0px;
		text-align:center;
		display:block;
		vertical-align:top;
	}
	.l-partsBlock03 .l-valueBlock02 .p-image02 img{	
		max-width:100%;
		/*max-width:303px;*/
		width:100%;
		position:static;
		right:130px;
	}	
	.l-partsBlock03 .l-valueBlock03{	
		width: 100%;
		margin:0px auto;
		text-align:center;
		padding:0px 0 20px;
	}
	.l-partsBlock03 .l-valueBlock03 .l-valueBlock03_table{	
		width:100%;
		margin:0 auto;
		text-align:center;
		position:relative;
		padding-bottom:0px;
	}
	.l-partsBlock03 .l-valueBlock03 .l-valueBlock03_table > div{	
		width:100%;
		display:block;
		vertical-align:top;
	}
	.l-partsBlock03 .l-valueBlock03 .l-valueBlock03_table > div.l-left{
		float:none;
		position:relaive;	
		z-index:1;
		display:block;
	}
	.l-partsBlock03 .l-valueBlock03 .l-valueBlock03_table > div.l-right{
		float:none;
	}
	.l-partsBlock03 .l-valueBlock03 .l-valueBlock03_table .l-valueBlock03_white{	
		margin:0px auto 0;
		padding:0px 0px 0px 0px;
		max-width:100%;
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock03 .p-title2{	
		line-height:2;
		font-size:16px;
		color:#155c70;
		padding-top:20px;
		padding-bottom:0px;
		text-align:left;
	}
	.l-partsBlock03 .l-valueBlock03 .p-message{	
		line-height:2;
		font-size:14px;
		padding-top:20px;
		text-align:left;
		letter-spacing:0;
	}
	.l-partsBlock03 .l-valueBlock03 .p-image01{	
		padding-top:30px;
		padding-bottom:0px;
		padding-right:0px;
		display:block;
		vertical-align:top;
		width:100%;
		text-align:center;
	}
	.l-partsBlock03 .l-valueBlock03 .p-image01 img{	
		max-width:100%;
		/*max-width:303px;*/
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock03 .p-image02{	
		padding-top:5px;
		padding-bottom:20px;
		padding-left:0px;
		display:block;
		vertical-align:top;
		width:100%;
		text-align:center;
	}
	.l-partsBlock03 .l-valueBlock03 .p-image02 img{	
		max-width:100%;
		/*max-width:303px;*/
		width:100%;
	}
	
	.l-partsBlock03 .l-valueBlock04_table{	
		width:100%;
		margin:0 auto;
		text-align:left;
		display:block;
	}
	.l-partsBlock03 .l-valueBlock04_table > div{	
		width:100%;
		text-align:center;
		display:block;
		vertical-align:top;
	}
	.l-partsBlock03 .l-valueBlock04_table > div:nth-of-type(2n+1){	
		padding-right:0px;
	}
	.l-partsBlock03 .l-valueBlock04_table > div:nth-of-type(2n){	
		padding-left:0px;
	}
	.l-partsBlock03 .l-valueBlock04_table > div > .l-table{	
		width:100%;
		text-align:left;
		display:table;
		margin-top:15px;
	}
	/*.l-partsBlock03 .l-valueBlock04_table > div > .l-table:nth-of-type(n+3){	
		margin-top:16px;
	}*/
	.l-partsBlock03 .l-valueBlock04_table > div > .l-table > .p-image{	
		width:50px;
		text-align:left;
		display:table-cell;
		vertical-align:top;
	}
	.l-partsBlock03 .l-valueBlock04_table > div > .l-table > .p-image img{	
		max-width:50px;
		width:100%;
	}
	.l-partsBlock03 .l-valueBlock04_table > div > .l-table > .p-message{	
		width:auto;
		text-align:left;
		display:table-cell;
		padding:0 0 0 16px;
		vertical-align:top;
	}
	
	.l-partsBlock04{
		width:100%;
		margin:0 auto;
		padding:0px 0 0px;
		text-align:center;
	}
	.l-partsBlock04 h2{
	}
	.l-partsBlock04 h2 p{
		font-size: 20px;
		color: #333;
		font-weight: bold;
		padding-bottom: 0;
		line-height: 1.7;
	}
	
	.l-buttonBlock{	
		width: 100%;
		margin:0px auto;
		text-align:center;
		padding:0px 0 0px;
	}
	.l-buttonBlock .l-buttonBlock-table{	
		display:block;
		margin:0px auto;
		text-align:center;
	}
	.l-buttonBlock .l-buttonBlock-table p{	
		display:block;
		vertical-align:top;
	}
	.l-buttonBlock .l-buttonBlock-table p.p-left{	
		text-align:center;
		padding-right:0px;
	}
	.l-buttonBlock .l-buttonBlock-table p.p-right{	
		text-align:center;
		padding-left:0px;
	}
	.l-buttonBlock .l-buttonBlock-table p img{	
		max-width:306px;
		width:100%;
	}
	
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton {
		padding-top:0;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton a:before {
		content: ' ';
		background:url(../../images/top/ico_arrow02_pc.png) 0 0 no-repeat transparent;
		position: relative;
		top: 2px;
		display: inline-block;
		width: 4px;
		height: 8px;
		background-size: 4px 8px;
		margin-right:5px;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton a {
		background-color: #f0ff00;
		padding: 8px 25px;
		display: inline-block;
		text-align: center;
		color: #333;
		border-radius: 0;
		font-size:14px;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton a:hover {
		background-color: #ff6;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton a span {
		position:relative;
		top:2px;
		color:#333;
		font-size:14px;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton input[type="submit"]{
		background-color: #f0ff00;
		padding: 8px 25px;
		display: inline-block;
		text-align: center;
		color: #333;
		border-radius: 0;
		font-size:14px;
		border:none;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton input[type="submit"]:hover{
		background-color: #ff6;
	}
	.l-buttonBlock .l-buttonBlock-table .p-aboutButton input[type="submit"] span{
		position:relative;
		top:2px;
		color:#333;
		font-size:14px;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/

.l-mvBlock + div{	
	padding:40px 0 0px;
}
.l-mvBlock + div.l-messageBlock{	
	padding:0px 0 0px;
}
.l-mvBlock + div.l-partsBlock04{	
	padding:80px 0 0px;
}
.l-messageBlock + div{	
	padding:40px 0 0px;
}
.l-messageBlock + div.l-contact{	
	padding:80px 0 0px;
}
.l-partsBlock01 + div{	
	padding:80px 0 0px;
}
.l-partsBlock01 + div.l-partsBlock03{	
	padding:40px 0 0px;
}
.l-partsBlock01 + div.l-buttonBlock{	
	padding:40px 0 0px;
}
.l-partsBlock02 + div{	
	padding:80px 0 0px;
}
.l-partsBlock02 + div.l-partsBlock03{	
	padding:40px 0 0px;
}
.l-partsBlock02 + div.l-buttonBlock{	
	padding:40px 0 0px;
}
.l-partsBlock03 + div{	
	padding:80px 0 0px;
}
.l-partsBlock03 + div.l-partsBlock03{	
	padding:40px 0 0px;
}
.l-partsBlock03 + div.l-buttonBlock{	
	padding:40px 0 0px;
}
#contact .l-partsBlock03 + div.l-buttonBlock{	
	padding:80px 0 0px;
}
.l-partsBlock04 + div{	
	padding:0px 0 0px;
}
.l-partsBlock04 + div.l-partsBlock03{	
	padding:40px 0 0px;
}
.l-partsBlock04 + div.l-buttonBlock{	
	padding:40px 0 0px;
}
.l-buttonBlock + div{	
	padding:80px 0 0px;
}
.l-buttonBlock + div.l-partsBlock03{	
	padding:40px 0 0px;
}
@media screen and (max-width:768px){
	
	.l-mvBlock + div{	
		padding:28px 0 0px;
	}
	.l-mvBlock + div.l-messageBlock{	
		padding:0px 0 0px;
	}
	.l-mvBlock + div.l-partsBlock04{	
		padding:56px 0 0px;
	}
	.l-messageBlock + div{	
		padding:28px 0 0px;
	}
	.l-messageBlock + div.l-contact{	
		padding:56px 0 0px;
	}
	.l-partsBlock01 + div{	
		padding:56px 0 0px;
	}
	.l-partsBlock01 + div.l-partsBlock03{	
		padding:28px 0 0px;
	}
	.l-partsBlock02 + div{	
		padding:56px 0 0px;
	}
	.l-partsBlock02 + div.l-partsBlock03{	
		padding:28px 0 0px;
	}
	.l-partsBlock03 + div{	
		padding:56px 0 0px;
	}
	.l-partsBlock03 + div.l-partsBlock03{	
		padding:28px 0 0px;
	}
	#contact .l-partsBlock03 + div.l-buttonBlock{	
		padding:56px 0 0px;
	}
	.l-partsBlock03 + div.l-buttonBlock{	
		padding:28px 0 0px;
	}
	.l-partsBlock04 + div{	
		padding:0px 0 0px;
	}
	.l-partsBlock04 + div.l-partsBlock03{	
		padding:28px 0 0px;
	}
	.l-buttonBlock + div{	
		padding:56px 0 0px;
	}
	.l-buttonBlock + div.l-partsBlock03{	
		padding:28px 0 0px;
	}
	
}
@media screen and (max-width:480px){
	
	.l-mvBlock + div{	
		padding:20px 0 0px;
	}
	.l-mvBlock + div.l-messageBlock{	
		padding:0px 0 0px;
	}
	.l-mvBlock + div.l-partsBlock04{	
		padding:40px 0 0px;
	}
	.l-messageBlock + div{	
		padding:20px 0 0px;
	}
	.l-messageBlock + div.l-contact{	
		padding:40px 0 0px;
	}
	.l-partsBlock01 + div{	
		padding:40px 0 0px;
	}
	.l-partsBlock01 + div.l-partsBlock03{	
		padding:20px 0 0px;
	}
	.l-partsBlock02 + div{	
		padding:40px 0 0px;
	}
	.l-partsBlock02 + div.l-partsBlock03{	
		padding:20px 0 0px;
	}
	.l-partsBlock03 + div{	
		padding:40px 0 0px;
	}
	.l-partsBlock03 + div.l-partsBlock03{	
		padding:20px 0 0px;
	}
	.l-partsBlock03 + div.l-buttonBlock{	
		padding:20px 0 0px;
	}
	#contact .l-partsBlock03 + div.l-buttonBlock{	
		padding:40px 0 0px;
	}
	.l-partsBlock04 + div{	
		padding:0px 0 0px;
	}
	.l-partsBlock04 + div.l-partsBlock03{	
		padding:20px 0 0px;
	}
	.l-buttonBlock + div{	
		padding:40px 0 0px;
	}
	.l-buttonBlock + div.l-partsBlock03{	
		padding:20px 0 0px;
	}
	
}