@charset "utf-8";
/* CSS Document */

.l-staffBlock01{	
	width:100%;
	margin:0 auto 0;
	padding:80px 0 0px !important;
}
.l-staffBlock01 > div > div{	
	display:inline-block;
	width:50%;
}
.l-staffBlock01 > div > div:nth-child(2n+1){	
	padding-right:8px;
}
.l-staffBlock01 > div > div:nth-child(2n){	
	padding-left:8px;
}
.l-staffBlock01 > div > div:nth-child(n+3){	
	padding-top:10px;
}
.l-staffBlock01 > div > div p{	
	line-height:0;
}
.l-staffBlock01 > div > div p img{	
	line-height:0;	
	max-width:464px;
	width:100%;
}

.l-staffBlock02{	
	width:100%;
	margin:0 auto 0;
	padding:10px 0 0px !important;
}
.l-staffBlock02 > div p.p-message{
	font-size:14px;
	padding-top:10px;
	line-height:1.7;
}
.l-staffBlock02 > div p img{	
	line-height:0;	
	max-width:100%;
	width:100%;
}
.l-staffBlock02 + div{	
	padding:80px 0 0px !important;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-staffBlock01{	
		width:100%;
		margin:0 auto 0;
		padding:80px 0 0px !important;
	}
	.l-staffBlock01 > div > div{	
		display:inline-block;
		width:50%;
	}
	.l-staffBlock01 > div > div:nth-child(2n+1){	
		padding-right:8px;
	}
	.l-staffBlock01 > div > div:nth-child(2n){	
		padding-left:8px;
	}
	.l-staffBlock01 > div > div:nth-child(n+3){	
		padding-top:10px;
	}
	.l-staffBlock01 > div > div p{	
		line-height:0;
	}
	.l-staffBlock01 > div > div p img{	
		line-height:0;
	}
	.l-staffBlock01 > div > div p img{	
		max-width:464px;
		width:100%;
	}
	
	.l-staffBlock02{	
		width:100%;
		margin:0 auto 0;
		padding:10px 0 0px !important;
	}
	.l-staffBlock02 > div p.p-message{
		font-size:14px;
		padding-top:10px;
		line-height:1.7;
	}
	.l-staffBlock02 > div p img{	
		line-height:0;	
		max-width:100%;
		width:100%;
	}
	.l-staffBlock02 + div{	
		padding:80px 0 0px !important;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-staffBlock01{	
		width:100%;
		margin:0 auto 0;
		padding:56px 0 0px !important;
	}
	.l-staffBlock01 > div > div{	
		display:inline-block;
		width:50%;
	}
	.l-staffBlock01 > div > div:nth-child(2n+1){	
		padding-right:5px;
	}
	.l-staffBlock01 > div > div:nth-child(2n){	
		padding-left:5px;
	}
	.l-staffBlock01 > div > div:nth-child(n+3){	
		padding-top:3px;
	}
	.l-staffBlock01 > div > div p{	
		line-height:0;
	}
	.l-staffBlock01 > div > div p img{	
		line-height:0;
	}
	.l-staffBlock01 > div > div p img{	
		max-width:464px;
		width:100%;
	}
	
	.l-staffBlock02{	
		width:100%;
		margin:0 auto 0;
		padding:3px 0 0px !important;
	}
	.l-staffBlock02 > div p.p-message{
		font-size:14px;
		padding-top:10px;
		line-height:1.7;
	}
	.l-staffBlock02 > div p img{	
		line-height:0;	
		max-width:100%;
		width:100%;
	}
	.l-staffBlock02 + div{	
		padding:56px 0 0px !important;
	}
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-staffBlock01{	
		width:100%;
		margin:0 auto 0;
		padding:40px 0 0px !important;
	}
	.l-staffBlock01 > div > div{	
		display:block;
		width:100%;
	}
	.l-staffBlock01 > div > div:nth-child(1){	
		padding-right:0px;
		padding-top:0px;
	}
	.l-staffBlock01 > div > div:nth-child(2n+1){	
		padding-right:0px;
		padding-top:10px;
	}
	.l-staffBlock01 > div > div:nth-child(2n){	
		padding-left:0px;
		padding-top:10px;
	}
	.l-staffBlock01 > div > div:nth-child(n+3){	
		padding-top:10px;
	}
	.l-staffBlock01 > div > div p{	
		line-height:0;
	}
	.l-staffBlock01 > div > div p img{	
		line-height:0;
	}
	.l-staffBlock01 > div > div p img{	
		max-width:464px;
		width:100%;
	}
	
	.l-staffBlock02{	
		width:100%;
		margin:0 auto 0;
		padding:10px 0 0px !important;
	}
	.l-staffBlock02 > div p.p-message{
		font-size:12px;
		padding-top:5px;
		line-height:1.7;
	}
	.l-staffBlock02 > div p img{	
		line-height:0;	
		max-width:100%;
		width:100%;
	}
	.l-staffBlock02 + div{	
		padding:40px 0 0px !important;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/