@charset "utf-8";
/* CSS Document */

#contact .p-caution{	
	text-align:left;
	font-size:14px;
	padding-top:35px;
}
#contact .p-caution span{
	color:#cc0000;
}
#contact .p-caution2{	
	text-align:center;
	font-size:18px;
	padding-top:0px;
	display:none;
}
#contact .p-caution2 span{
	color:#cc0000;
}
#contact table{	
	width:100%;
	margin:0 auto 0;
}
#contact table tr{	
	border-bottom:1px dotted #93c0ad;
}
#contact table tr th{	
	text-align:left;
	vertical-align:middle;
	font-size:14px;
	font-weight:bold;
/*font-weight:500;*/
	padding:16px 0 16px 50px;
	width:240px;
}
#contact table tr th span{
	color:#cc0000;
}
#contact table tr td{
	text-align:left;
	vertical-align:middle;
	font-size:14px;
	font-weight:bold;
/*font-weight:500;*/
	padding:16px;
}
#contact table tr td label{
	display:block;
	line-height:2;
	font-weight:bold;
}
#contact table tr td label:hover{
	cursor:pointer;
}
#contact table tr td input[type="radio"]{
	position:relative;
	top:-2px;
	margin-right:5px;
}
#contact table tr td input[type="text"]{
	width:260px;
	padding:5px;
	font-size:13px;
	border:1px solid #cccccc;
	font-family:"游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight:bold;
}
#contact textarea{
	border:1px solid #cccccc;
	padding:5px;
	font-family:"游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight:bold;
}
.p-textSizeS{
	width:72px !important;
}
.p-textSizeM{
	width:260px !important;
}
.p-textSizeL{
	width:464px !important;
}

#contact .l-privacy{
	width:100%;
	border:1px solid #cccccc;
	padding:15px 23px 40px 40px;	
	height:283px;
	overflow-y:auto;
	margin-top:25px;
}
#contact .l-privacy p{
	text-align:left;
	font-size:12px;
	line-height:1.7;
	padding-top:25px;
}
#contact .l-privacy p span{
	font-size:14px;
	display:block;
}
#contact .l-privacy .p-title{
	font-size:18px;
	color:#0f616b;
	text-align:left;
}

#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton label {
	display:block;
	text-align:left;
	font-size:14px;
	font-weight:bold;
/*font-weight:500;*/
	padding-bottom:0px;
}
#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton label:hover{
	cursor:pointer;
}
#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton label input[type="radio"]{
	position:relative;
	top:-2px;
	margin-right:5px;
}
#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton a {
	width:304px;
}
#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton  input[type="submit"] {
	width:304px;
	margin-top:15px;
}
#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton  input[type="submit"].p-back {
	background-color: #d8d8d8;
    width: 150px;
    margin-left: 16px;
}
#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton  input[type="submit"].p-back:hover {
	background-color: #dfdfdf;
    width: 150px;
    margin-left: 16px;
}

.mw_wp_form .error {
    text-align: left !important;
}
.mw_wp_form_confirm .l-privacy{
	display:none !important;
}
.mw_wp_form_confirm .l-buttonBlock .l-buttonBlock-table .p-aboutButton label {
	display:none !important;
}
.mw_wp_form_confirm .p-caution2{
	display:block !important;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	
	
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	#contact table {	
		width:100%;
		display:block;
	}
	#contact table tbody {	
		width:100%;
		display:block;
	}
	#contact table tr {	
		width:100%;
		display:block;
	}
	#contact table tr th{	
		text-align:left;
		vertical-align:middle;
		font-size:14px;
		font-weight:bold;
/*font-weight:500;*/
		padding:16px 0 5px 0px;
		width:100%;
		display:block;
	}
	#contact table tr th span{
		color:#cc0000;
	}
	#contact table tr td{
		text-align:left;
		vertical-align:middle;
		font-size:14px;
		font-weight:bold;
/*font-weight:500;*/
		padding:0px 0 16px;
		width:100%;
		display:block;
	}
	#contact table tr td label{
		display:block;
		line-height:2;
	}
	#contact table tr td label:hover{
		cursor:pointer;
	}
	#contact table tr td input[type="radio"]{
		position:relative;
		top:-2px;
		margin-right:5px;
	}
	#contact table tr td input[type="text"]{
		width:260px;
		padding:5px;
		font-size:13px;
		border:1px solid #cccccc;
	}
	#contact textarea{
		border:1px solid #cccccc;
	}
	.p-textSizeS{
		max-width:72px !important;
		width:100% !important;
	}
	.p-textSizeM{
		max-width:260px !important;
		width:100% !important;
	}
	.p-textSizeL{
		max-width:464px !important;
		width:100% !important;
	}	
	
	#contact .l-privacy{
		width:100%;
		border:1px solid #cccccc;
		padding:10px 13px 30px 30px;	
		height:250px;
		overflow-y:auto;
		margin-top:20px;
	}
	#contact .l-privacy p{
		text-align:left;
		font-size:12px;
		line-height:1.7;
		padding-top:20px;
	}
	#contact .l-privacy p span{
		font-size:14px;
		display:block;
	}
	#contact .l-privacy .p-title{
		font-size:18px;
		color:#0f616b;
		text-align:left;
	}
	#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton label {
		display:block;
		text-align:left;
		font-size:14px;
		font-weight:bold;
/*font-weight:500;*/
		padding-bottom:0px;
	}
	#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton label:hover{
		cursor:pointer;
	}
	#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton label input[type="radio"]{
		position:relative;
		top:-2px;
		margin-right:5px;
	}
	#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton a {
		width:304px;
	}
	#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton input[type="submit"]{
		width:304px;
	}
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	#contact table {	
		width:100%;
		display:block;
	}
	#contact table tbody {	
		width:100%;
		display:block;
	}
	#contact table tr {	
		width:100%;
		display:block;
	}
	#contact table tr th{	
		text-align:left;
		vertical-align:middle;
		font-size:14px;
		font-weight:bold;
/*font-weight:500;*/
		padding:16px 0 5px 0px;
		width:100%;
		display:block;
	}
	#contact table tr th span{
		color:#cc0000;
	}
	#contact table tr td{
		text-align:left;
		vertical-align:middle;
		font-size:14px;
		font-weight:bold;
/*font-weight:500;*/
		padding:0px 0 16px;
		width:100%;
		display:block;
	}
	#contact table tr td label{
		display:block;
		line-height:2;
	}
	#contact table tr td label:hover{
		cursor:pointer;
	}
	#contact table tr td input[type="radio"]{
		position:relative;
		top:-2px;
		margin-right:5px;
	}
	#contact table tr td input[type="text"]{
		width:260px;
		padding:5px;
		font-size:13px;
		border:1px solid #cccccc;
	}
	#contact textarea{
		border:1px solid #cccccc;
	}
	.p-textSizeS{
		max-width:100% !important;
		width:100% !important;
	}
	.p-textSizeM{
		max-width:100% !important;
		width:100% !important;
	}
	.p-textSizeL{
		max-width:100% !important;
		width:100% !important;
	}	
	
	#contact .l-privacy{
		width:100%;
		border:1px solid #cccccc;
		padding:5px 3px 20px 20px;	
		height:250px;
		overflow-y:auto;
		margin-top:15px;
	}
	#contact .l-privacy p{
		text-align:left;
		font-size:12px;
		line-height:1.7;
		padding-top:15px;
	}
	#contact .l-privacy p span{
		font-size:14px;
		display:block;
	}
	#contact .l-privacy .p-title{
		font-size:18px;
		color:#0f616b;
		text-align:left;
	}
	#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton label {
		display:block;
		text-align:left;
		font-size:14px;
		font-weight:bold;
/*font-weight:500;*/
		padding-bottom:0px;
	}
	#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton label:hover{
		cursor:pointer;
	}
	#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton label input[type="radio"]{
		position:relative;
		top:-2px;
		margin-right:5px;
	}
	#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton a {
		max-width:100%;
		width:100%;
	}
	#contact .l-buttonBlock .l-buttonBlock-table .p-aboutButton input[type="submit"]{
		max-width:150px;
		width:150px;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/