@charset "utf-8";
/* CSS Document */

#vegetable .l-mvBlock h1 img{
	max-width:342px;
	width:100%;
}
.l-lineupBlock{	
	width:100%;
	margin:0 auto 0;
	text-align: center;
	padding:0px 0 0px;
}
.l-lineupBlock .l-lineup-table-left{	
	width:100%;
	margin:0 auto 0;
	padding:0px 0 55px;
}
.l-lineupBlock .l-lineup-table-left .l-image{	
	width:240px;
	padding-right:12px;
	text-align:left;
	float:left;
}
.l-lineupBlock .l-lineup-table-left .l-image img{	
	max-width:228px;
	width:100%;
}
.l-lineupBlock .l-lineup-table-left .l-message{	
	width:calc(100% - 320px);
	text-align:left;
	float:left;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table{	
	width:100%;
	text-align:left;
	display:table;
	border-top:1px solid #f1c8db;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table.p-autumn{	
	width:100%;
	text-align:left;
	display:table;
	border-top:1px solid #f1eba5;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table:first-of-type{	
	margin-top:25px;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table:last-of-type{	
	border-bottom:1px solid #f1c8db;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table.p-autumn:last-of-type{	
	border-bottom:1px solid #f1eba5;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table > div{	
	display:table-cell;
	vertical-align:top;
	padding:15px 0px 15px 16px;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1{	
	width:160px;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-title{	
	font-size:20px;
	font-weight:bold;
	line-height:1;
	color:#333;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-title.p-border:after{	
	content: ' ';
    display: block;
    font-size: 100%;
	position:relative;
	border-bottom:4px solid #f1c8db;
	width:80px;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table.p-autumn > div.l-column1 .p-title.p-border:after{	
	content: ' ';
    display: block;
    font-size: 100%;
	position:relative;
	border-bottom:4px solid #f1eba5;
	width:80px;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-title2{	
	font-size:14px;
	font-weight:bold;
	color:#d79ab6;
	text-align:left;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table.p-autumn > div.l-column1 .p-title2{	
	font-size:14px;
	font-weight:bold;
	color:#cdc043;
	text-align:left;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-title2:after{	
	content: ' ';
    display: block;
    font-size: 100%;
	position:relative;
	border-bottom:4px solid #f1c8db;
	width:80px;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table.p-autumn > div.l-column1 .p-title2:after{	
	content: ' ';
    display: block;
    font-size: 100%;
	position:relative;
	border-bottom:4px solid #f1eba5;
	width:80px;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-month{	
	font-size:14px;
	font-weight:bold;
	color:#333;
	text-align:left;
	padding-top:15px;
}
.l-lineupBlock .l-lineup-table-left > div .p-message .p-title:after {
    content: ' ';
    display: block;
    font-size: 100%;
	margin-right:5px;
	position:relative;
	border-bottom:5px solid #FFFFFF;
	width:80px;
	margin:0 auto;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column2{	
	width:256px;
	padding:15px 16px;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column2 p{	
	line-height:0;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column2 img{	
	max-width:224px;
	width:100%;
	line-height:0;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column3{	
	width:auto;
}
.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column3 p{	
	font-size:14px;
	line-height:1.7;
}

.l-lineupBlock .l-lineup-table-right{	
	width:100%;
	margin:0 auto 0;
	padding:0px 0 55px;
}
.l-lineupBlock .l-lineup-table-right .l-image{	
	width:228px;
	padding-right:0px;
	text-align:left;
	float:right;
}
.l-lineupBlock .l-lineup-table-right .l-image img{	
	max-width:228px;
	width:100%;
}
.l-lineupBlock .l-lineup-table-right .l-message{	
	width:calc(100% - 300px);
	text-align:left;
	float:left;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table{	
	width:100%;
	text-align:left;
	display:table;
	border-top:1px solid #bbebd5;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table.p-winter{	
	border-top:1px solid #d6e4f2;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table:first-of-type{	
	margin-top:25px;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table:last-of-type{	
	border-bottom:1px solid #bbebd5;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table.p-winter:last-of-type{	
	border-bottom:1px solid #d6e4f2;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table > div{	
	display:table-cell;
	vertical-align:top;
	padding:15px 0px 15px 16px;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1{	
	width:160px;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title{	
	font-size:20px;
	font-weight:bold;
	line-height:1;
	color:#333;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title.p-border:after{	
	content: ' ';
    display: block;
    font-size: 100%;
	position:relative;
	border-bottom:4px solid #bbebd5;
	width:80px;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table.p-winter > div.l-column1 .p-title.p-border:after{	
	content: ' ';
    display: block;
    font-size: 100%;
	position:relative;
	border-bottom:4px solid #d6e4f2;
	width:80px;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title2{	
	font-size:14px;
	font-weight:bold;
	color:#78c8a1;
	text-align:left;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table.p-winter > div.l-column1 .p-title2{	
	font-size:14px;
	font-weight:bold;
	color:#92aecc;
	text-align:left;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title2:after{	
	content: ' ';
    display: block;
    font-size: 100%;
	position:relative;
	border-bottom:4px solid #bbebd5;
	width:80px;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table.p-winter > div.l-column1 .p-title2:after{	
	content: ' ';
    display: block;
    font-size: 100%;
	position:relative;
	border-bottom:4px solid #d6e4f2;
	width:80px;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-month{	
	font-size:14px;
	font-weight:bold;
	color:#333;
	text-align:left;
	padding-top:15px;
}
.l-lineupBlock .l-lineup-table-right > div .p-message .p-title:after {
    content: ' ';
    display: block;
    font-size: 100%;
	margin-right:5px;
	position:relative;
	border-bottom:5px solid #FFFFFF;
	width:80px;
	margin:0 auto;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column2{	
	width:256px;
	padding:15px 16px;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column2 p{	
	line-height:0;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column2 img{	
	max-width:224px;
	width:100%;
	line-height:0;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column3{	
	width:auto;
}
.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column3 p{	
	font-size:14px;
	line-height:1.7;
}


/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-lineupBlock .l-lineup-table-left{	
		width:100%;
		margin:0 auto 0;
		padding:0px 0 55px;
	}
	.l-lineupBlock .l-lineup-table-left .l-image{	
		width:24.3%;
		padding-right:12px;
		text-align:left;
		float:left;
	}
	.l-lineupBlock .l-lineup-table-left .l-image img{	
		max-width:228px;
		width:100%;
	}
	.l-lineupBlock .l-lineup-table-left .l-message{	
		width:75.7%;
		text-align:left;
		float:right;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table{	
		width:100%;
		text-align:left;
		display:table;
		border-top:1px solid #f1c8db;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table:first-of-type{	
		margin-top:25px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div{	
		display:table-cell;
		vertical-align:top;
		padding:15px 16px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1{	
		width:144px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-title{	
		font-size:20px;
		font-weight:bold;
		line-height:1;
		color:#333;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-title2{	
		font-size:14px;
		font-weight:bold;
		color:#d79ab6;
		text-align:left;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-title2:after{	
		content: ' ';
		display: block;
		font-size: 100%;
		position:relative;
		border-bottom:4px solid #f1c8db;
		width:80px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-month{	
		font-size:14px;
		font-weight:bold;
		color:#333;
		text-align:left;
		padding-top:15px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column2{	
		width:256px;
		padding:15px 16px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column2 p{	
		line-height:0;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column2 img{	
		max-width:224px;
		width:100%;
		line-height:0;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column3{	
		width:auto;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column3 p{	
		font-size:14px;
		line-height:1.7;
	}
	
	.l-lineupBlock .l-lineup-table-right{	
		width:100%;
		margin:0 auto 0;
		padding:0px 0 55px;
	}
	.l-lineupBlock .l-lineup-table-right .l-image{	
		width:20%;
		padding-right:0px;
		text-align:left;
		float:right;
	}
	.l-lineupBlock .l-lineup-table-right .l-image img{	
		max-width:213px;
		width:100%;
	}
	.l-lineupBlock .l-lineup-table-right .l-message{	
		width:75%;
		text-align:left;
		float:left;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table{	
		width:100%;
		text-align:left;
		display:table;
		border-top:1px solid #bbebd5;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table:first-of-type{	
		margin-top:25px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table:last-of-type{	
		border-bottom:1px solid #bbebd5;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div{	
		display:table-cell;
		vertical-align:top;
		padding:15px 16px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1{	
		width:144px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title{	
		font-size:20px;
		font-weight:bold;
		line-height:1;
		color:#333;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title.p-border:after{	
		content: ' ';
		display: block;
		font-size: 100%;
		position:relative;
		border-bottom:4px solid #bbebd5;
		width:80px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title2{	
		font-size:14px;
		font-weight:bold;
		color:#78c8a1;
		text-align:left;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title2:after{	
		content: ' ';
		display: block;
		font-size: 100%;
		position:relative;
		border-bottom:4px solid #bbebd5;
		width:80px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-month{	
		font-size:14px;
		font-weight:bold;
		color:#333;
		text-align:left;
		padding-top:15px;
	}
	.l-lineupBlock .l-lineup-table-right > div .p-message .p-title:after {
		content: ' ';
		display: block;
		font-size: 100%;
		margin-right:5px;
		position:relative;
		border-bottom:5px solid #FFFFFF;
		width:80px;
		margin:0 auto;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column2{	
		width:256px;
		padding:15px 16px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column2 p{	
		line-height:0;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column2 img{	
		max-width:224px;
		width:100%;
		line-height:0;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column3{	
		width:auto;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column3 p{	
		font-size:14px;
		line-height:1.7;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	#vegetable .l-mvBlock h1 img{
		max-width:240px;
		width:100%;
	}
	
	.l-lineupBlock .l-lineup-table-left .l-image{	
		width:100%;
		padding-right:12px;
		text-align:left;
		float:none;
	}
	.l-lineupBlock .l-lineup-table-left .l-image img{	
		max-width:160px;
		width:100%;
	}
	.l-lineupBlock .l-lineup-table-left .l-message{	
		width:100%;
		text-align:left;
		float:none;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table{	
		width:100%;
		text-align:left;
		display:table;
		border-top:1px solid #f1c8db;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table:first-of-type{	
		margin-top:25px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div{	
		display:table-cell;
		vertical-align:top;
		padding:10px 10px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1{	
		width:144px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-title{	
		font-size:20px;
		font-weight:bold;
		line-height:1;
		color:#333;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-title2{	
		font-size:14px;
		font-weight:bold;
		color:#d79ab6;
		text-align:left;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-title2:after{	
		content: ' ';
		display: block;
		font-size: 100%;
		position:relative;
		border-bottom:4px solid #f1c8db;
		width:80px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-month{	
		font-size:14px;
		font-weight:bold;
		color:#333;
		text-align:left;
		padding-top:5px;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title:after {
		content: ' ';
		display: block;
		font-size: 100%;
		margin-right:5px;
		position:relative;
		border-bottom:5px solid #FFFFFF;
		width:80px;
		margin:0 auto;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column2{	
		width:150px;
		padding:10px 10px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column2 p{	
		line-height:0;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column2 img{	
		max-width:224px;
		width:100%;
		line-height:0;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column3{	
		width:auto;
		padding:10px 10px 10px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column3 p{	
		font-size:14px;
		line-height:1.7;
	}
	
	.l-lineupBlock .l-lineup-table-right{	
		width:100%;
		margin:0 auto 0;
		padding:0px 0 55px;
	}
	.l-lineupBlock .l-lineup-table-right .l-image{	
		width:24%;
		padding-right:0px;
		text-align:left;
		float:none;
	}
	.l-lineupBlock .l-lineup-table-right .l-image img{	
		max-width:160px;
		width:100%;
	}
	.l-lineupBlock .l-lineup-table-right .l-message{	
		width:100%;
		text-align:left;
		float:none;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table{	
		width:100%;
		text-align:left;
		display:table;
		border-top:1px solid #bbebd5;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table:first-of-type{	
		margin-top:25px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table:last-of-type{	
		border-bottom:1px solid #bbebd5;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div{	
		display:table-cell;
		vertical-align:top;
		padding:10px 10px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1{	
		width:144px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title{	
		font-size:20px;
		font-weight:bold;
		line-height:1;
		color:#333;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title.p-border:after{	
		content: ' ';
		display: block;
		font-size: 100%;
		position:relative;
		border-bottom:4px solid #bbebd5;
		width:80px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title2{	
		font-size:14px;
		font-weight:bold;
		color:#78c8a1;
		text-align:left;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title2:after{	
		content: ' ';
		display: block;
		font-size: 100%;
		position:relative;
		border-bottom:4px solid #bbebd5;
		width:80px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-month{	
		font-size:14px;
		font-weight:bold;
		color:#333;
		text-align:left;
		padding-top:15px;
	}
	.l-lineupBlock .l-lineup-table-right > div .p-message .p-title:after {
		content: ' ';
		display: block;
		font-size: 100%;
		margin-right:5px;
		position:relative;
		border-bottom:5px solid #FFFFFF;
		width:80px;
		margin:0 auto;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column2{	
		width:150px;
		padding:10px 10px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column2 p{	
		line-height:0;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column2 img{	
		max-width:224px;
		width:100%;
		line-height:0;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column3{	
		width:auto;
		padding:10px 10px 10px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column3 p{	
		font-size:14px;
		line-height:1.7;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	#vegetable .l-mvBlock h1 img{
		max-width:171px;
		width:100%;
	}
	
	.l-lineupBlock .l-lineup-table-left {
		width: 100%;
		margin: 0 auto 0;
		padding: 0px 0 30px;
	}
	.l-lineupBlock .l-lineup-table-left .l-image{	
		width:100%;
		padding-right:12px;
		text-align:left;
		float:none;
	}
	.l-lineupBlock .l-lineup-table-left .l-image img{	
		max-width:114px;
		width:100%;
	}
	.l-lineupBlock .l-lineup-table-left .l-message{	
		width:100%;
		text-align:left;
		float:none;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table{	
		width:100%;
		text-align:left;
		display:block;
		border-top:1px solid #f1c8db;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table:first-of-type{	
		margin-top:10px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div{	
		display:inline-block;
		vertical-align:top;
		padding:10px 10px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1{	
		width:144px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-title{	
		font-size:18px;
		font-weight:bold;
		line-height:1;
		color:#333;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-title2{	
		font-size:14px;
		font-weight:bold;
		color:#d79ab6;
		text-align:left;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-title2:after{	
		content: ' ';
		display: block;
		font-size: 100%;
		position:relative;
		border-bottom:4px solid #f1c8db;
		width:80px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column1 .p-month{	
		font-size:14px;
		font-weight:bold;
		color:#333;
		text-align:left;
		padding-top:15px;
	}
	.l-partsBlock01 .l-partsBlock01-table > div .p-message .p-title:after {
		content: ' ';
		display: block;
		font-size: 100%;
		margin-right:5px;
		position:relative;
		border-bottom:5px solid #FFFFFF;
		width:80px;
		margin:0 auto;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column2{	
		width:calc(100% - 144px);
		padding:10px 10px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column2 p{	
		line-height:0;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column2 img{	
		max-width:224px;
		width:100%;
		line-height:0;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column3{	
		width:auto;
		display:block;
		padding:0px 10px 10px;
	}
	.l-lineupBlock .l-lineup-table-left .l-message .l-table > div.l-column3 p{	
		font-size:14px;
		line-height:1.7;
	}
	
	.l-lineupBlock .l-lineup-table-right{	
		width:100%;
		margin:0 auto 0;
		padding:0px 0 30px;
	}
	.l-lineupBlock .l-lineup-table-right .l-image{	
		width:100%;
		padding-right:0px;
		text-align:left;
		float:none;
	}
	.l-lineupBlock .l-lineup-table-right .l-image img{	
		max-width:114px;
		width:100%;
	}
	.l-lineupBlock .l-lineup-table-right .l-message{	
		width:100%;
		text-align:left;
		float:none;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table{	
		width:100%;
		text-align:left;
		display:table;
		border-top:1px solid #bbebd5;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table:first-of-type{	
		margin-top:10px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table:last-of-type{	
		border-bottom:1px solid #bbebd5;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div{	
		display:inline-block;
		vertical-align:top;
		padding:10px 10px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1{	
		width:144px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title{	
		font-size:18px;
		font-weight:bold;
		line-height:1;
		color:#333;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title.p-border:after{	
		content: ' ';
		display: block;
		font-size: 100%;
		position:relative;
		border-bottom:4px solid #bbebd5;
		width:80px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title2{	
		font-size:14px;
		font-weight:bold;
		color:#78c8a1;
		text-align:left;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-title2:after{	
		content: ' ';
		display: block;
		font-size: 100%;
		position:relative;
		border-bottom:4px solid #bbebd5;
		width:80px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column1 .p-month{	
		font-size:14px;
		font-weight:bold;
		color:#333;
		text-align:left;
		padding-top:15px;
	}
	.l-lineupBlock .l-lineup-table-right > div .p-message .p-title:after {
		content: ' ';
		display: block;
		font-size: 100%;
		margin-right:5px;
		position:relative;
		border-bottom:5px solid #FFFFFF;
		width:80px;
		margin:0 auto;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column2{	
		width:calc(100% - 144px);
		padding:10px 10px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column2 p{	
		line-height:0;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column2 img{	
		max-width:224px;
		width:100%;
		line-height:0;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column3{	
		width:auto;
		display:block;
		padding:0px 10px 10px;
	}
	.l-lineupBlock .l-lineup-table-right .l-message .l-table > div.l-column3 p{	
		font-size:14px;
		line-height:1.7;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/