@charset "utf-8";
/* CSS Document */

.l-access-inner{
	max-width: 784px;
    width: 100%;
}

#access table.l-table01{	
	width:100%;
	margin:0 auto 0;
}
#access table.l-table01 tr{	
	border-bottom:1px dotted #93c0ad;
}
#access table.l-table01 tr th{	
	text-align:left;
	vertical-align:middle;
	font-size:14px;
	font-weight:bold;
/*font-weight:500;*/
	padding:16px 0 16px 50px;
	width:240px;
}
#access table.l-table01 tr th span{
	color:#cc0000;
}
#access table.l-table01 tr td{
	text-align:left;
	vertical-align:middle;
	font-size:14px;
	/*font-weight:bold;*/
	font-weight:500;
	padding:16px;
}

#access .l-partsBlock03 .l-valueBlock01 .p-message:last-of-type {
    padding-bottom: 0;
}
#access .l-partsBlock03 .l-valueBlock01 .p-message span {
    font-size:18px;
	font-weight:bold;
	color:#0f616b;
	display:block;
}
#access .l-partsBlock03 .l-valueBlock01 .p-message span.p-caution {
    line-height: 2;
    font-size: 14px;
    padding-top: 0;
    text-align: left;
    letter-spacing: 0;
	color:#cc0000;
}
#access .l-partsBlock03 .l-valueBlock01 .p-message img {
    max-width:946px;
	width:100%;
}
#access .l-partsBlock03 .l-valueBlock01 .p-message.pt07 {
    padding-top:7px;
}

#access .l-table02{	
	text-align:left;
	margin-top:10px;
}
#access .l-table02 > div {	
	width:144px;
	display:inline-block;
}
#access .l-table02 > div p:nth-of-type(1){	
	width:144px;
	background-color:#7cb39b;
	color:#FFFFFF;
	text-align:center;
	font-size:14px;
	padding:5px 0;
}
#access .l-table02 > div p:nth-of-type(2){	
	color:#333333;
	text-align:center;
	font-size:14px;
	padding:10px 0;
}
#access .l-table02 > div p.p-th01{	
	border-top:1px solid #7cb39b;
	border-bottom:1px solid #7cb39b;
	border-left:1px solid #7cb39b;
	border-right:none;
}
#access .l-table02 > div p.p-th02{	
	border-top:1px solid #7cb39b;
	border-bottom:1px solid #7cb39b;
	border-left:1px solid #FFFFFF;
	border-right:none;
}
#access .l-table02 > div p.p-th03{	
	border-top:1px solid #7cb39b;
	border-bottom:1px solid #7cb39b;
	border-left:1px solid #FFFFFF;
	border-right:none;
}
#access .l-table02 > div p.p-th04{	
	border-top:1px solid #7cb39b;
	border-bottom:1px solid #7cb39b;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #7cb39b;
}
#access .l-table02 > div p.p-td01{	
	border-top:none;
	border-bottom:1px solid #7cb39b;
	border-left:1px solid #7cb39b;
	border-right:none;
}
#access .l-table02 > div p.p-td02{	
	border-top:none;
	border-bottom:1px solid #7cb39b;
	border-left:1px solid #7cb39b;
	border-right:none;
}
#access .l-table02 > div p.p-td03{	
	border-top:none;
	border-bottom:1px solid #7cb39b;
	border-left:1px solid #7cb39b;
	border-right:none;
}
#access .l-table02 > div p.p-td04{	
	border-top:none;
	border-bottom:1px solid #7cb39b;
	border-left:1px solid #7cb39b;
	border-right:1px solid #7cb39b;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	
	
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	#access table.l-table01{	
		width:100%;
		margin:0 auto 0;
	}
	#access table.l-table01 tbody{	
		width:100%;
	}
	#access table.l-table01 tr{	
		border-bottom:1px dotted #93c0ad;
	}
	#access table.l-table01 tr th{	
		text-align:left;
		vertical-align:middle;
		font-size:14px;
		font-weight:bold;
/*font-weight:500;*/
		padding:16px 16px 0 0;
		width:100%;
		display:block;
	}
	#access table.l-table01 tr th span{
		color:#cc0000;
	}
	#access table.l-table01 tr td{
		text-align:left;
		vertical-align:middle;
		font-size:14px;
		/*font-weight:bold;*/
		font-weight:500;
		padding:5px 16px 5px 0;
		width:100%;
		display:block;
	}
	
	#access .l-table02{
		width:100%;
		text-align:left;
		margin-top:10px;
	}
	#access .l-table02 > div {	
		width:25%;
		display:inline-block;
	}
	#access .l-table02 > div p:nth-of-type(1){	
		width:100%;
		background-color:#7cb39b;
		color:#FFFFFF;
		text-align:center;
		font-size:14px;
		padding:5px 0;
	}
	#access .l-table02 > div p:nth-of-type(2){	
		color:#333333;
		text-align:center;
		font-size:14px;
		padding:10px 0;
	}
	#access .l-table02 > div p.p-th01{	
		border-top:1px solid #7cb39b;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #7cb39b;
		border-right:none;
	}
	#access .l-table02 > div p.p-th02{	
		border-top:1px solid #7cb39b;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #FFFFFF;
		border-right:none;
	}
	#access .l-table02 > div p.p-th03{	
		border-top:1px solid #7cb39b;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #FFFFFF;
		border-right:none;
	}
	#access .l-table02 > div p.p-th04{	
		border-top:1px solid #7cb39b;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #FFFFFF;
		border-right:1px solid #7cb39b;
	}
	#access .l-table02 > div p.p-td01{	
		border-top:none;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #7cb39b;
		border-right:none;
	}
	#access .l-table02 > div p.p-td02{	
		border-top:none;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #7cb39b;
		border-right:none;
	}
	#access .l-table02 > div p.p-td03{	
		border-top:none;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #7cb39b;
		border-right:none;
	}
	#access .l-table02 > div p.p-td04{	
		border-top:none;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #7cb39b;
		border-right:1px solid #7cb39b;
	}
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	#access .l-partsBlock03 .l-valueBlock01 .p-message span {
		font-size:16px;
		font-weight:bold;
		color:#0f616b;
		display:block;
	}
	
	#access .l-table02{
		width:100%;
		text-align:left;
		margin-top:10px;
	}
	#access .l-table02 > div {	
		width:50%;
		display:inline-block;
	}
	#access .l-table02 > div p:nth-of-type(1){	
		width:100%;
		background-color:#7cb39b;
		color:#FFFFFF;
		text-align:center;
		font-size:14px;
		padding:5px 0;
	}
	#access .l-table02 > div p:nth-of-type(2){	
		color:#333333;
		text-align:center;
		font-size:14px;
		padding:10px 0;
	}
	#access .l-table02 > div p.p-th01{	
		border-top:1px solid #7cb39b;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #7cb39b;
		border-right:none;
	}
	#access .l-table02 > div p.p-th02{	
		border-top:1px solid #7cb39b;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #FFFFFF;
		border-right:none;
	}
	#access .l-table02 > div p.p-th03{	
		border-top:1px solid #7cb39b;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #7cb39b;
		border-right:none;
		margin-top:10px;
	}
	#access .l-table02 > div p.p-th04{	
		border-top:1px solid #7cb39b;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #FFFFFF;
		border-right:1px solid #7cb39b;
		margin-top:10px;
	}
	#access .l-table02 > div p.p-td01{	
		border-top:none;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #7cb39b;
		border-right:none;
	}
	#access .l-table02 > div p.p-td02{	
		border-top:none;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #7cb39b;
		border-right:1px solid #7cb39b;
	}
	#access .l-table02 > div p.p-td03{	
		border-top:none;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #7cb39b;
		border-right:none;
	}
	#access .l-table02 > div p.p-td04{	
		border-top:none;
		border-bottom:1px solid #7cb39b;
		border-left:1px solid #7cb39b;
		border-right:1px solid #7cb39b;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/